<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId=state.instanceId title="Translatable#Graph Options">
    <@content>
        <div class="graph-explorer-container">
            <div class="graph-options">
                <for|option| of=state.options>
                    <span>
                        <translation-string pattern=option.displayValue/>
                    </span>
                    <form-list
                        treeId=option.key
                        freeText=option.freeText
                        multiselect=option.multiselect
                    />
                </for>
            </div>

            <div class="dialog-control">
                <div class="dialog-button-container">
                    <button
                        type="button"
                        on-click("apply")
                        title=(state.translations["Translatable#Apply"])
                        class="kix-button submit-button"
                    >
                        <span class="kix-icon-check"/>
                        <translation-string pattern="Translatable#Apply"/>
                    </button>
                </div>
            </div>
        </div>
    </@content>
</widget>
