<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.configuration)>
    <div class="table-configuration-container table-container">
        <h2 class="configuration-title">
            <translation-string pattern="Translatable#Table Configuration"/>
        </h2>
        <table class="kix-table configuration-table">
            <thead>
                <tr>
                    <th class="table-head-cell">
                        <translation-string pattern="Translatable#Option"/>
                    </th>
                    <th class="table-head-cell">
                        <translation-string pattern="Translatable#Value"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="content-cell">
                        <translation-string pattern="Translatable#Table Height (Row Count)"/>
                    </td>
                    <td class="content-cell">
                        <input
                            type="number"
                            value=(state.configuration.displayLimit)
                            on-change("displayLimitChanged")
                            class="input-style"
                        >
                    </td>
                </tr>
                <tr>
                    <td class="content-cell">
                        <translation-string pattern="Translatable#Search Limit"/>
                    </td>
                    <td class="content-cell">
                        <input
                            type="number"
                            value=state.searchLimit
                            on-change("searchLimitChanged")
                            class="input-style"
                        >
                    </td>
                </tr>
                <tr>
                    <td class="content-cell">
                        <translation-string pattern="Translatable#Page Size"/>
                    </td>
                    <td class="content-cell">
                        <input
                            type="number"
                            value=state.limit
                            on-change("limitChanged")
                            class="input-style"
                        >
                    </td>
                </tr>
                <if(input.advancedSettings)>
                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Empty Result Hint"/>
                        </td>
                        <td class="content-cell">
                            <input
                                type="text"
                                value=(state.configuration.emptyResultHint)
                                on-change("resultHintChanged")
                                class="input-style"
                            >
                        </td>
                    </tr>

                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Fixed First Column"/>
                        </td>
                        <td
                            on-click("booleanValueChanged", "fixedFirstColumn")
                            class="content-cell"
                        >
                            <input
                                type="checkbox"
                                checked=(state.configuration.fixedFirstColumn)
                            >
                        </td>
                    </tr>

                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Row Selection"/>
                        </td>
                        <td
                            on-click("booleanValueChanged", "enableSelection")
                            class="content-cell"
                        >
                            <input
                                type="checkbox"
                                checked=(state.configuration.enableSelection)
                            >
                        </td>
                    </tr>

                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Small Rows"/>
                        </td>
                        <td on-click("rowHeightChanged") class="content-cell">
                            <input
                                type="checkbox"
                                checked=component.isSmallRows()
                            >
                        </td>
                    </tr>

                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Small Headers"/>
                        </td>
                        <td
                            on-click("headerHeightChanged")
                            class="content-cell"
                        >
                            <input
                                type="checkbox"
                                checked=component.isSmallHeaders()
                            >
                        </td>
                    </tr>
                </if>
            </tbody>
        </table>
    </div>
    <div class="table-configuration-container table-container">
        <table-columns-configuration
            advancedSettings=input.advancedSettings
            columns=(state.configuration.tableColumns)
            objectType=(state.configuration.objectType)
            on-configurationChanged("columnCOnfigurationChanged")
        />
    </div>
</if>
