.help-container {
    .widget-content {
        >.empty-notes {
            border: 1px solid @secondary-2;
            box-shadow: @shadow-3;
            background-color: @secondary-5;
            color: @secondary-2;
            height: 7rem;
            padding: @margin-small;
            margin: @margin-middle @margin-widget-content;
            box-sizing: border-box;
            text-align: center;
            display: grid;
            align-content: center;
            border-radius: @border-radius;
        }
        >.editor-container {
            >.cke {
                >.cke_inner {
                    >.cke_top {
                        >.cke_toolbar {
                            >.cke_toolgroup {
                                >a.cke_button {
                                    padding: 4px;
                                }
                            }
                        }
                    }
                    >.cke_bottom {
                        display: none;
                    }
                }
            }
        }
    }
}