<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<span.filter>
    <if(state.hasFilterList)>
        <span.predefined-filter>
            <form-list
                treeId=state.treeId
                disabled=state.disabled
                placeholder=state.predefinedFilterPlaceholder
                on-nodesChanged("predefinedFilterChanged")/>
        </span>
    </if>
    <input.input-style
        type="text"
        placeholder=state.placeholder
        value=state.textFilterValue
        disabled=state.disabled
        on-change("textFilterValueChanged")
        on-keydown("keyDown")/>
    <span.icon class=state.icon on-click("filter")>
        <span.path1/>
        <span.path2/>
        <span.path3/>
        <span.path4/>
        <span.path5/>
    </span>
    <if(state.showFilterCount)>
        <span.filter-count>${state.filterCountString}</span>
    </if>
</span>
