<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.admin-modules-explorer>
    <widget
        instanceId=state.instanceId
        title=(
            state.widgetConfiguration
                ? state.widgetConfiguration.title
                : "Translatable#Administration"
        )
    >
        <@content>
            <filter
                on-filter("filter")
                key="admin-modules-explorer-filter"
                filterValue=state.filterValue
                showFilterCount=false
            />
            <if(state.nodes && state.prepared)>
                <tree
                    tree=state.nodes
                    key="admin-modules-tree"
                    activeNode=state.activeNode
                    filterValue=state.filterValue
                    on-nodeClicked("activeNodeChanged")
                />
            </if>
        </@content>
    </widget>
</div>
