<!--
Copyright (C) 2006-2025 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.prepared)>
   <div class=[
      "row m-0 p-0",
      {
         "ps-5":
            input.parent && !input.parent.IS_COUNTABLE && input.parent.visible,
         "border-start":
            input.parent && !input.parent.IS_COUNTABLE && input.parent.visible,
      },
   ]>
      <if(Array.isArray(input.rows) && input.rows.length)>
         <for|rowColumns| of=input.rows>
            <if(Array.isArray(rowColumns) && rowColumns.length)>
               <for|column| of=rowColumns>
                  <div class=[
                     "row my-2 m-0 p-0 pe-3 ",
                     component.getColumnClasses(column),
                  ]>
                     <if(Array.isArray(column.fields) && column.fields.length)>
                        <for|field| of=column.fields>
                           <object-form-value
                              contextInstanceId=state.contextInstanceId
                              formValue=component.getFormValue(field)
                              parent=input.parent
                              key=component.getKey()
                              formLayout=input.formLayout
                              fieldLayout=input.fieldLayout
                           />
                        </for>
                     </if>
                  </div>
               </for>
            </if>
         </for>
      </if>
      <else>
         <for|formValue| of=state.formValues>
            <object-form-value
               contextInstanceId=state.contextInstanceId
               formValue=formValue
               parent=input.parent
               key=component.getKey()
               formLayout=input.formLayout
               fieldLayout=input.fieldLayout
            />
         </for>
      </else>
   </div>
</if>
