<widget instanceId=state.instanceId configurationTagId="chart-configuration" minimizable=input.minimizable>
    <@icon/>
    <@title>
        <if(state.widgetConfiguration)>${state.widgetConfiguration.title}</if>
    </@title>
    <@content>
        <div.chart>
            <svg id=state.svgId height="100%" width="100%"/>
        </div>
    </@content>
    <@filter>
        <span/>
    </@filter>
    <@actions/>
</widget>
