.overlay-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    z-index: 250;
    .message-button {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }
}