<form-auto-complete placeholder=(state.field.required ? "Ansprechpartner zuordnen" : "")
    searchCallback=state.searchCallback autoCompleteConfiguration=state.autoCompleteConfiguration
    on-itemChanged('contactChanged') required=state.field.required/>
