<form-list placeholder=(state.field.required ? "Ansprechpartner zuordnen" : "") searchCallback=state.searchCallback
    autoCompleteConfiguration=state.autoCompleteConfiguration on-nodesChanged('contactChanged')
    selectedNodes=[state.currentNode] invalid=state.invalid autocomplete=true/>
