<div.key-value-pair>
    <div.key title=component.getPropertyName()>
        <span.property-name>${component.getPropertyName()}</span>
    </div>
    <div.info>
        <if(input.info)>
            <include(input.info)/>
        </if>
    </div>
    <div.value title=component.getPropertyDisplayText() class=component.getValueClasses()>
        ${component.getPropertyDisplayText()}
        <if(input.icon)>
            <include(input.icon)/>
        </if>
    </div>
</div>
