<div.key-value-pair.clearfix>
    <span.key>${component.getPropertyName()}:</span>
    <span.info>
        <if(input.info)>
            <include(input.info)/>
        </if>
    </span>
    <span.value class=component.getValueClasses()>
        ${component.getPropertyDisplayText()}
        <if(input.icon)>
            <include(input.icon)/>
        </if>
    </span>
</div>
