.key-value-pair {
    display: grid;
    grid-template-columns: 5em 2em 5em;
    .key,
    .value {
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
    }
    .key {
        .property-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 90%;
            float: left;
        }
        &:after {
            content: ":"
        }
    }
    .info {
        cursor: pointer;
    }
    .value {
        [class^="kix-icon-"],
        [class*=" kix-icon-"],
        .svg-icon {
            margin-left: 5px;
        }
    }
}