.channel-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 1rem;
    margin-bottom: 1.5rem;
    >.channel-item {
        width: 3rem;
        height: 3rem;
        border: 1px solid @primary-1;
        border-radius: @border-radius;
        color: @primary-1;
        font-size: 3rem;
        box-shadow: @shadow-1;
        display: grid;
        align-items: center;
        text-align: center;
        >.channel-text {
            .shorten-text();
            display: none;
            font-size: 1rem;
            font-weight: bold;
        }
        &:hover {
            background-color: @secondary-6;
            cursor: pointer;
            >.channel-text {
                display: block;
            }
            >.channel-icon {
                display: none;
            }
        }
        &.active {
            background-color: @primary-1;
            color: @secondary-6;
        }
    }
}