<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<if(state.show)>
    <div.main-dialog-container>
        <div.shield/>
        <div.main-dialog>
            <widget isDialog=true title=component.dialogTitle minimizable=false icon=component.dialogIcon>
                <@content>
                    <tab-container tabWidgets=state.dialogWidgets tabId=component.dialogId minimizable=false contextType="DIALOG" on-tabChanged("tabChanged")/>
                    <!-- FIXME: hint is mainly depricated -->
                    <kix-footer leftText=state.dialogHint/>
                </@content>
            </widget>
            <loading-shield/>
            <span.kix-icon-close.close-button on-click("close", { byX: true })/>
        </div>
    </div>
</if>
