.translation-language-container {
    >.key-value-pair {
        padding: 0.5rem;
        grid-template-columns: 9rem 0rem auto;
        .key {
            font-weight: bold;
        }
        &::after {
            clear: none;
        }
        &::before,
        &::after {
            display: none;
        }
    }
}