<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.file-entry title=(((state.fileName + " (") + state.fileSize) + ")")>
    <span.file-entry-icon>
        <icon icon=state.icon showUnknown=true/>
    </span>
    <span.file-entry-link on-click('onClick')>${state.fileName}</span>
    <span.file-size>
        <if(state.fileSize)>(${state.fileSize})</if>
    </span>
</div>
