<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget title=state.translations["Translatable#Welcome to KIX 18"]>
    <@content>
        <div.slider-widget>
            <div.slider-menu>
                <for|sliderElement, index| of=state.sliderList>
                    <span
                        class={
                            active: index === state.activeSliderIndex
                        }
                        title=state.translations[sliderElement.title]
                        on-click("showSlider", index)/>
                </for>
            </div>
            <div.slider-image key="slider-image">
                <if(state.activeSlider && state.activeSlider.image)>
                    <if(state.activeSlider.imageIsBase64)>
                        <img
                            alt=state.translations[state.activeSlider.title]
                            src=state.activeSlider.image/>
                    </if>
                    <else>
                        <img
                            alt=state.translations[state.activeSlider.title]
                            src=(
                                "/static/img/release/" +
                                state.activeSlider.image
                            )/>
                    </else>
                </if>
            </div>
            <div.slider-block>
                <if(state.activeSliderIndex !== 0)>
                    <div.slider-button.useable
                        title=state.translations["Translatable#previous"]
                        on-click("previousSlider")>
                        <span.kix-icon-nook-left/>
                    </div>
                </if>
                <else>
                    <div.slider-button/>
                </else>
                <div.slider-content key="slider-content">
                    <if(state.activeSlider)>
                        <h1.slider-content-title>
                            <translation-string pattern=state.activeSlider.title/>
                            <if(
                                state.activeSliderIndex === 0 &&
                                state.userString
                            )>${" " + state.userString}</if>
                        </h1>
                        <div.slider-content-text>
                            <translation-string pattern=state.activeSlider.text/>
                        </div>
                    </if>
                    <if(
                        state.activeSliderIndex ===
                        state.sliderList.length - 1
                    )>
                        <div.slider-content-buttons>
                            <button.kix-button.submit-button
                                type="button"
                                title=state.translations["Translatable#Let's go"]
                                on-click("closeReleaseInfos")>
                                <span.kix-icon-check/>
                                <translation-string pattern="Translatable#Let's go"/>
                            </button>
                        </div>
                    </if>
                    <else-if(state.activeSliderIndex === 0)>
                        <div.slider-content-buttons.start-buttons>
                            <button.kix-button
                                type="button"
                                title=state.translations[
                                    "Translatable#No, thank you"
                                ]
                                on-click("closeReleaseInfos")>
                                <span.kix-icon-close/>
                                <translation-string pattern="Translatable#No, thank you"/>
                            </button>
                            <button.kix-button
                                type="button"
                                title=state.translations[
                                    "Translatable#Yes, please"
                                ]
                                on-click("showSlider", 1)>
                                <span.kix-icon-check/>
                                <translation-string pattern="Translatable#Yes, please"/>
                            </button>
                        </div>
                    </else-if>
                </div>
                <if(
                    state.activeSliderIndex > 0 &&
                    state.activeSliderIndex < state.sliderList.length - 1
                )>
                    <div.slider-button.useable
                        title=state.translations["Translatable#next"]
                        on-click("nextSlider")>
                        <span.kix-icon-nook-right/>
                    </div>
                </if>
                <else>
                    <div.slider-button/>
                </else>
            </div>
        </div>
    </@content>
</widget>
