<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.configuration)>
    <h2 class="configuration-title">
        <translation-string pattern="Translatable#Table Widget"/>
    </h2>
    <div class="table-widget-configuration-container table-container">
        <if(input.advancedSettings)>
            <table class="kix-table configuration-table">
                <thead>
                    <tr>
                        <th class="table-head-cell">
                            <translation-string pattern="Translatable#Option"/>
                        </th>
                        <th class="table-head-cell">
                            <translation-string pattern="Translatable#Value"/>
                        </th>
                    </tr>
                </thead>
                <tbody class="show-object">
                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Show Filter"/>
                        </td>
                        <td on-click("showFilterChanged") class="content-cell">
                            <input
                                type="checkbox"
                                checked=(state.configuration.showFilter)
                            >
                        </td>
                    </tr>

                    <tr>
                        <td class="content-cell">
                            <translation-string pattern="Translatable#Sort"/>
                        </td>
                        <td class="content-cell table-sort">
                            <form-list
                                treeId=state.sortTreeId
                                multiselect=false
                                on-nodesChanged("sortColumnChanged")
                            />
                            <translation-string pattern="Translatable#DESC"/>
                            <input
                                type="checkbox"
                                on-click("sortOrderChanged")
                                checked=state.isDESC
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </if>
        <if(state.tableConfigurationTemplate)>
            <${state.tableConfigurationTemplate}
                configuration=(state.configuration.configuration)
                advancedSettings=input.advancedSettings
                on-configurationChanged("configurationChanged")
            />
        </if>
    </div>
</if>
