.action-list-wrapper {
    .header-right & {
        width: 80%;
    }
    ul {
        display: block;
        list-style: none;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 0 .5em 0;
            margin: 0 .5em;
            box-sizing: border-box;
            text-overflow: ellipsis;
            line-height: 32px;
            [class^="kix-icon-"],
            [class*=" kix-icon-"] {
                margin-right: .25em;
            }
            div {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        &.action-list {
            padding: 0 .5em 0 1em;
            height: 32px;
            text-align: right;
            white-space: nowrap;
            li {
                max-width: 110px;
                text-align: right;
                &:first-of-type {
                    margin-left: 0;
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-left: 0;
                    margin-right: 0;
                }
                &.list-button {
                    span {
                        padding: 3px 2px 0px 2px;
                        margin: 0px;
                        border-radius: @border-radius;
                        position: relative;
                        top: 2px;
                        &::before {
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
    .action-list-expansion-container {
        position: absolute;
        right: 0;
        z-index: 10;
        top: @margin-default;
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        .action-list-expansion {
            z-index: 1;
            text-align: left;
            li {
                height: 32px;
                display: block;
                margin: 0 .5em;
                padding: 0 .5em 0 0.625em;
            }
        }
    }
    [class^="kix-icon-"],
    [class*=" kix-icon-"] {
        font-size: 1.125em;
    }
}