h1 {
  font-weight: bold;
}
h5 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
code {
  color: #000;
  background-color: #f0f0f0;
}
pre {
  margin-left: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.75);
  box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.75);
  background-color: #fcfcfc;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 15px;
}
pre.base-uri {
  margin-left: 0px;
}
pre > code ul.json-dict {
  margin-bottom: 0px;
}
table,
.table
.param-table {
  border-collapse: collapse;  
  border-color: #ddd;
  border: 0;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd !important;
}
table thead th,
.table thead th,
.param-table thead th {
  background-color: #fafafa;
  padding: 8px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}
table tbody td,
.table tbody td,
.param-table tbody td {
  vertical-align: top;
  padding: 8px;
  border: 1px solid #ddd;
}
.container {
  width: 75%;
}
.hljs {
  background: transparent;
}
.parent {
  color: #999;
}
.list-group-item > .badge {
  float: none;
  margin-right: 6px;
}
.resource {
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.response {
  margin-left: 20px;
  margin-bottom: 40px;
}
.response-nav {
  margin-bottom: 40px;
}
.response-nav .badge {
  color: #000;
  background-color: #d0d0d0;
  margin-right: 10px;
}
.page-header {
  padding-bottom: 0px;
  border-bottom: none;
}
.chapter {
  margin: 40px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.panel-title > .methods {
  float: right;
}
.badge {
  border-radius: 4px;
  text-transform: uppercase;
  width: 70px;
  font-weight: normal;
  color: #f3f3f6;
  line-height: normal;
}
.badge_get {
  background-color: #63a8e2;
}
.badge_post {
  background-color: #6cbd7d;
}
.badge_put {
  background-color: #22bac4;
}
.badge_delete {
  background-color: #d26460;
}
.badge_patch {
  background-color: #ccc444;
}
.list-group,
.panel-group {
  margin-bottom: 0;
}
.panel-group .panel+.panel-white {
  margin-top: 0;
}
.panel-group .panel-white {
  border-bottom: 1px solid #F5F5F5;
  border-radius: 0;
}
.panel-white:last-child {
  border-bottom-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-white .panel-heading {
  background: white;
}
.tab-pane ul {
  padding-left: 2em;
}
.tab-pane h1 {
  font-size: 1.3em;
}
.tab-pane h2 {
  font-size: 1.2em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
.tab-pane h3 {
  font-size: 1.1em;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
#sidebar {
  margin-top: 30px;
  padding-right: 5px;
  padding-left: 5px;
  overflow: auto;
  height: 90%;
  border-left: 1px solid #ddd;
}
.top-resource-description {
  border-bottom: 1px solid #ddd;
}
.resource-description {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 10px 15px;
}
.resource-description p:last-child {
  margin: 0;
}
.top-resource-description > h5:first-child,
.resource-description > h5:first-child {
  margin-top: 5px;
}
.list-group .badge {
  float: left;
}
.method-description {
  margin-left: 85px;
}
.method-description p:last-child {
  margin: 0;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #f5f5f5;
}
pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
.items {
  background: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
}
.examples {
  margin-left: 0.5em;
}
.schemas {
  margin-left: 0.5em;
}
.resource-modal li > ul {
  margin-bottom: 1em;
}
.modal-lg {
  width: 70%;
}
.toggle {
  margin-left: 20px;
}
.nav > li > a.nav-resource {
  padding-left: 40px;
}
.uri {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 95%;
}