ul.settings-navigation {
    list-style: none;
}

li.settings-link {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    background-color: @tertiary-5;
    margin: 1px !important;
    padding: 0;
    text-align: center;
    color: #fff;
}

div.ps-content {
    border: 2px solid @primary-0;
}