ul.settings-navigation {
    list-style: none;
}

li.settings-link {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px solid @secondary-7;
    background-color: @primary-0;
    margin: 1px !important;
    padding: 0;
    text-align: center;
    color: @secondary-6;
}

div.ps-content {
    border: 2px solid @primary-1;
}