<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId="edit-linked-objects-dialog"
    icon="kix-icon-link"
    title=state.title
>
    <@content>
        <if(state.mainObject)>
            <div.edit-linked-objects-dialog-container>
                <div.table-head>
                    <span>
                        <translation-string
                            pattern="Translatable#Existing Links ({0})"
                            placeholders=[state.linkObjectCount]
                        />
                    </span>
                </div>
                <if(state.table)>
                    <kix-table table=state.table/>
                </if>
                <div.dialog-button-container>
                    <if(state.allowDelete)>
                        <button.kix-button.form-blank-cancel-button
                            type="button"
                            on-click("markToDelete")
                            title=(
                                state.translations["Translatable#Delete Link"]
                            )
                        >
                            <span.kix-icon-trash/>
                            <translation-string pattern="Translatable#Delete Link"/>
                        </button>
                    </if>
                </div>
            </div>
            <widget
                instanceId="add-linked-objects-form"
                minimizable
                minimized=false
                title="Translatable#Add new Links"
            >
                <@content>
                    <link-object-dialog
                        linkDescriptions=state.linkDescriptions
                        objectType=(state.mainObject.KIXObjectType)
                        rootObject=state.mainObject
                        on-linksAdded("linksAdded")
                    />
                </@content>
            </widget>
        </if>
    </@content>
</widget>
<div.dialog-control>
    <div.dialog-button-container>
        <button.kix-button.cancel-button
            disabled=state.processing
            type="button"
            on-click("cancel")
            title=(state.translations["Translatable#Cancel"])
        >
            <span.kix-icon-close/>
            <span>${state.translations["Translatable#Cancel"]}</span>
        </button>
        <button.kix-button.submit-button
            disabled=state.processing
            type="button"
            on-click("submit")
            title=(state.translations["Translatable#Submit"])
        >
            <span.kix-icon-check/>
            <span>${state.translations["Translatable#Submit"]}</span>
        </button>
    </div>
</div>
