<!--
Copyright (C) 2006-2025 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId="edit-linked-objects-dialog"
    icon="kix-icon-link"
    title=state.title
>
    <@content>
        <if(state.mainObject)>
            <div class="edit-linked-objects-dialog-container">
                <div class="table-head">
                    <span>
                        <translation-string
                            pattern="Translatable#Existing Links ({0})"
                            placeholders=[state.linkObjectCount]
                        />
                    </span>
                </div>
                <if(state.table)>
                    <input
                        type="text"
                        placeholder=state.filterPlaceholder
                        class="input-style mb-2"
                        on-keydown("filterKeyDown")
                    >
                    <kix-table table=state.table/>
                </if>
                <div class="dialog-button-container">
                    <if(state.allowDelete)>
                        <button
                            type="button"
                            on-click("markToDelete")
                            title=(
                                state.translations["Translatable#Delete Link"]
                            )
                            class="kix-button form-blank-cancel-button"
                        >
                            <span class="kix-icon-trash"/>
                            <translation-string pattern="Translatable#Delete Link"/>
                        </button>
                    </if>
                </div>
            </div>
            <widget
                instanceId="add-linked-objects-form"
                minimizable
                minimized=false
                title="Translatable#Add new Links"
            >
                <@content>
                    <link-object-dialog
                        linkDescriptions=state.linkDescriptions
                        objectType=(state.mainObject.KIXObjectType)
                        rootObject=state.mainObject
                        on-linksAdded("linksAdded")
                    />
                </@content>
            </widget>
        </if>
    </@content>
</widget>
<div class="dialog-control">
    <div class="dialog-button-container">
        <button
            disabled=state.processing
            type="button"
            on-click("cancel")
            title=(state.translations["Translatable#Cancel"])
            class="kix-button cancel-button"
        >
            <span class="kix-icon-close"/>
            <span>${state.translations["Translatable#Cancel"]}</span>
        </button>
        <button
            disabled=state.processing
            type="button"
            on-click("submit")
            title=(state.translations["Translatable#Submit"])
            class="kix-button submit-button"
        >
            <span class="kix-icon-check"/>
            <span>${state.translations["Translatable#Submit"]}</span>
        </button>
    </div>
</div>
