<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId="edit-linked-objects-dialog">
    <@content>
        <div.edit-linked-objects-dialog-container>
            <div.table-head>
                <span>
                    <translation-string pattern="Translatable#Existing Links ({0})" placeholders=[state.linkObjectCount]/>
                </span>
                <filter on-filter("filter") key="edit-linked-objects-filter"/>
            </div>
            <if(state.table)>
                <standard-table-NEW table=state.table/>
            </if>
            <div.dialog-button-container>
                <if(state.allowDelete)>
                    <button.form-blank-cancel-button
                        type="button"
                        on-click("markToDelete")
                        title=state.translations["Translatable#Delete Link"]>
                        <span.kix-icon-trash/>
                        <translation-string pattern="Translatable#Delete Link"/>
                    </button>
                </if>
                <if(state.allowCreate)>
                    <button.form-blank-button
                        type="button"
                        on-click("openAddLinkDialog")
                        title=state.translations["Translatable#Assign Link"]>
                        <span.kix-icon-new-link/>
                        <translation-string pattern="Translatable#Assign Link"/>
                    </button>
                </if>
            </div>
        </div>
        <div.dialog-button-container>
            <button.cancel-button type="button" on-click("cancel") title=state.translations["Translatable#Cancel"]>
                <span.kix-icon-close/>
                <translation-string pattern="Translatable#Cancel"/>
            </button>
            <button.submit-button
                type="button"
                on-click("submit")
                title=state.translations["Translatable#Submit"]
                disabled=!state.canSubmit>
                <span.kix-icon-check/>
                <translation-string pattern="Translatable#Submit"/>
            </button>
        </div>
    </@content>
</widget>
