<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.field)>
    <div.pending-state>
        <span>
            <translation-string pattern="Translatable#Wait until"/>:
        </span>
        <input.input-style.date-input
            type="date"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
            on-change("dateChanged")
            value=state.selectedDate
            readonly=state.field.readonly
            disabled=state.field.readonly
            class={
                invalid: state.invalid
            }/>
        <span.kix-icon-calendar/>
        <span>-</span>
        <select.input-style.time-input
            required
            on-change("timeChanged")
            readonly=state.field.readonly
            disabled=state.field.readonly>
            <for|time| of=state.times>
                <option selected=(state.selectedTime === time)>${time}</option>
            </for>
        </select>
        <span.kix-icon-time/>
    </div>
</if>
