<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<span.icon class=input.class>
    <if(state.content)>
        <if(state.base64)>
            <img.svg-icon
                style=input.style
                src="data:" + state.contentType + ";base64," + state.content
                title=state.tooltip
                key=state.iconId
                alt=state.tooltip
            >
        </if>
        <else>
            <span
                style=input.style
                class=state.content
                title=state.tooltip
                key=state.iconId
            >
                <span.path1/>
                <span.path2/>
                <span.path3/>
                <span.path4/>
                <span.path5/>
            </span>
        </else>
    </if>
</span>
