<if(state.loading)>
    <loading-spinner/>
</if>
<else>
    <form-list nodes=state.nodes placeholder=(state.field.required ? state.field.label : "")
        on-nodesChanged('valueChanged') selectedNodes=[state.currentNode] invalid=state.invalid/>
</else>
