.field-input {
    .dropdown-tree {
        >.tree-list {
            z-index: 1;
            position: absolute;
            top: @default-input-height;
            left: 0;
            right: 0;
            max-height: 15rem;
            overflow: auto;
            border: 1px solid @secondary-4;
            background-color: @secondary-2;
        }
    }
}