<if(input.short)>
    <span.kix-icon-print on-click('doAction') title="Alle Anlagen als Zip herunterladen"/>
</if>
<else>
    <div.action on-click('doAction') title="Alle Anlagen als Zip herunterladen">
        <span.kix-icon-save/>
        <span>Download</span>
    </div>
</else>
