<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.bookmark-dropdown-container title=state.translations["Translatable#Favorites"]>
    <div.action-icon>
        <icon icon="kix-icon-star-fully"/>
    </div>
    <div.action-text>
        <if(state.isMobile)>
            ${state.translations["Translatable#Favorites"] +
            " (" +
            state.bookmarks.length +
            ")"}
        </if>
        <else>${state.bookmarks.length}</else>
    </div>
    <ul>
        <for|bookmark| of=state.bookmarks>
            <li on-click("bookmarkClicked", bookmark)>
                <icon icon=bookmark.icon/>${bookmark.title}
            </li>
        </for>
    </ul>
</div>
