<form-list
    nodes=state.nodes
    placeholder=state.placeholder
    selectedNodes=[state.currentNode]
    on-focusLost("focusLost")
    on-nodesChanged("priorityChanged")
    invalid=state.invalid
    multiselect=state.multiselect
    readonly=state.field.readonly/>
