.tab-lane {
    >.lane-widget {
        >.widget-header {
            >.header-left {
                >.tab-list {
                    list-style: none;
                    li {
                        background-color: @primary-4;
                        color: @primary-0;
                        border: 1px solid @primary-2;
                        border-top-left-radius: @border-radius;
                        border-top-right-radius: @border-radius;
                        margin-right: .5em;
                        padding: 0.25em 0.5em 0.25em 0.5em;
                        font-weight: 600;
                        float: left;
                        height: 1.25em;
                        margin-top: 0.25em;
                        line-height: normal;
                        cursor: pointer;
                        &.active {
                            z-index: 5;
                            background-color: @secondary-6;
                            color: @primary-0;
                        }
                    }
                }
            }
        }
        &.minimized {
            >.widget-header {
                >.header-left {
                    >.tab-list {
                        display: none;
                    }
                }
            }
        }
        &:not(.minimized) {
            >.widget-header {
                >.header-left {
                    >h3 {
                        display: none;
                    }
                }
            }
        }
        >.widget-content {
            >.tab-content {
                .widget-header {
                    display: none;
                }
            }
        }
    }
}