<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.ticket-queue-explorer>
    <widget
        instanceId=state.instanceId
        title=(
            state.widgetConfiguration
                ? state.widgetConfiguration.title
                : "Queues"
        )>
        <@content>
            <div.show-all
                class={
                    active: !state.activeNode
                }
                on-click("showAll")>
                <translation-string pattern="Translatable#Show Backlog"/>
            </div>
            <if(state.nodes)>
                <tree
                    tree=state.nodes
                    activeNode=state.activeNode
                    on-nodeClicked("activeNodeChanged")/>
            </if>
            <else>
                <loading-spinner/>
            </else>
            <loading-shield shieldId="ticket-queue-explorer"/>
        </@content>
    </widget>
</div>
