<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.web-form-code>
    <if(!state.loading)>
        <widget
            instanceId="web-form-code-group"
            title=(
                state.translations[
                    "Translatable#Include this code into the <head> area of your webpage."
                ]
            )
        >
            <@content>
                <if(state.headCode)>
                    <p>
                        <translation-string pattern="Translatable#Do not forget to replace the <YOUR_FRONTEND_HOST> placeholder (if it is not already)."/>
                    </p>
                    <editor readOnly value=state.headCode useReadonlyStyle/>
                </if>
            </@content>
        </widget>
        <widget
            instanceId="web-form-code-group"
            title=(
                state.translations[
                    "Translatable#Place this code wherever you want to open the webform dialog."
                ]
            )
        >
            <@content>
                <if(state.buttonCode)>
                    <editor readOnly value=state.buttonCode useReadonlyStyle/>
                </if>
            </@content>
        </widget>
    </if>
    <else><table-placeholder/></else>
</div>
