.widget-selection {
    height: 300px;
    >div {
        float: left;
    }
    h3 {
        text-transform: uppercase;
    }
    .first-list {
        width: 300px;
    }
    .selection-buttons {
        margin-left: 35px;
    }
    .second-list {}
}