.back {
    height: 1.5em;
    line-height: 1.5em;
    >div {
        background: @secondary-6;
        color: @secondary-1;
        padding: 0 0.5em;
        border-radius: 3px;
        display: inline-block;
        width: @back-button-width;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        & span {
            vertical-align: middle;
            margin-right: .5em;
            padding-top: 2px;
            &[class^="kix-icon-"],
            &[class*=" kix-icon-"] {
                padding-top: 0;
            }
        }
    }
}