.back {
    height: 16px;
    margin-bottom: 16px;
    line-height: 16px;
    > div {
        .color-theme-9;
        padding: 0 .5em;
        box-shadow: @shadow;
        border-radius: 3px;
        display: inline-block;
        min-width: 120px;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        & span {
            vertical-align: middle;
            margin-right: .5em;
            padding-top: 2px;
            &[class^="kix-icon-"],
            &[class*=" kix-icon-"] {
                padding-top: 0;
            }
        }
    }
}