<!--
Copyright (C) 2006-2019 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <if(state.user)>
            <div.user-information>
                <div.information-list>
                    <div>
                        <object-property-label object=state.user property="UserTitle" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserFirstname" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserLastname" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserLogin" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserPhone" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserMobile" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserEmail" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="ValidID" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="UserComment" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="CreateTime" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="CreateBy" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="ChangeTime" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.user property="ChangeBy" labelProvider=state.labelProvider/>
                    </div>
                </div>
            </div>
        </if>
    </@content>
</widget>
