<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.linkable-objects-form-button-container>
    <button.kix-button.form-blank-submit-button
        type="button"
        on-click("executeSearch")
        title=state.translations["Translatable#Start search"]
        disabled=!state.canSearch>
        <span.kix-icon-search/>
        <translation-string pattern="Translatable#Start search"/>
    </button>
</div>
