<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<widget instanceId="personal-settings-dialog">
    <@content>
        <div.personal-settings-dialog-container>
            <main-form/>
            <div.dialog-control>
                <div.dialog-button-container>
                    <button.button-without-text.cancel-button
                        type="button"
                        on-click("cancel")
                        title=state.translations["Translatable#Cancel"]>
                        <span.kix-icon-close/>
                    </button>
                    <button.button-without-text.submit-button
                        type="button"
                        on-click("submit")
                        title=state.translations["Translatable#Save"]>
                        <span.kix-icon-check/>
                    </button>
                </div>
            </div>
        </div>
    </@content>
</widget>
