.overlay-icon {
    color: @secondary-0;
    font-size: 0.625em;
    cursor: pointer;
    &.overlay-shown,
    &:hover {
        color: @tertiary-1;
    }
    &.hint-icon.overlay-shown,
    &.hint-icon:hover {
        color: @secondary-2;
    }
}