.overlay-icon {
    color: @secondary-0;
    &.overlay-shown,
    &:hover {
        color: @tertiary-1;
        cursor: pointer;
    }
    &.hint-icon.overlay-shown,
    &.hint-icon:hover {
        color: @secondary-2;
        cursor: help;
    }
}