<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<macro|{ id, title }| name="faq-content-item">
    <div class="accordion-item">
        <h2 class="accordion-header" id=id + "header">
            <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#" + id
                aria-expanded="true"
                aria-controls=id>
                ${title}
            </button>
        </h2>
        <div id=id class="accordion-collapse collapse show" aria-labelledby=id>
            <div class="accordion-body">
                <iframe-content
                    html=(state.html[id])
                    sanboxAttributes=["allow-popups"]
                    calculateHeight/>
            </div>
        </div>
    </div>
</macro>

<if(state.faqArticle)>
    <widget
        contextInstanceId=state.contextInstanceId
        instanceId=state.instanceId
        contextType="MAIN"
        title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
        actions=state.actions>
        <@content>
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-6">
                    <div class="accordion" id="faq-content-accordion">
                        <faq-content-item
                            id="field1"
                            title=(state.translations["Translatable#Symptom"])/>
                        <faq-content-item
                            id="field2"
                            title=(state.translations["Translatable#Cause"])/>
                        <faq-content-item
                            id="field3"
                            title=(
                                state.translations["Translatable#Solution"]
                            )/>
                        <faq-content-item
                            id="field6"
                            title=(state.translations["Translatable#Comment"])/>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div.faq-rating title=component.getRatingTooltip()>
                        <span>
                            <translation-string pattern="Translatable#Rating"/>:
                        </span>
                        <span>
                            <if(state.faqArticle.VoteCount)>
                                <for|icon| of=component.stars>
                                    <icon icon=icon/>
                                </for>
                                <span>(${component.rating})</span>
                            </if>
                            <else>
                                <span class="fw-bold">
                                    <translation-string pattern="Translatable#No rating available."/>
                                </span>
                            </else>
                        </span>
                    </div>
                    <div.faq-attachments>
                        <span>
                            <translation-string pattern="Translatable#Attachments"/>:
                        </span>
                        <for|attachment| of=state.attachments>
                            <file-entry
                                attachment=attachment
                                on-fileClicked("download", attachment)/>
                        </for>
                    </div>
                </div>
            </div>
        </@content>
    </widget>
</if>
<else>
    <table-placeholder/>
</else>
