<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.faqArticle && state.inlineContent)>
    <widget
        instanceId=state.instanceId
        contextType="MAIN"
        title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
        actions=state.actions>
        <@content>
            <div.faq-article-content-container>
                <div>
                    <widget
                        instanceId="faq-article-group"
                        title=state.translations["Translatable#Symptom"]>
                        <@content>
                            <editor
                                readOnly=true
                                value=state.faqArticle.Field1
                                inlineContent=state.inlineContent
                                useReadonlyStyle=true/>
                        </@content>
                    </widget>
                    <widget
                        instanceId="faq-article-group"
                        title=state.translations["Translatable#Cause"]>
                        <@content>
                            <editor
                                readOnly=true
                                value=state.faqArticle.Field2
                                inlineContent=state.inlineContent
                                useReadonlyStyle=true/>
                        </@content>
                    </widget>
                    <widget
                        instanceId="faq-article-group"
                        title=state.translations["Translatable#Solution"]>
                        <@content>
                            <editor
                                readOnly=true
                                value=state.faqArticle.Field3
                                inlineContent=state.inlineContent
                                useReadonlyStyle=true/>
                        </@content>
                    </widget>
                    <widget
                        instanceId="faq-article-group"
                        title=state.translations["Translatable#Comment"]>
                        <@content>
                            <editor
                                readOnly=true
                                value=state.faqArticle.Field6
                                inlineContent=state.inlineContent
                                useReadonlyStyle=true/>
                        </@content>
                    </widget>
                </div>
                <div>
                    <div.faq-rating title=component.getRatingTooltip()>
                        <span.faq-rating-label>
                            <translation-string pattern="Translatable#Rating"/>:
                        </span>
                        <span.faq-rating-info>
                            <if(state.faqArticle.VoteCount)>
                                <for|icon| of=component.stars>
                                    <icon icon=icon/>
                                </for>
                                <span>(${component.rating})</span>
                            </if>
                            <else>
                                <span>
                                    <b><translation-string pattern="Translatable#No rating available."/></b>
                                </span>
                            </else>
                        </span>
                    </div>
                    <div.faq-attachments>
                        <span>
                            <translation-string pattern="Translatable#Attachments"/>:
                        </span>
                        <for|attachment| of=state.attachments>
                            <file-entry attachment=attachment on-fileClicked("download", attachment)/>
                        </for>
                    </div>
                </div>
            </div>
        </@content>
    </widget>
</if>
<else>
    <table-placeholder/>
</else>
