.drag-widget {
    position: relative;
    [draggable] {
        user-select: none;
    }
    &.config-mode {
        z-index: 100;
        position: relative;
    }
    .widget-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: move;
        border-radius: 3px;
        .widget-overlay-content {
            position: absolute;
            opacity: 0.2;
            top: 2em;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: @config-color;
            border: 1px solid @secondary-0;
            border-top: none;
            box-sizing: border-box;
        }
    }
    &.size1of1 {
        .widget-overlay {
            cursor: ns-resize;
        }
    }
    .drag-element {
        opacity: 0.7;
    }
    .drop-element {
        background-color: @tertiary-3;
    }
}