[draggable] {
    user-select: none;
}

.drag-overlay {
    opacity: 0.2;
    background-color: @tertiary-5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: move;
    border-radius: 3px;
}

.drag-element {
    opacity: 0.7;
}

.drop-element {
    background-color: @tertiary-3;
}