<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.prepared)>
    <if(state.hasListFilter)>
        <form-list-tree treeId=state.treeId/>
    </if>
    <else-if(state.isAutocompleteFilter)>
        <div class="filter-autocomplete">
            <form-list
                treeId=state.treeId
                canRemoveNode
                multiselect
                autoCompleteConfiguration=state.autoCompleteConfiguration
                searchCallback=state.autoCompleteCallback
                hideSubmitButton
                expanded
            />
        </div>
    </else-if>
    <else>
        <input
            type="text"
            placeholder=state.placeholder
            value=state.filterText
            on-change("textFilterValueChanged")
            on-keydown("filterKeyDown")
            key="column-filter-input"
            class="input-style"
        >
    </else>
</if>
