<label.form-label>
    Status
    <if(!state.loading)>
        <select on-change("valueChanged")>
            <for(ticketState in state.ticketStates)>
                <option value=ticketState.ID selected=(state.stateId === ticketState.ID)>${ticketState.Name}</option>
            </for>
        </select>
    </if>
</label>
