<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<for|info| of=state.footerInformation>
    <div class="d-flex justify-content-center fs-6 text-secondary">
        <span>${info}</span>
    </div>
</for>
<div class="d-flex justify-content-center fs-6 text-secondary">
    <span class="pe-2 me-2 border-2 border-end">
        ${state.kixVersion}
    </span>
    <if(state.currentUserLogin)>
        <span class="pe-2 me-2 border-2 border-end">
            <translation-string pattern="Translatable#Logged in"/>
            ${": " + state.currentUserLogin}
        </span>
    </if>
    <span class="pe-2 me-2 border-2 border-end">
        <translation-string pattern="Translatable#A product by KIX Service Software GmbH"/>
    </span>
    <if(state.imprintLink)>
        <span>
            <a href=state.imprintLink target="_blank">
                <translation-string pattern="Translatable#Imprint"/>
            </a>
        </span>
    </if>
</div>
