<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div
    class=["notification-dropdown-container", state.notificationClass]
    title=(state.translations["Translatable#Notifications"])
>
    <div class="action-icon">
        <icon icon=state.notificationIcon/>
    </div>
    <div class="action-text">
        <if(state.isMobile)>
            ${state.translations["Translatable#Notifications"] +
            " (" +
            state.notificationsCount +
            ")"}
        </if>
        <else>${state.notificationsCount}</else>
    </div>

    <div class="notification-group-list">
        <for|group| of=state.notifications>
            <div class="notification-group">
                <div class="notification-group-title">
                    <span>
                        <translation-string pattern=group[0]/>
                         (${group[1].length})
                    </span>
                    <if(component.isGroupRemovable(group[0]))>
                        <div
                            on-click("removeGroup", group[0])
                            class="notification-group-remove"
                        >
                            <span class="kix-icon-close"/>
                        </div>
                    </if>
                </div>
                <ul>
                    <for|notification| of=group[1]>
                        <li
                            on-click("notificationClicked", notification)
                            class={
                                "notification-advise":
                                    notification.type === "advise",
                                "notification-info":
                                    notification.type === "info",
                                "notification-warning":
                                    notification.type === "warning",
                                "notification-important":
                                    notification.type === "important",
                            }
                        >
                            <div class="notification-icon">
                                <icon icon=notification.icon/>
                            </div>
                            <div class="notification-date">
                                ${component.getCreateTime(notification)}
                            </div>
                            <div class="notification-title">
                                ${notification.title}
                            </div>
                            <div class="notification-teaser">
                                ${notification.teaserText}
                            </div>
                            <if(notification.isLocal)>
                                <div
                                    on-click("removeNotification", notification)
                                    class="notification-remove"
                                >
                                    <span class="kix-icon-close"/>
                                </div>
                            </if>
                        </li>
                    </for>
                </ul>
            </div>
        </for>
    </div>
</div>
