.link-ticket-input {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem max-content;
    grid-column-gap: @margin-default;
    align-items: center;
    >button {
        width: 100%;
    }
    >.link-ticket-notice {
        width: 100%;
        display: grid;
        grid-template-columns: max-content auto max-content;
        grid-gap: .25rem;
        align-items: center;
        grid-template-rows: 2rem;
        color: @secondary-1;
        >.link-ticket-line {
            background-color: @secondary-3;
            height: 1px;
            margin-top: .375rem;
        }
        >.minimize-icon-container {
            margin: .375rem 0 0 .25rem;
            color: @secondary-0;
            [class^="kix-icon-"],
            [class*=" kix-icon-"] {
                cursor: pointer;
                >.no-links {
                    color: @secondary-3;
                }
            }
        }
    }
    >.label-list {
        grid-column: 1 / span 2;
    }
}