.link-input {
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: @default-button-height max-content;
    grid-column-gap: @margin-default;
    align-items: center;
    >.link-notice {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1rem;
        align-items: center;
        grid-template-rows: @default-button-height;
        color: @secondary-1;
        cursor: pointer;
        &:hover {
            >.toggle {
                color: darken(@secondary-0, 20%);
            }
        }
        &.has-text {
            grid-template-columns: minmax(auto, min-content) auto;
        }
        >span {
            .shorten-text;
        }
        >.toggle {
            .icon-font-size-normal;
            display: grid;
            grid-template-columns: auto max-content;
            grid-gap: @margin-small;
            align-items: center;
            color: @secondary-0;
            >.line {
                background-color: @secondary-3;
                height: 1px;
                &.minimized {
                    background-color: @secondary-1;
                }
            }
        }
    }
    >.label-list {
        grid-column: 1 / span 2;
    }
}