<if(state.article)>
    <object-property-label object=state.article property="From" labelProvider=state.labelProvider/>
    <object-property-label object=state.article property="To" labelProvider=state.labelProvider/>
    <object-property-label object=state.article property="Cc" labelProvider=state.labelProvider/>
    <object-property-label object=state.article property="Bcc" labelProvider=state.labelProvider/>
    <object-property-label object=state.article property="Subject" labelProvider=state.labelProvider/>
</if>
