<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    contextInstanceId=input.contextInstanceId
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <div key="description-container" class="description-container">
            <if(state.ticket && state.firstArticle)>
                <widget
                    contextInstanceId=input.contextInstanceId
                    instanceId="ticket-description-widget"
                    title=(state.translations["Translatable#Description"])>
                    <@content>
                        <div class="description-text-wrapper">
                            <ticket-article-content article=state.firstArticle/>
                        </div>
                        <div class="description-attachments">
                            <b>
                                <translation-string pattern="Translatable#Attachments"/>
                                ${" "}:
                            </b>
                            <ticket-article-attachment-list article=state.firstArticle/>
                        </div>
                    </@content>
                </widget>
                <widget
                    contextInstanceId=input.contextInstanceId
                    instanceId="ticket-description-notes"
                    title=(state.translations["Translatable#Comment"])
                    key=(
                        "Widget-ticket-description-notes" +
                        state.ticket.TicketID
                    )>
                    <@content>
                        <div class="ticket-notes">
                            ${state.ticketNotes}
                        </div>
                    </@content>
                </widget>
            </if>
            <else>
                <span>
                    <translation-string pattern="Translatable#No article available."/>
                </span>
            </else>
        </div>
    </@content>
</widget>
