<widget instanceId=state.instanceId title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <h3>Coming Soon</h3>
        <p>Diese Funktionalität ist in Arbeit.</p>
    </@content>
</widget>
