<div.icon-bar class=(input.configurationMode ? "config-mode" : "")>
    <div.bar-icon>
        <span.kix-icon.icon-dummy.icon-asterisk on-click('toggleConfigurationOverlay')/>
    </div>
    <div.bar-icon>
        <span.kix-icon.icon-dummy.icon-i/>
    </div>
</div>
