<div.icon-bar>
    <div.bar-icon>
        <span.kix-icon.icon-dummy.icon-asterisk on-click('configurationClicked')/>
    </div>
    <div.bar-icon>
        <span.kix-icon.icon-dummy.icon-i/>
    </div>
</div>
