<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<div.icon-upload
    class={
        dragging: state.dragging
    }
    on-drop("drop")>
    <button.kix-button.form-button.icon-upload-button
        type="button"
        on-click("triggerFileUpload")
        title=state.translations["Translatable#Select image file"]>
        <span.kix-icon-upload/>
        <translation-string pattern="Translatable#Select image file"/>
        <input.icon-upload-input type="file" key="iconUploadInput" on-change("setIcon")/>
    </button>
    <span.icon-preview>
        <if(state.icon)>
            <icon icon=state.icon/>
        </if>
    </span>
</div>
