{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "array-type": 0,
        "no-unused-vars": [
            1,
            {
                "vars": "all",
                "args": "none",
                "ignoreRestSiblings": false,
                "caughtErrors": "none"
            }
        ],
        "@typescript-eslint/explicit-function-return-type": 2,
        "@typescript-eslint/no-inferrable-types": 0,
        "member-ordering": 0,
        "arrow-parens": 2,
        "@typescript-eslint/no-var-requires": 0,
        "max-len": [
            2,
            {
                "code": 120,
                "ignorePattern": "^import .*",
                "ignoreStrings": true,
                "ignoreRegExpLiterals": true,
                "ignoreTemplateLiterals": true,
                "ignoreTrailingComments": true
            }
        ],
        "new-parens": 2,
        "no-control-regex": "off",
        "no-bitwise": 0,
        "no-cond-assign": 2,
        "no-consecutive-blank-lines": 0,
        "no-useless-escape": 0,
        "@typescript-eslint/no-empty-function": [
            2,
            {
                "allow": [
                    "constructors"
                ]
            }
        ],
        "quotes": [
            2,
            "single"
        ],
        "no-trailing-spaces": 2,
        "no-console": [
            1
        ],
        "object-literal-sort-keys": [
            0
        ],
        "ordered-imports": [
            0
        ],
        "max-classes-per-file": 0,
        "no-string-literal": 0,
        "no-async-promise-executor": 0,
        "space-before-function-paren": 0,
        "semi": 2,
        "@typescript-eslint/semi": 2,
        "@typescript-eslint/naming-convention": [
            1,
            {
                "selector": "variable",
                "format": [
                    "camelCase",
                    "PascalCase"
                ]
            }
        ],
        "eqeqeq": 2,
        "default-case": 2,
        "no-var": 2,
        "no-shadow-restricted-names": 2,
        "no-case-declarations": 0,
        "guard-for-in": 2,
        "@typescript-eslint/prefer-for-of": 2
    }
}