config/defaults/*.config.json
config/user/**/*.config.json
features/report
.cache
package-lock.json
package-lock.json
gulp-*
dist
node_modules
npm-debug.log
/.project
/.settings/
src/log/**/*
src/logs/**/*
src/**/.gulp-*
logs

coverage
.nyc_output