config/server.config.json
features/report
.cache
data/*
package-lock.json
gulp-*
dist
node_modules
npm-debug.log
/.project
/.settings/
src/log/**/*
src/logs/**/*
src/**/.gulp-*
allure-results
test-result.tar.gz
test-results.xml
logs

coverage
.nyc_output

src/plugins/*
!src/plugins/readme.md
!src/plugins/.gitkeep

data/*_ContextList.json
