<div#menu>
  <ul#main_menu>
    <li>Home</li>
    <li>Dashboard A</li>
    <li>Dashboard B</li>
    <li>Dashboard C</li>
    <li>Dashboard D</li>
    <li.mm_special>Special 1</li>
    <li.mm_special>Special 2</li>
    <li.mm_special>Special 3</li>
  </ul>
</div>
