.personal-settings-dialog-container {
    margin-left: 1rem;
    >form {
        >div:last-child {
            margin-bottom: 0;
        }
    }
    >.dialog-button-container {
        padding-right: 0;
    }
}