.personal-settings-dialog-container {
    margin-left: 1rem;
    >.dialog-button-container {
        margin-left: 0;
        grid-template-columns: max-content max-content;
        justify-content: right;
        padding-right: 0;
    }
    &+.dialog-button-container {
        margin-left: 1rem;
        padding-right: 0;
    }
}