<div.editor-container key="${state.id}-container" no-update>
    <!-- TODO: durch $! wird das standardmaßige Quotieren unterdrückt, ggf. unsicher, aber ansonsten ist es nur text, kein html -->
    <div id=state.id class=(data.inline ? "editor-inline" : "") key="${state.id}" contenteditable="true">
        $!{data.value}
    </div>
</div>
