<widget instanceId=state.instanceId title=state.title>
    <@content>
        <div.chart-container>
            <if(state.chartConfig)>
                <chart config=state.chartConfig/>
            </if>
            <else>
                <span.error>Keine Konfiguration verfügbar</span>
            </else>
        </div>
    </@content>
</widget>
