<if(state.show)>
    <div.faq-vote-selector on-click('selectorClicked') key="faq-vote-selector">
        <span class=component.getIcon(1) on-mouseover('setCurrentRating', 1) on-click('vote', 1)/>
        <span class=component.getIcon(2) on-mouseover('setCurrentRating', 2) on-click('vote', 2)/>
        <span class=component.getIcon(3) on-mouseover('setCurrentRating', 3) on-click('vote', 3)/>
        <span class=component.getIcon(4) on-mouseover('setCurrentRating', 4) on-click('vote', 4)/>
        <span class=component.getIcon(5) on-mouseover('setCurrentRating', 5) on-click('vote', 5)/>
    </div>
</if>
