.faq-vote-selector {
    position: absolute;
    top: 5rem;
    right: 0;
    box-sizing: border-box;
    color: @primary-2;
    width: 15rem;
    height: 2rem;
    background-color: @secondary-6;
    padding-top: 3px;
    border: 1px solid #0a7cb3;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: 0 none;
    line-height: 2rem;
    >span {
        margin-right: @margin-small;
        size: 1.25rem;
        :hover {
            color: @secondary-6;
            background: @primary-2;
            cursor: pointer;
        }
    }
}