.faq-vote-selector {
    .font-size-normal;

    .vote-title {
        font-weight: bold;
        display: block;
        margin-bottom: @margin-small;
    }

    .star-list {
        color: @primary-2;
        background-color: @secondary-6;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: @margin-small;
        justify-content: center;
        padding: 0 @margin-small;
        border-radius: @border-radius;
        font-size: 2rem;

        span {
            margin: 0;
            line-height: unset;
            cursor: pointer;
        }
    }

    .vote-footer {
        display: block;
        text-align: center;
        margin-top: 1rem;

        >b {
            margin-right: @margin-small;
        }
    }
}