<!--
Copyright (C) 2006-2020 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<div.search-form key="search-form">
    <widget instanceId="search-form-group" title=state.translations["Translatable#Attributes"] key="attributes">
        <@content>
            <div.search-criteria>
                <if(state.manager && state.prepared)>
                    <dynamic-form-field-container manager=state.manager key="search-dynamic-form"/>
                </if>
            </div>
            <div.search-limit>
                <span>
                    <translation-string pattern="Translatable#Limit:"/>
                </span>
                <input.input-style type="number" value=state.limit on-input("limitChanged")/>
            </div>
        </@content>
    </widget>
    <div.dialog-button-container>
        <button.form-blank-cancel-button type="button" on-click("formReset") title=state.translations["Translatable#Reset data"]>
            <span.kix-icon-delete/>
            <translation-string pattern="Translatable#Reset data"/>
        </button>
        <button.form-blank-submit-button
            type="button"
            on-click("search")
            title=state.translations["Translatable#Start search"]
            disabled=!state.canSearch>
            <span.kix-icon-search/>
            <translation-string pattern="Translatable#Start search" placeholders=[]/>
        </button>
    </div>
    <div.result-table>
        <if(state.prepared && state.table)>
            <div.result-table-head>
                <span>
                    <translation-string pattern="Translatable#Preview ({0})" placeholders=[state.resultCount]/>
                </span>
            </div>
            <standard-table-NEW table=state.table/>
        </if>
    </div>
    <div.dialog-button-container>
        <button.cancel-button type="button" on-click("cancel") title=state.translations["Translatable#Cancel"]>
            <span.kix-icon-close/>
            <translation-string pattern="Translatable#Cancel"/>
        </button>
        <button.submit-button
            type="button"
            on-click("submit")
            title=state.translations["Translatable#Detailed search results"]
            disabled=!state.resultCount>
            <span.kix-icon-check/>
            <translation-string pattern="Translatable#Detailed search results"/>
        </button>
    </div>
</div>
