.filter {
    font-size: 0.875rem;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    width: 11.75rem;
    height: 1.5rem;
    >input {
        // TODO: prüfen ob Angaben stimmen
        margin: 0 .5em 0 0.5em;
        border: 1px solid @secondary-1;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 2px 5px;
        color: @secondary-2;
    }
    >span.icon {
        cursor: pointer;
        font-size: 1rem;
    }
}