<widget instanceId=state.instanceId title=state.title contentActions=state.actions>
    <@content>
        <div.assigned-contacts-container>
            <if(state.table)>
                <div.contact-filter>
                    <filter filterCount=state.filterCount on-filter("filter")/>
                </div>
                <standard-table-NEW table=state.table/>
            </if>
        </div>
    </@content>
</widget>
