.property-label {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.priority-label-1 {
    .property-label();
    background-color: green;
}

.priority-label-2 {
    .property-label();
    background-color: blue;
}

.priority-label-3 {
    .property-label();
    background-color: orange;
}

.priority-label-4 {
    .property-label();
    background-color: orangered;
}

.priority-label-5 {
    .property-label();
    background-color: red;
}