<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<ul.form-list-tree tabindex=state.tabIndex key=state.treeId style=state.treeStyle>
    <for|node| of=state.nodes>
        <form-list-tree-node treeId=state.treeId node=node treeHandler=input.treeHandler/>
    </for>
</ul>
