<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    contextType="MAIN"
    title=state.title
    actions=state.actions
    icon=(
        state.widgetConfiguration && state.widgetConfiguration.icon
            ? state.widgetConfiguration.icon
            : ""
    )
>
    <@headerfilter>
        <filter
            filterCount=state.filterCount
            predefinedFilter=state.predefinedTableFilter
            predefinedFilterPlaceholder="Alle FAQ"
            on-filter("filter")
        />
    </@headerfilter>
    <@content>
        <div.faq-article-history-container>
            <if(state.table)>
                <kix-table table=state.table/>
            </if>
        </div>
    </@content>
</widget>
