<if(state.serviceId)>
    <key-value-pair showKey=input.hasLabel>
        <@key>${state.label}:</@key>
        <@value>
            <if(input.hasText)>
                <span.text title=state.displayValue>${state.displayValue}</span>
            </if>
            <if(input.hasIcon)>
                <icon title=state.displayValue object="CurInciStateID" objectId=state.incidentStateId/>
            </if>
        </@value>
    </key-value-pair>
</if>
