@primary_0: #096392;
@primary_1: #0A7CB3;
@primary_2: #008DD2;
@primary_3: #7CB6D7;
@primary_4: #B6D6E8;

@secondary_0: #5B5B5B;
@secondary_1: #9E9E9E;
@secondary_2: #C6C6C6;
@secondary_3: #E3E3E3;
@secondary_4: #ECECEC;
@secondary_5: #F5F5F5;
@secondary_6: #FFF;

@tertiary_0: #82C826;
@tertiary_1: #EF7F1A;
@tertiary_2: #E31E24;
@tertiary_3: #009846;
@tertiary_4: #FFED00;

@default_dark_font_color: #000;
@default_ligth_font_color: #FFF;

@primary_XYZ: #04537D; // TODO: article widget - possible unnecessary