<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.help-container class={
    "note-editor-active": state.editorActive
}>
    <widget
        instanceId=input.instanceId
        minimizable=false
        contextType=state.contextType
        title=(
                state.widgetConfiguration && state.widgetConfiguration.title
                        ? state.widgetConfiguration.title
                        : "Translatable#Help"
            )
        icon=(
                state.widgetConfiguration && state.widgetConfiguration.icon && state.widgetConfiguration.icon !== ""
                        ? state.widgetConfiguration.icon
                        : "kix-icon-query"
            )>
        <@content>
            <span>${state.helpText}</span>
            <if(state.links && !!state.links.length)>
                <for|link| of=state.links>
                    <div>
                        <a target="_blank" href=link[1]>
                            <translation-string pattern=link[0]/>
                        </a>
                    </div>
                </for>
            </if>
        </@content>
    </widget>
</div>
