<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.widget)>
    <div on-click("minimize") class="header">
        <icon icon=(state.widget.configuration.icon)/>
        <input
            type="text"
            value=component.getTitle(state.widget.configuration.title)
            on-keyup("titleChanged")
            draggable="true"
            class="input-style"
        >
        <button
            type="button"
            on-click("toggleAdvancedMode")
            title=state.settingsLabel
            draggable="true"
            class="kix-button form-button"
        >
            <span class="kix-icon-gears"/>
            ${state.settingsLabel}
        </button>
        <span
            on-click("removeWidget")
            draggable="true"
            class="fas fa-times close"
        />
    </div>
    <if(!state.minimized)>
        <div draggable="true" class="widget-configuration-container">
            <if(state.advancedSettings)>
                <div class="widget-configuration table-container">
                    <h2 class="configuration-title">
                        <translation-string pattern="Translatable#Widget Configuration"/>
                    </h2>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <translation-string pattern="Translatable#Option"/>
                                </th>
                                <th>
                                    <translation-string pattern="Translatable#Value"/>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <translation-string pattern="Translatable#Actions"/>
                                </td>
                                <td>
                                    <form-list
                                        treeId=state.actionsTreeId
                                        multiselect
                                        freeText
                                        on-nodesChanged("actionsChanged")
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <translation-string pattern="Translatable#Small Widget"/>
                                </td>
                                <td>
                                    <input
                                        type="checkbox"
                                        on-click("widgetSizeChanged")
                                        checked=(state.widget.size === "small")
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <translation-string pattern="Translatable#Minimizable"/>
                                </td>
                                <td>
                                    <input
                                        type="checkbox"
                                        on-click("minimizableChanged")
                                        checked=(
                                            state.widget.configuration
                                                .minimizable
                                        )
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <translation-string pattern="Translatable#Minimized"/>
                                </td>
                                <td>
                                    <input
                                        type="checkbox"
                                        on-click("minimizedChanged")
                                        checked=(
                                            state.widget.configuration.minimized
                                        )
                                        disabled=!state.isMinimizeEnabled
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </if>
            <div class="widget-specific-configuration">
                <if(component.getConfigurationComponent())>
                    <${component.getConfigurationComponent()}
                        configuration=(state.widget.configuration.configuration)
                        advancedSettings=state.advancedSettings
                        on-configurationChanged("configurationChanged")
                    />
                </if>
            </div>
        </div>
    </if>
</if>
