<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <div.queue-signature>
            <if(state.queue && state.queue.Signature && state.queue.Signature !== "")>
                <editor readOnly=true value=state.queue.Signature useReadonlyStyle=true/>
            </if>
            <else>
                <span>
                    <translation-string pattern="Translatable#No signature defined."/>
                </span>
            </else>
        </div>
    </@content>
</widget>
