<for|context| of=state.contextList>
    <div
        key="sidebar-" + context.instanceId + (input.isLeft ? "-left" : "")
        id="sidebar-" + context.instanceId + (input.isLeft ? "-right" : "")
        class=[
            "sidebar",
            {
                "d-none": !component.isActiveContext(context.instanceId),
                "sidebars-shown": state.showSidebarArea || state.isMobile,
            },
        ]
    >
        <${component.getSidebarTemplate()} isLeft=input.isLeft/>
    </div>
</for>
