<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<h2 class="configuration-title">
    <translation-string pattern="Translatable#Table Columns"/>
</h2>
<div class="row">
    <div class="col-6">
        <div class="property-chooser">
            <form-list treeId=state.dependencyTreeId multiselect/>
        </div>
    </div>
    <div class="col-6">
        <div class="property-chooser">
            <form-list treeId=state.propertyTreeId multiselect freeText/>
            <button
                type="button"
                on-click("addColumn")
                title=(state.translations["Translatable#Add Column(s)"])
                class="kix-button submit-button"
            >
                <span class="kix-icon-plus-blank"/>
                <translation-string pattern="Translatable#Add Column(s)"/>
            </button>
        </div>
    </div>
</div>

<table class="kix-table configuration-table">
    <thead>
        <tr>
            <if(!state.loading)>
                <th
                    title=(state.translations["Translatable#Property"])
                    class="table-head-cell"
                >
                    ${state.translations["Translatable#Property"]}
                </th>
                <th
                    title=(state.translations["Translatable#Dependency"])
                    class="table-head-cell"
                >
                    ${state.translations["Translatable#Dependency"]}
                </th>
            </if>
            <th
                title=(state.translations["Translatable#Text"])
                class="table-head-cell boolean-value"
            >
                ${state.translations["Translatable#Text"]}
            </th>
            <th
                title=(state.translations["Translatable#Icon"])
                class="table-head-cell boolean-value"
            >
                ${state.translations["Translatable#Icon"]}
            </th>
            <if(input.advancedSettings)>
                <th
                    title=(state.translations["Translatable#Column Title"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Column Title"]}
                </th>
                <th
                    title=(state.translations["Translatable#Column Icon"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Column Icon"]}
                </th>
                <th
                    title=(state.translations["Translatable#Sortable"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Sortable"]}
                </th>
                <th
                    title=(state.translations["Translatable#Filterable"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Filterable"]}
                </th>
                <th
                    title=(state.translations["Translatable#Filter List"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Filter List"]}
                </th>
                <th
                    title=(state.translations["Translatable#Resizable"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Resizable"]}
                </th>
                <th
                    title=(state.translations["Translatable#Translatable"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Translatable"]}
                </th>
                <th
                    title=(
                        state.translations["Translatable#Translatable Title"]
                    )
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#Translatable Title"]}
                </th>
                <th
                    title=(state.translations["Translatable#RTL"])
                    class="table-head-cell boolean-value"
                >
                    ${state.translations["Translatable#RTL"]}
                </th>
                <th
                    title=(state.translations["Translatable#Size (px)"])
                    class="table-head-cell"
                >
                    ${state.translations["Translatable#Size (px)"]}
                </th>
                <th
                    title=(state.translations["Translatable#Component ID"])
                    class="table-head-cell"
                >
                    ${state.translations["Translatable#Component ID"]}
                </th>
                <th
                    title=(state.translations["Translatable#Column Title"])
                    class="table-head-cell"
                >
                    ${state.translations["Translatable#Column Title"]}
                </th>
            </if>
            <th/>
        </tr>
    </thead>
    <tbody>
        <for|column| of=state.columns>
            <tr
                draggable="true"
                on-dragstart("rowDragstart", column)
                on-dragover("rowDragover", column)
                on-drop("rowDroped", column)
            >
                <if(!state.loading)>
                    <td
                        title=(state.columnNames[column.property])
                        class="content-cell"
                    >
                        <span>${state.columnNames[column.property]}</span>
                    </td>
                    <td
                        title=(state.columnDependencyNames[column.property])
                        class="content-cell"
                    >
                        <span>
                            ${state.columnDependencyNames[column.property]}
                        </span>
                    </td>
                </if>
                <td
                    on-click("booleanValueChanged", "showText", column)
                    class="content-cell boolean-value"
                >
                    <input type="checkbox" checked=column.showText>
                </td>
                <td
                    on-click("booleanValueChanged", "showIcon", column)
                    class="content-cell boolean-value"
                >
                    <input type="checkbox" checked=column.showIcon>
                </td>
                <if(input.advancedSettings)>
                    <td
                        on-click(
                            "booleanValueChanged",
                            "showColumnTitle",
                            column,
                        )
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.showColumnTitle>
                    </td>
                    <td
                        on-click(
                            "booleanValueChanged",
                            "showColumnIcon",
                            column,
                        )
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.showColumnIcon>
                    </td>
                    <td
                        on-click("booleanValueChanged", "sortable", column)
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.sortable>
                    </td>
                    <td
                        on-click("booleanValueChanged", "filterable", column)
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.filterable>
                    </td>
                    <td
                        on-click("booleanValueChanged", "hasListFilter", column)
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.hasListFilter>
                    </td>
                    <td
                        on-click("booleanValueChanged", "resizable", column)
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.resizable>
                    </td>
                    <td
                        on-click("booleanValueChanged", "translatable", column)
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.translatable>
                    </td>
                    <td
                        on-click(
                            "booleanValueChanged",
                            "titleTranslatable",
                            column,
                        )
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.titleTranslatable>
                    </td>
                    <td
                        on-click("booleanValueChanged", "rtl", column)
                        class="content-cell boolean-value"
                    >
                        <input type="checkbox" checked=column.rtl>
                    </td>
                    <td class="content-cell">
                        <input
                            type="numeric"
                            value=column.size
                            on-change("columnSizeChanged", column)
                            class="input-style"
                        >
                    </td>
                    <td class="content-cell">
                        <input
                            type="text"
                            value=column.componentId
                            on-change(
                                "stringValueChanged",
                                "componentId",
                                column,
                            )
                            class="input-style"
                        >
                    </td>
                    <td class="content-cell">
                        <input
                            type="text"
                            value=column.defaultText
                            on-change(
                                "stringValueChanged",
                                "defaultText",
                                column,
                            )
                            class="input-style"
                        >
                    </td>
                </if>
                <td>
                    <button
                        type="button"
                        title=(state.translations["Translatable#Remove"])
                        on-click("removeColumn", column)
                        class="form-control-button button-without-text"
                    >
                        <span class="kix-icon-minus"/>
                    </button>
                </td>
            </tr>
        </for>
    </tbody>
</table>
