.article-table-widget>.widget {
    background-color: @default-light-font-color;
    >.widget-header {
        background-color: @tertiary-5;
        color: @default-light-font-color;
        .header-attachments {
            margin-left: 10px;
            display: inline-block;
            cursor: pointer;
            span {
                font-size: 1.25em;
                margin-right: 0.125em;
            }
        }
        input {
            margin: 0 .5em 0 1em;
        }
        >.header-right {
            label {
                margin-right: 15px;
            }
        }
    }
    .standard-table-wrapper {
        .row {
            &.header-row {
                background-color: @primary-1;
                color: @default-light-font-color;
                .table-header-cell {
                    .sortable {
                        color: @default-light-font-color;
                        .sort-active {
                            color: @default-light-font-color;
                            opacity: 0.6;
                        }
                    }
                    .move-point {
                        &:hover,
                        &:active {
                            background-color: @default-light-font-color;
                        }
                    }
                }
            }
        }
    }
}