.article-table-widget>.widget {
    background-color: @secondary-6;
    >.widget-header {
        background-color: @tertiary-5;
        color: @secondary-6;
        input {
            margin: 0 .5em 0 1em;
        }
        >.header-right {
            li.list-button {
                span {
                    background-color: @primary-0;
                    border: 0px;
                    box-shadow: 0px 0px 4px -1px @secondary-7
                }
                &.active {
                    span {
                        box-shadow: none;
                    }
                }
            }
            .action-list-expansion-container {
                background-color: @tertiary-5;
                color: @secondary-6;
                .action-list-expansion {
                    li {
                        border-top: 1px solid @primary-0;
                    }
                }
            }
        }
    } // TODO: an Standard-Tabelle anpassen
    .article-table-wrapper {
        overflow-y: auto;
        width: 100%;
        .article-table {
            width: 100%;
            a {
                color: #5b5b5b;
                text-decoration: none;
                 :visited,
                 :active,
                 :hover,
                 :focus {
                    color: #5b5b5b;
                    text-decoration: none;
                }
            }
            th,
            td {
                color: #5b5b5b;
                font-weight: 400;
                &.select-all-rows,
                &.select-row,
                &.PriorityID,
                &.StateID,
                &.QueueID {
                    text-align: center
                }
                &.article-content {
                    .widget {
                        >.widget-header {
                            display: none;
                        }
                        >.widget-content {
                            margin: 0 2.25em .5em;
                            padding: 1em;
                            overflow: visible;
                            border: 1px solid @primary-1;
                            border-top: 0 none;
                            min-height: 10em;
                        }
                    }
                }
            }
            thead {
                background-color: @primary-1;
                height: 2em;
                vertical-align: middle;
                line-height: 2em;
                th {
                    color: @secondary-6;
                }
            }
            tbody {
                tr {
                    height: 2em;
                    &:nth-of-type(2n) {
                        background-color: #f5f5f5;
                    }
                    &.expanded {
                        background-color: #b6d6e8;
                        +tr {
                            background-color: #ffffff;
                        }
                    }
                    .content-actions li {
                        background-color: #b6d6e8;
                        color: #5b5b5b;
                    }
                }
            }
        }
    }
}