.article-table-widget>.widget {
    background-color: #ffffff;
    >.widget-header {
        background-color: #035580;
        color: #ffffff;
        .header-attachments {
            margin-left: 10px;
            display: inline-block;
            span {
                font-size: 1.25em;
                margin-right: 0.125em;
            }
        }
        input {
            margin: 0 .5em 0 1em;
        }
        >.header-right {
            label {
                margin-right: 15px;
            }
        }
    }
    .standard-table-wrapper {
        .row {
            &.header-row {
                background-color: #0a7cb3;
                color: #fff;
            }
        }
    }
}