.ticket-article-content {
    border: 1px solid @secondary-4;
    border-radius: @border-radius;
    background-color: @secondary-5;
    padding: 1em .75em;
    overflow: auto;
    box-sizing: border-box;
    min-height: 10em;
    height: 100%;
}