<form-list
    nodes=state.nodes
    placeholder=state.placeholder
    on-focusLost("focusLost")
    on-nodesChanged("valueChanged")
    selectedNodes=[state.currentNode]
    invalid=state.invalid
    readonly=state.field.readonly/>
