.widget {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 @secondary-1;
    box-sizing: border-box;
}

.widget-header {
    .color-theme-3;
    box-sizing: border-box;
    padding: .5em;
    height: 2em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    & .header-left {
        display: inline-block;
        float: left;
        & h3 {
            margin-bottom: 0;
        }
    }
    & .header-right {
        display: inline-block;
        float: right;
    }

    .configuration {
        cursor: pointer;
        z-index: 2;
        position: relative;
    }
}

.widget-content {
    .color-theme-4;
    padding: .5em 1em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 9em;
    max-height: 20em;
    overflow: hidden;
    box-sizing: border-box;
}