.role-permission-container {
    display: grid;
    grid-template-columns: @dynamic-value-columns-no-operation;
    align-items: center;
    grid-column-gap: @dynamic-value-gap;
    margin-bottom: @margin-small;

    .role-permission {
        grid-column: 2;
        display: grid;
        grid-auto-flow: column;
        margin: 0 1rem 0 @margin-small;
        grid-auto-columns: 1fr;
    }
}