<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<if(state.prepared && state.field)>
    <if(state.field.FieldType === "CheckList")>
        <div.df-checklist>
            <dynamic-field-checklist-progress checklist=state.checklist/>
            <overlay-icon
                title=state.field.Label
                icon="kix-icon-checklist"
                content="dynamic-field-checklist-information"
                data={
                    checklist: state.checklist,
                    field: state.field
                }/>
        </div>
    </if>
    <else-if(state.field.FieldType === "Table")>
        <dynamic-field-table-view table=state.table dynamicField=state.field/>
    </else-if>
    <else-if(state.field.FieldType === "TextArea")>
        <for|value| of=state.dfValue.Value>
            <div.df-textarea>
                <textarea value=value readonly/>
            </div>
        </for>
    </else-if>
    <else>
        <label-list
            labels=state.labels
            removeLabels=false
            on-labelClicked("labelClicked")/>
    </else>
</if>
