.faq-article-content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5rem;
    >div>.group-widget>.widget-content {
        background-color: @secondary-5;
        margin-right: 1.5rem;
    }
}