.faq-article-content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5rem;
    padding: @margin-widget-content;
    >div>.group-widget>.widget-content {
        background-color: @secondary-5;
        margin-right: 1.5rem;
    }
    .faq-rating {
        >span.faq-rating-label {
            font-weight: bold;
            margin-right: @margin-small;
        }
        >span.faq-rating-info {
            color: @primary-2;
        }
        margin-bottom: 1rem;
    }
    .faq-attachments {
        >span {
            font-weight: bold;
            display: block;
        }
    }
}