<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<macro name="widget-viewbar">
    <if(state.hasViews)>
        <div class="d-flex justify-content-start gap-1" role="group">
            <button
                type="button"
                class=[
                    "btn btn-sm fs-4 p-0 px-1",
                    {
                        "border-0 bg-light text-secondary":
                            state.activeViewId === "table",
                    },
                ]
                on-click("toggleView", "table")
                title="Table">
                <icon icon="kix-icon-legend"/>
            </button>
            <for|view| of=state.dataViews>
                <button
                    type="button"
                    class=[
                        "btn btn-sm fs-4 p-0 px-1",
                        {
                            "border-0 bg-light text-secondary":
                                state.activeViewId === view.id,
                        },
                    ]
                    on-click("toggleView", view.id)
                    title=view.name>
                    <icon icon=view.icon/>
                </button>
            </for>
        </div>
    </if>
</macro>

<if(!state.loading)>
    <widget
        instanceId=state.instanceId
        title=state.title
        actions=state.actions
        icon=state.icon
        contextType=component.contextType>
        <@headercontent>
            <for|componentId| of=state.headerTitleComponents>
                <${component.getTemplate(componentId)}/>
            </for>
            <widget-viewbar/>
        </@headercontent>
        <@headerfilter>
            <if(state.showFilter && !state.showFilterInBody)>
                <filter
                    filterCount=state.filterCount
                    predefinedFilter=state.predefinedTableFilter
                    predefinedFilterName=state.predefinedFilterName
                    predefinedFilterPlaceholder=state.filterPlaceholder
                    disabled=state.isFiltering
                    filterValue=state.filterValue
                    on-filter("filter")
                    key="table-widget-filter"/>
            </if>
            <if(input.filterActions)>
                <div class="filter-action-list">
                    <action-list list=input.filterActions displayText=false/>
                </div>
            </if>
            <if(state.showFilterReset && !state.showFilterInBody)>
                <span
                    class=["table-reset-filter", "icon", "fas fa-window-close"]
                    title=component.resetFilterTitle
                    on-click("resetFilter")>
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                    <span class="path5"/>
                </span>
            </if>
        </@headerfilter>
        <@content>
            <if(
                (state.showFilter || state.showFilterReset) &&
                state.showFilterInBody
            )>
                <div class="mt-1 mb-3 d-flex">
                    <if(state.showFilter && state.showFilterInBody)>
                        <filter
                            filterCount=state.filterCount
                            predefinedFilter=state.predefinedTableFilter
                            predefinedFilterName=state.predefinedFilterName
                            predefinedFilterPlaceholder=state.filterPlaceholder
                            disabled=state.isFiltering
                            filterValue=state.filterValue
                            on-filter("filter")
                            key="table-widget-filter"/>
                    </if>
                    <if(state.showFilterReset && state.showFilterInBody)>
                        <span
                            class=[
                                "table-reset-filter",
                                "icon",
                                "fas fa-window-close",
                            ]
                            title=component.resetFilterTitle
                            on-click("resetFilter")>
                            <span class="path1"/>
                            <span class="path2"/>
                            <span class="path3"/>
                            <span class="path4"/>
                            <span class="path5"/>
                        </span>
                    </if>
                </div>
            </if>
            <for|view| of=state.dataViews>
                <div class=[
                    {
                        "d-none": state.activeViewId !== view.id,
                    },
                ]>
                    <${component.getTemplate(view.componentId)}
                        objects=state.objects
                        active=state.activeViewId === view.id
                        widgetConfiguration=state.widgetConfiguration/>
                </div>
            </for>
            <if(state.table)>
                <div class=[
                    {
                        "d-none": state.activeViewId !== "table",
                    },
                ]>
                    <kix-table table=state.table key=state.table.getTableId()/>
                </div>
            </if>
        </@content>
    </widget>
</if>
<else-if(state.error)>
    <div class="alert alert-danger" role="alert">
        ${state.error}
    </div>
</else-if>
<else>
    <table-placeholder/>
</else>
