@cell-min-width: 3em;
@header-height: 2em;
.standard-table-wrapper {
    position: relative;
    height: 100%;
    .standard-table {
        width: 100%;
        color: #000;
        position: relative;
        overflow: auto;
        padding-bottom: 2em;
        .row-link {
            cursor: pointer;
        }
        .row {
            display: block;
            white-space: nowrap;
            background-color: #ffffff; // TODO: height ggf. weg?
            // height: 2em; 
            // border: 1px solid #f5f5f5;
            // border-radius: 3px;
            box-sizing: border-box;
            .opened-row {
                display: none;
            }
            .sub-row-wrapper {
                display: none;
                min-height: 80px;
                margin: 0 4em 1em 2em;
                border: 1px solid #000;
                position: relative;
                &.visible {
                    display: block;
                }
            } // .toggle-row-column {
            //     background-color: #ffffff;
            //     padding-right: 2em;
            // }
            .table-cell {
                // TODO: line-height ggf. weg bzw. 27/ 32 px?
                line-height: @header-height;
                width: @cell-min-width;
                min-width: @cell-min-width;
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative; // TODO: height ggf. weg?
                height: 2em;
                padding: 0 2px;
                box-sizing: border-box;
                &:not(.table-header-cell):not(.checkbox-column):not(.toggle-row-column):not(.scrollbar-column)::before {
                    display: inline-block;
                    content: "|";
                    margin-right: 2px;
                }
                &.fixed {
                    position: relative;
                    z-index: 1; // &.checkbox-column,
                    // &.toggle-row-column,
                    // &.scrollbar-column {
                    &.toggle-row-column {
                        position: absolute;
                        min-width: auto;
                        width: 3em;
                        right: 0;
                        padding-right: 3em;
                        background-color: #ffffff;
                    } // &.checkbox-column {
                    //     width: 3em;
                    //     left: 6px;
                    //     background-color: #ffffff;
                    //     &+.table-cell {
                    //         margin-left: 3em;
                    //     }
                    // }
                    // &.toggle-row-column {
                    //     right: 2em;
                    // }
                    &.scrollbar-column {
                        right: 0;
                        background-color: #ffffff;
                    }
                }
                .key-value-pair {
                    display: inline-block;
                }
            }
            &:nth-of-type(2n) {
                .table-cell {
                    background-color: #f5f5f5;
                    &.fixed {
                        &.toggle-row-column {
                            background-color: #f5f5f5;
                        }
                    }
                } // .checkbox-column,
                // .toggle-row-column,
                // .inner-row-wrapper {
                //     background-color: #f5f5f5;
                // }
                // .checkbox-column {
                //     border-top-left-radius: 3px;
                //     border-bottom-left-radius: 3px;
                // }
                // .toggle-row-column {
                //     border-top-right-radius: 3px;
                //     border-bottom-right-radius: 3px;
                // }
                &.opened {
                    // .checkbox-column,
                    // .closed-row,
                    // .toggle-row-column {
                    //     background-color: #b6d6e8;
                    //     color: #096392;
                    // }
                    .closed-row .table-cell {
                        background-color: #b6d6e8;
                        color: #096392;
                    }
                }
            }
            &.header-row {
                position: relative;
                z-index: 2;
                border: 0 none;
                border-radius: 0;
                margin: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                background-color: lightgray;
                .table-header-cell {
                    font-weight: bold;
                    background-color: lightgray;
                    .sortable {
                        .sort-active {
                            color: #000;
                        }
                        display: inline-block;
                        margin-left: .25em;
                        font-size: .625em;
                        color: #9b9d9d;
                        span {
                            cursor: pointer;
                        }
                    }
                    &.fixed {
                        // &.checkbox-column,
                        // &.toggle-row-column,
                        // &.scrollbar-column {
                        &.toggle-row-column {
                            background-color: lightgray;
                        } // &.checkbox-column {
                        //     left: 0;
                        // }
                    }
                    .move-point {
                        top: 2px;
                        right: 0;
                        bottom: 2px;
                        width: 6px;
                        position: absolute;
                        border-radius: 3px;
                        cursor: col-resize;
                        transition: background-color .5s;
                        &:hover,
                        &:active {
                            background-color: grey;
                        }
                    }
                }
            }
            &.opened {
                .closed-row,
                .fixed.toggle-row-column,
                .table-cell {
                    background-color: #b6d6e8;
                    color: #096392;
                    &.fixed {
                        &.toggle-row-column {
                            background-color: #b6d6e8;
                            color: #096392;
                        }
                    }
                } // .table-cell.fixed.checkbox-column,
                // .closed-row,
                // .fixed.toggle-row-column {
                //     background-color: #b6d6e8;
                //     color: #096392;
                // }
                .inner-row-wrapper {
                    background-color: #ffffff;
                    .opened-row {
                        display: block;
                        .opened-row-content-wrapper {
                            margin: 0 4em 1em 3em;
                            min-height: 10em;
                            border: 1px solid #9acae5;
                            border-bottom-left-radius: 3px;
                            border-bottom-right-radius: 3px;
                            padding: 1em 2em;
                            position: relative;
                        }
                    }
                }
            }
        } // &.has-checkbox-column {
        //     .row {
        //         .inner-row-wrapper {
        //             margin-left: 3em;
        //         }
        //     }
        // }
    }
}

.ps,
.ps:hover,
.ps--scrolling-x,
.ps--scrolling-y {
    >.ps__rail-y:hover,
    >.ps__rail-y {
        background-color: transparent;
        right: 6px;
        border: 1px solid #f5f5f5;
        border-radius: 3px;
        opacity: 1;
        width: 7px;
        z-index: 2;
        box-sizing: border-box;
        &:hover>.ps__thumb-y,
        >.ps__thumb-y {
            width: 6px;
            background-color: #e3e3e3;
            right: 0;
        }
        &.ps--clicking .ps__thumb-y {
            width: 6px;
        }
    }
    >.ps__rail-x:hover,
    >.ps__rail-x {
        background-color: transparent;
        bottom: 6px;
        border: 1px solid #f5f5f5;
        border-radius: 3px;
        opacity: 1;
        height: 7px;
        z-index: 2;
        box-sizing: border-box;
        &:hover>.ps__thumb-x,
        >.ps__thumb-x {
            height: 6px;
            background-color: #e3e3e3;
            right: 0;
            bottom: 0;
        }
        &.ps--clicking .ps__thumb-x {
            height: 6px;
        }
    }
}