.contact-details {
    >.content-widget {
        margin-top: 1.5em;
        &:first-of-type {
            margin-top: 0;
        }
        >.widget-content {
            background-color: transparent;
        }
        .action-list-wrapper {
            li.list-button {
                span {
                    box-shadow: @shadow-1;
                }
                &.active {
                    span {
                        box-shadow: inset @shadow-1;
                    }
                }
            }
        }
        .lane-list {
            list-style: none;
            margin-bottom: 1.5em;
        }
    }
}