<if(state.article)>
    <ul.attachment-list>
        <for|attachment| of=state.attachments>
            <li>
                <ticket-article-attachment article=state.article attachment=attachment/>
            </li>
        </for>
    </ul>
</if>
