<if(state.article)>
    <ul.attachment-list>
        <for(attachment in state.article.Attachments)>
            <li>
                <ticket-article-attachment article=state.firstArticle attachment=attachment/>
            </li>
        </for>
    </ul>
</if>
