ul.attachment-list {
    padding-left: 1em;
    list-style-type: none;
    li {
        height: 1.5em;
        line-height: 1.5em;
        vertical-align: middle;
    }
    img {
        margin-right: 5px;
    }
}