<widget instanceId=state.instanceId minimizable=true explorer=input.explorer minimized=input.minimized
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")>
    <@icon>
        <if(state.widgetConfiguration)>
            <span class=(state.widgetConfiguration.icon ? "kix-icon-" + state.widgetConfiguration.icon : "")/>
        </if>
    </@icon>
    <@content>
        <tree tree=state.tree on-nodeClicked('queueClicked')/>
    </@content>
</widget>
