<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "Translatable#Preferences")
    contentActions=state.actions>
    <@content>
        <if(state.user)>
            <object-property-label object=state.user property="UserLanguage" labelProvider=state.labelProvider/>
        </if>
    </@content>
</widget>
