.user-preferences {
    .key-value-pair {
        grid-template-columns: 1fr 0 10fr;

        .key {
            font-weight: bold;
        }

        .value {
            display: unset;

            .label-list {
                border: unset;
                margin: 0;
                white-space: normal;
                overflow: unset;
            }
        }
    }
}