.two-list-selection {
    height: 300px;
    >div {
        float: left;
    }
    .first-list {
        width: 300px;
    }
    .selection-buttons {
        margin-left: 35px;
        width: 50px;
    }
    .second-list {
        width: 400px;
    }
}