<main-overlay/>
<div.main-dialog>
    <div.dialog-title>
        <h2>
            <include(input.title)/>
        </h2>
    </div>
    <div.dialog-content>
        <include(input.body)/>
    </div>
    <div.dialog-buttons>
        <include(input.button)/>
    </div>
</div>
