.main-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    color: #000;
    background-color: @secondary-6;
    border: 5px solid @tertiary-5;
    box-sizing: content-box;
    padding: 10px;
    z-index: 100;
}

.dialog-content {
    text-align: left;
    height: 75%;
}

.dialog-buttons {
    height: 5%;
    text-align: right;
}

.dialog-title {
    color: #000;
    height: 5%;
}

.button {
    left: none;
    position: none;
}