.explorerbar {
    float: left;
    >div {
        margin-top: 10px;
        &.config-mode:not(.config-dialog-shown) {
            z-index: 100;
            position: relative;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
    &.collapsed {
        width: @explorer-collapsed-width;
        .explorer {
            background: @secondary-2;
            color: @secondary-0;
            position: relative;
            border-radius: 3px;
            box-sizing: border-box;
            margin-bottom: 184px;
            width: @explorer-width;
            height: 2em;
            background-color: @secondary-3;
            border: 0;
            transform: rotate(270deg);
            transform-origin: @explorer-width/2 @explorer-width/2;
            overflow: hidden;
            display: grid;
            grid-template-columns: (@explorer-width - 2rem) 2rem;
            .header-left {
                padding: 2px 1em 2px;
                h3 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .header-right {
                text-align: center;
                background-color: @secondary-2;
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    line-height: 2em;
                }
                cursor: pointer;
            }
        }
    }
}