.wrapper {
    >section {
        margin-top: @margin-default + @header-height;
        padding: 0 (@action-menu-width + @margin-default) 0 (@main-menu-active-width + @margin-default);
        position: relative;
        >.content {
            >header {
                padding: 0;
                margin-bottom: 2em;
            }
        }
        >.sidebar+.content {
            margin-right: @margin-default + @sidebar-width;
        }
    }
    .main-overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: @secondary-6;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
}