[draggable] {
    user-select: none;
}

.dragable-container {
    width: 100%;
}

.dragable-element {
    border: 1px solid gray;
    height: 20vh;
    float: left;
    margin: 5px;
    cursor: move;
}

.small {
    width: 30%;
}

.big {
    width: 91.8%;
}