<form-list
    placeholder=state.placeholder
    searchCallback=state.searchCallback
    autoCompleteConfiguration=state.autoCompleteConfiguration
    on-focusLost("focusLost")
    on-nodesChanged("configItemChanged")
    selectedNodes=[state.currentNode]
    invalid=state.invalid
    autocomplete=true
    readonly=state.field.readonly/>
