<div.article-body.input-style class={invalid: state.invalid}>
    <editor resize=true value=state.currentValue on-valueChanged('valueChanged') required=state.field.required
        invalid=state.invalid/>
</div>
