<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div
    class=[
        "file-upload",
        {
            dragging: state.dragging,
            invalid: input.invalid,
            readonly: state.readonly,
        },
    ]
    on-drop("drop")
>
    <if(!state.readonly)>
        <button
            type="button"
            on-click("triggerFileUpload")
            title=(state.translations["Translatable#Select file"])
            class="kix-button form-button file-upload-button"
        >
            <span class="kix-icon-attachement"/>
            <translation-string pattern="Translatable#Select file"/>
            <input
                type="file"
                multiple=state.multiple
                accept=state.accept
                key="fileUploadInput"
                on-change("setAttachments")
                class="file-upload-input"
            >
        </button>
    </if>
    <span
        on-click("minimize")
        class=[
            "file-upload-notice",
            {
                "has-text": !!state.count,
            },
        ]
    >
        <if(!!state.count)>
            <span>
                <translation-string
                    pattern="Translatable#{0} File(s) added"
                    placeholders=[state.count]
                />
                <span class="kix-icon-check"/>
            </span>
        </if>
        <div class="toggle">
            <span class=[
                "line",
                {
                    minimized: state.minimized,
                },
            ]/>
            <if(state.minimized)>
                <span class="kix-icon-sort-down"/>
            </if>
            <else>
                <span class="kix-icon-triangle-up">
                    <span class="path1"/>
                    <span class="path2"/>
                </span>
            </else>
        </div>
    </span>
    <if(!state.minimized)>
        <label-list
            labels=state.labels
            showUnknownIcon=false
            removeLabels=!state.readonly
            on-removeLabel("removeFile")
        />
    </if>
</div>
