<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.bulk-form>
    <if(state.bulkManager)>
        <h3><translation-string pattern="Translatable#Properties"/></h3>
        <dynamic-form-field-container
            manager=state.bulkManager
            key=state.componentId
        />
        <if(state.linkManager)>
            <h3><translation-string pattern="Translatable#Links"/></h3>
            <dynamic-form-field-container
                manager=state.linkManager
                key=(state.componentId + "LinkManager")
            />
        </if>
        <div.dialog-button-container>
            <button.kix-button.form-blank-cancel-button
                type="button"
                on-click("reset")
                title=(state.translations["Translatable#Reset data"])
            >
                <span.kix-icon-delete/>
                <translation-string pattern="Translatable#Reset data"/>
            </button>
        </div>
        <if(state.table)>
            <div.object-table>
                <div.object-table-head><span>${state.tableTitle}</span></div>
                <kix-table table=state.table/>
            </div>
        </if>
        <div.dialog-control>
            <div.dialog-button-container>
                <button.kix-button.cancel-button
                    type="button"
                    on-click("cancel")
                    title=(state.translations["Translatable#Cancel"])
                >
                    <span.kix-icon-close/>
                    <translation-string pattern="Translatable#Cancel"/>
                </button>
                <button.kix-button.submit-button
                    type="button"
                    on-click("run")
                    title=(state.translations["Translatable#Execute now"])
                    disabled=!state.canRun
                >
                    <span.kix-icon-edit/>
                    <translation-string pattern="Translatable#Execute now"/>
                </button>
            </div>
        </div>
    </if>
    <loading-shield shieldId="BULK_SHIELD"/>
</div>
