<div.faq-dashboard>
    <for(kixWidget in state.contentWidgets)>
        <${component.getTemplate(kixWidget)} ...{
            instanceId: kixWidget.instanceId,
            contextType: "MAIN"
        }/>
    </for>
</div>
