<div.faq-dashboard>
    <for|kixWidget| of=state.contentWidgets>
        <${component.getTemplate(kixWidget)} ...{
            instanceId: kixWidget.instanceId,
            contextType: "MAIN"
        }/>
    </for>
</div>
