@form-label-columm: 14.5rem;
@form-hint-icon-column: 2rem;
.form {
    padding-left: @margin-widget-content;
    .form-field {
        &:not(:last-child) {
            margin-bottom: @margin-small;
        }
        min-height: 2em;
        display: grid;
        grid-template-columns: @form-label-columm @form-hint-icon-column auto;
        >.field-label {
            white-space: nowrap;
            font-weight: bold;
            margin-top: .25rem;
            display: grid;
            grid-template-columns: auto max-content;
            >span.label-text {
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
                >.required-field {
                    &:after {
                        content: " ";
                    }
                }
            }
            &:after {
                content: ":"
            }
        }
        >.field-icon {
            margin-top: .25rem;
            margin-left: .25rem;
        }
    }
    .button-container {
        margin-top: @margin-default;
        margin-left: @form-label-columm + @form-hint-icon-column;
        display: grid;
        grid-auto-columns: 1fr;
        justify-items: center;
        grid-auto-flow: column;
        button:last-child {
            justify-self: right
        }
        button:first-child {
            justify-self: left;
        }
    }
}