.form {
    .form-field {
        &:not(:last-child) {
            margin-bottom: @margin-small;
        }
        height: 2em;
        display: grid;
        grid-template-columns: 15.5em 2em auto;
        align-items: center;
        >.field-label {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: right;
            font-weight: bold;
            &:after {
                content: ":"
            }
            >.required-field {
                &:after {
                    content: " ";
                }
            }
        }
    }
}