.form {
    .form-field {
        &:not(:last-child) {
            margin-bottom: @margin-small;
        }
        height: 2em;
        display: grid;
        grid-template-columns: 15.5em 2em auto;
        align-items: center;
        >.field-label {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: right;
            font-weight: bold;
            &:after {
                content: ":"
            }
            >.required-field {
                &:after {
                    content: " ";
                }
            }
        }
        >.field-input {
            input {
                box-sizing: border-box;
                border: 1px solid @secondary-4;
                border-radius: @border-radius;
                padding: 0 @margin-small;
                background-color: @secondary-6;
                height: 1.75rem;
                width: 100%;
                color: @default-dark-font-color;
            }
        }
    }
}