<div.widget-bar>
    <for(sidebar in state.sidebars)>
        <div.bar-icon class=(sidebar.configuration.show ? "select-active" : "") on-click('toggleSidebar', sidebar.instanceId)>
            <span class=sidebar.configuration.icon/>
        </div>
    </for>
</div>
