<h1>ElasticSearch</h1>
<div>
    <p.elastic-count>ticketCount: ${state.ticketCount}</p>
    <p.elastic-count>assetCount: ${state.assetCount}</p>
    <p.elastic-count>organisationCount: ${state.organisationCount}</p>
    <p.elastic-count>contactCount: ${state.contactCount}</p>
    <p.elastic-count>faqCount: ${state.faqCount}</p>
</div>
<div.datatables>
    <div.datatables>
        <h2#tickets><b>Tickets</b></h2>
        <div#elastic-ticket-table>
            <table.elastic-table>
                <thead>
                    <tr>
                        <th.elastic-header>Prio</th>
                        <th.elastic-header>Ticket#</th>
                        <th.elastic-header>Titel</th>
                        <th.elastic-header>Status</th>
                        <th.elastic-header>Lock</th>
                        <th.elastic-header>Team</th>
                        <th.elastic-header>Verantwortlicher</th>
                        <th.elastic-header>Bearbeiter</th>
                        <th.elastic-header>Organisaton</th>
                        <th.elastic-header>Changed at</th>
                    </tr>
                </thead>
                <tbody#ttb>
                </tbody>
            </table>
        </div>
    </div>
    <div.datatables>
        <h2#assets><strong>Assets</strong></h2>
        <div#elastic-asset-table>
            <table.elastic-table>
                <thead>
                    <tr>
                        <th.elastic-header>Asset#</th>
                        <th.elastic-header>Name</th>
                        <th.elastic-header>Current Deployment State</th>
                        <th.elastic-header>Current Incident State</th>
                        <th.elastic-header>Class</th>
                        <th.elastic-header>Changed at</th>
                        <th.elastic-header>Changed by</th>                        
                    </tr>
                </thead>
                <tbody#atb>
                </tbody>
            </table>
        </div>
    </div>
    <div.datatables>
        <h2#organisations><b>Organisations</b></h2>
        <div#elastic-organisation-table>
            <table.elastic-table>
                <thead>
                    <tr>
                        <th.elastic-header>CNO</th>
                        <th.elastic-header>Name</th>
                        <th.elastic-header>Land</th>
                        <th.elastic-header>Stadt</th>
                        <th.elastic-header>Straße</th>
                        <th.elastic-header>Validty</th>
                    </tr>
                </thead>
                <tbody#otb>
                </tbody>
            </table>
        </div>
    </div>
    <div.datatables>
        <h2#contacts><b>Contacts</b></h2>
        <div#elastic-contact-table>
            <table.elastic-table>
                <thead>
                    <tr>
                        <th.elastic-header>First Name</th>
                        <th.elastic-header>Last Name</th>
                        <th.elastic-header>Email</th>
                        <th.elastic-header>Login Name</th>
                        <th.elastic-header>Organisation</th>
                        <th.elastic-header>Customer Login</th>
                        <th.elastic-header>Agent Login</th>
                        <th.elastic-header>Telefon</th>
                        <th.elastic-header>Land</th>
                        <th.elastic-header>Stadt</th>
                        <th.elastic-header>Straße</th>
                        <th.elastic-header>Validty</th>
                    </tr>
                </thead>
                <tbody#ctb>
                </tbody>
            </table>
        </div>
    </div>
    <div.datatables>
        <h2#faqs><b>FAQs</b></h2>
        <div#elastic-faq-table>
            <table.elastic-table>
                <thead>
                    <tr>
                        <th.elastic-header>FAQ#</th>
                        <th.elastic-header>Titel</th>
                        <th.elastic-header>Sprache</th>
                        <th.elastic-header>In Kundenportal anzeigen</th>
                        <th.elastic-header>Rating</th>
                        <th.elastic-header>Kategorie</th>
                        <th.elastic-header>Changed at</th>
                        <th.elastic-header>Changed by</th>   
                        <th.elastic-header>Validty</th>
                    </tr>
                </thead>
                <tbody#ftb>
                </tbody>
            </table>
        </div>
    </div>
</div>
