<div.key-value-pair.clearfix>
    <if(state.showKey && input.key)>
        <span.key>
            <include(input.key)/>
        </span>
    </if>
    <if(state.showInfo)>
        <span.info>
            <if(input.info)>
                <include(input.info)/>
            </if>
        </span>
    </if>
    <if(state.showValue && input.value)>
        <span.value>
            <include(input.value)/>
        </span>
    </if>
</div>
