.key-value-pair {
    .key {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        [class^="kix-icon-"],
        [class*=" kix-icon-"],
        .svg-icon {
            margin-left: 5px;
        }
    }
}