<widget key="ci-version-widget" instanceId=state.instanceId title=state.title contentActions=state.actions>
    <@content>
        <div.version-content>
            <if(!state.table)>
                <loading-spinner/>
            </if>
            <else>
                <standard-table standardTable=state.table key="ci-version-table"/>
            </else>
        </div>
    </@content>
</widget>
