<if(state.field)>
    <input.input-style class={invalid: state.invalid} value=state.currentValue type=state.inputType
        maxlength=state.field.maxLength placeholder=(state.field.required ? state.placeholder : "")
        autocomplete=component.getAutoCompleteOption() required=input.required on-keydown('keyDown')
        on-blur('focusLost') on-change('valueChanged')/>
</if>
