<form-list nodes=state.nodes placeholder=(state.field.required ? "Vorfallstatus" : "") selectedNodes=state.currentNodes
    required=state.field.required on-nodesChanged('incidentChanged') invalid=state.invalid
    multiselect=state.multiselect/>
