<if(state.cellLabels && !!state.cellLabels.length)>
    <span.label-list-cell>
        <for|label| of=state.cellLabels>
            <label-item label=label removeLabels=false/>
        </for>
    </span>
</if>
