<widget instanceId=input.instanceId isLoading=(!state.contact) minimizable=false title="Ansprechpartnerinfo">
    <@icon>
        <span.kix-icon-man/>
    </@icon>
    <@content>
        <if(state.contact)>
            <contact-info contact=state.contact/>
        </if>
    </@content>
    <@filter/>
    <@contentActions/>
</widget>
