<widget instanceId=input.instanceId minimizable=input.minimizable>
    <@icon/>
    <@title>
        <if(state.widgetConfiguration)>${state.widgetConfiguration.title}</if>
    </@title>
    <@content>
        <if(state.contact)>
            <contact-info contact=state.contact/>
        </if>
    </@content>
    <@filter/>
    <@actions/>
    <@contentActions/>
</widget>
