<widget instanceId=input.instanceId minimizable=false contextType=state.contextType
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "Ansprechpartner") type=64>
    <@icon>
        <span class=(state.widgetConfiguration && state.widgetConfiguration.icon ? state.widgetConfiguration.icon : "kix-icon-man")/>
    </@icon>
    <@content>
        <if(state.contactId)>
            <ticket-contact-info contactId=state.contactId/>
        </if>
    </@content>
</widget>
