<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<div.application-tools>
    <application-search/>
    <div title=state.translations["Translatable#Personal Settings"]>
        <span.kix-icon-gear on-click("showPersonalSettings")/>
    </div>
    <link-target routingConfiguration=component.getReleaseRoutingConfig()>
        <@content>
            <div title=state.translations["Translatable#Help"]>
                <span.kix-icon-query.as-button/>
            </div>
        </@content>
    </link-target>
    <div title=state.translations["Translatable#Logout"]>
        <span.kix-icon-logout on-click("logout")/>
    </div>
</div>
