<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.login-wrapper>
    <div.login-page.clearfix>
        <div.login-background/>

        <if(!state.loading)>
            <div.login-dialog>
                <if(
                    Array.isArray(state.notifications) &&
                    state.notifications.length,
                )>
                    <div.portal-notifications>
                        <login-notification-list notifications=state.notifications/>
                    </div>
                </if>
                <div.dialog-header>
                    <div#kix-logo>
                        <if(input.logo)>
                            <img
                                alt="kix-logo"
                                src=(
                                    "data:" +
                                    input.logo.ContentType +
                                    ";base64," +
                                    input.logo.Content
                                )
                            >
                        </if>
                        <else>
                            <img
                                alt="kix-logo"
                                src="/static/img/kix_default.png"
                            >
                        </else>
                    </div>
                    <h1>${component.getString("Welcome to KIX")}</h1>
                </div>

                <if(state.error || state.logout || state.unsupportedBrowser)>
                    <div.dialog-message-area>
                        <if(state.unsupportedBrowser)>
                            <div.message.message-hint>
                                ${component.getString(
                                    "Note: For optimal use of KIX, we recommend alternative browsers such as Chromium or Firefox."
                                )}
                            </div>
                        </if>
                        <if(state.error)>
                            <div.message.message-error>
                                <span.kix-icon-warnsign/>
                                ${component.getString("Login failed")}
                            </div>
                        </if>
                        <else-if(state.logout)>
                            <div.message.message-success>
                                <span.kix-icon-icircle/>

                                ${component.getString(
                                    "You have successfully logged out."
                                )}
                            </div>
                        </else-if>
                    </div>
                </if>
                <if(state.loginProcess)>
                    <div.loading-container>
                        <div.login-loading>
                            <div.loading-dots>
                                <div.loading-dots--dot/>
                                <div.loading-dots--dot/>
                                <div.loading-dots--dot/>
                            </div>
                        </div>
                    </div>
                </if>
                <else>
                    <div.dialog-content on-keydown("keyDown")>
                        <label>
                            <span>${component.getString("Login Name")}:</span>
                            <input.input-style
                                type="text"
                                name="username"
                                tabindex="1"
                                value=state.userName
                                on-change("userNameChanged")
                                key="login-user-name"
                            >
                        </label>
                        <label>
                            <span>${component.getString("Password")}:</span>
                            <!-- no-update to keep autofilled passwords -->
                            <input.input-style
                                type="password"
                                name="password"
                                tabindex="2"
                                key="login-user-password"
                                no-update
                            >
                        </label>
                        <div.dialog-buttons>
                            <button.kix-button.special-button
                                type="button"
                                on-click("login")
                                tabindex="3"
                            >
                                <span.kix-icon-check/>
                                ${component.getString("Login")}
                            </button>
                        </div>
                    </div>
                </else>
            </div>
            <if(input.releaseInfo)>
                <login-footer
                    releaseInfo=input.releaseInfo
                    imprintLink=input.imprintLink
                    unauthorized
                />
            </if>
        </if>
    </div>
</div>
