<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.linkable-objects-dialog>
    <div.linkable-objects-selection title=(
        state.translations["Translatable#Link to"]
    )>
        <div.linkable-objects-selection-label>
            <span><translation-string pattern="Translatable#Link to"/></span>
        </div>
        <form-list
            loadNodes=state.loadNodes
            on-nodesChanged("linkableObjectChanged")
        />
    </div>
    <div.linkable-objects-form on-keydown("keyPressed")>
        <main-form/>
        <linkable-objects-search-button on-executeSearch("executeSearch")/>
    </div>
    <div.linkable-objects-result>
        <div.result-table-head>
            <span>
                <translation-string
                    pattern="Translatable#Search Results ({0})"
                    placeholders=[state.resultCount]
                />
            </span>
        </div>
        <if(state.table)>
            <kix-table table=state.table key=state.tableId/>
        </if>
    </div>
    <div.linkable-objects-submit>
        <div.linkable-objects-link-type-selection>
            <div.linkable-objects-selection-label>
                <span>
                    <translation-string pattern="Translatable#Link Type"/>
                </span>
            </div>
            <form-list
                treeId=state.linkTypeTreeId
                on-nodesChanged("linkTypeChanged")
                placeholder="Translatable#Link Type"
            />
        </div>
        <button.kix-button.submit-button
            disabled=!state.canSubmit
            on-click("submitClicked")
        >
            <span.kix-icon-check/>
            <translation-string pattern="Translatable#Submit"/>
        </button>
    </div>
</div>
