// default "css"
@border-radius: 3px;
@shadow-color: @secondary-3;
@shadow-1: 0 0 2px @shadow-color;
@shadow-2: 0 0 2rem @secondary-0;
@shadow-3: 0 0 10px @secondary-2;
html {
    height: 100%;
    box-sizing: border-box;
    background-color: @secondary-5;
    body {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
}

a,
a:active,
a:visited {
    color: @secondary-0;
    text-decoration: none;
    &:hover {
        color: @secondary-1;
    }
}

.vertical-align() {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.shield {
    .full-size();
    position: fixed;
    background-color: @secondary-6;
    opacity: 0.8;
}

span.error {
    color: red;
}

.button-color(@border-color: @secondary-7, @button-bg-color: @secondary-6, @button-icon-bg-color: @secondary-7, @button-font-color: @default-dark-font-color, @button-icon-color: @secondary-6) {
    background-color: @button-bg-color;
    color: @button-font-color;
    border-color: @border-color;
    >[class^="kix-icon-"],
    >[class*=" kix-icon-"] {
        background-color: @button-icon-bg-color;
        color: @button-icon-color;
        border-color: @border-color;
    }
    &:hover:not(:disabled) {
        background-color: darken(@button-bg-color, 10%);
        border-color: darken(@border-color, 10%);
        >[class^="kix-icon-"],
        >[class*=" kix-icon-"] {
            background-color: darken(@button-icon-bg-color, 10%);
            color: darken(@button-icon-color, 10%);
            border-color: darken(@border-color, 10%);
        }
    }
    &:disabled {
        background-color: @secondary-6;
        color: @secondary-2;
        border-color: @secondary-2;
        >[class^="kix-icon-"],
        >[class*=" kix-icon-"] {
            background-color: @secondary-2;
            color: @secondary-6;
            border-color: @secondary-2;
        }
    }
}

@default-button-icon-width: @default-input-height;
button {
    .button-color();
    &:not(:disabled) {
        cursor: pointer;
    }
    height: @default-input-height;
    box-sizing: border-box;
    line-height: @default-input-height;
    border-radius: @border-radius;
    border: 1px solid;
    position: relative;
    &:not(:hover) {
        box-shadow: @shadow-1;
    }
    &:not(.button-without-text) {
        min-width: 10rem;
        padding-left: .625rem+@default-button-icon-width;
        padding-right: .625rem;
        >[class^="kix-icon-"],
        >[class*=" kix-icon-"] {
            border-right: 1px solid;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &.button-without-text {
        padding: 0; // prevent browser default
        >span[class^="kix-icon-"],
        >span[class*=" kix-icon-"] {
            display: block;
        }
    }
    >[class^="kix-icon-"],
    >[class*=" kix-icon-"] {
        width: @default-button-icon-width;
        height: 100%;
        line-height: @default-input-height;
        text-align: center;
        border-radius: @border-radius;
        box-sizing: border-box;
        font-size: 1.5rem;
    }
    &.submit-button {
        .button-color(@primary-6, @secondary-6, @primary-6, @secondary-0);
        &:hover:not(:disabled) {
            background-color: @secondary-6;
        }
    }
    &.cancel-button {
        .button-color(@tertiary-0, @secondary-6, @tertiary-0, @secondary-0 );
        &:hover:not(:disabled) {
            background-color: @secondary-6;
        }
    }
    &.form-button {
        .button-color(@primary-2, @secondary-4, @secondary-3, @secondary-0, @primary-2);
    }
    &.form-blank-button {
        .button-color(@primary-2, @secondary-6, @secondary-3, @secondary-0, @primary-2);
        &:hover:not(:disabled) {
            background-color: @secondary-6;
        }
    }
    &.form-blank-red-button {
        .button-color(@tertiary-0, @secondary-6, @secondary-3, @secondary-0, @tertiary-0);
        &:hover:not(:disabled) {
            background-color: @secondary-6;
        }
    }
    &.special-button {
        .button-color(@primary-6, @primary-6, @secondary-6, @secondary-6, @primary-6);
        &:hover:not(:disabled) {
            >[class^="kix-icon-"],
            >[class*=" kix-icon-"] {
                background-color: @secondary-6;
            }
        }
    }
    &::-moz-focus-inner {
        border: none;
    }
}

.hidden {
    display: none;
}

.not-visible {
    visibility: hidden;
}

[class^="kix-icon-"],
[class*=" kix-icon-"] {
    &.as-button {
        cursor: pointer;
    }
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea::placeholder,
input::placeholder {
    color: @secondary-2;
    font-style: italic;
    font-family: Carlito, Arial, Helvetica, sans-serif; // TODO: für Firefox scheinbar nötig
    opacity: 1; // TODO: für Firefox scheinbar nötig
} // TODO: extra (noch testen in IE / Edge), weil sonst Regel für Chrome/Firefox nicht greift 
textarea:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
    color: @secondary-2;
    font-style: italic;
}

.full-size() {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: unset;
}

.rtl {
    direction: rtl;
}