// default "css"
html {
    height: 100%;
    box-sizing: border-box;
    background-color: @secondary-5;
    body {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
}

.vertical-align() {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

@border-radius: 3px;
//TODO: Shadow als mixin
@shadow-color: @secondary-3;
@shadow-blur: 5px;
@shadow: -1px -1px @shadow-blur @shadow-color,
1px 1px @shadow-blur @shadow-color;
.dialog-header {
    background: @primary-0;
    color: @default-light-font-color;
    margin-bottom: 2.5em;
    height: 87px;
    border-bottom: 6px solid @tertiary-0;
    & #kix-logo {
        background: @secondary-6;
        top: 10px;
        position: relative;
        padding: 3px 3px 3px 15px;
        width: 60px;
        height: 60px;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        & img {
            height: 60px;
        }
    }
}

.dialog-header {
    margin-bottom: 0;
}

button {
    position: relative;
    left: -35px;
    height: 35px;
    box-sizing: border-box;
    line-height: 35px;
    background-color: @tertiary-0;
    color: @secondary-6;
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    font-weight: 600;
    border: 0 none;
    padding: 0 1em;
    cursor: pointer;
    &.submit {
        background-color: @tertiary-0;
        &:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -35px;
            display: block;
            box-sizing: border-box;
            border: 2px solid @tertiary-0;
            width: 35px;
            height: 35px;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
            color: @tertiary-0;
            cursor: pointer;
        }
        &.disabled {
            background-color: @secondary-1;
            &:after {
                border: 2px solid @secondary-1;
                color: @secondary-1;
            }
        }
        &:hover {
            background-color: @tertiary-6;
            & [class^="kix-icon-"],
            & [class*=" kix-icon-"] {
                color: @tertiary-6;
            }
        }
        &:hover:after {
            border-color: @tertiary-6;
            color: @tertiary-6;
        }
        &:active {
            background-color: @tertiary-9;
        }
        &:active:after {
            border-color: @tertiary-9;
        }
        & [class^="kix-icon-"],
        & [class*=" kix-icon-"] {
            color: @tertiary-0;
        }
        &:active [class^="kix-icon-"],
        &:active [class*=" kix-icon-"] {
            color: @tertiary-9;
        }
    }
    & [class^="kix-icon-"],
    & [class*=" kix-icon-"] {
        position: absolute;
        top: 6px;
        right: -28px;
        font-size: 1.5em;
    }
}

.hidden {
    display: none;
}

.not-visible {
    visibility: hidden;
}

input[type=text] {
    border: 0 none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 2px 5px;
    color: #5b5b5b;
}

[class^="kix-icon icon-"]:before,
[class*=" kix-icon icon-"]:before {
    color: #000;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.kix-icon.icon-dummy:before {
    content: ' ';
    border: 1px solid #000;
    border-radius: 1em;
    background-color: #ccc;
    height: 1em;
    vertical-align: middle;
    line-height: 1.25em;
}


/* TODO: anpassen sobald bekannt bzw. entfernen */

.kix-icon.icon-dummy.icon-h:before {
    content: 'H';
}

.kix-icon.icon-dummy.icon-z:before {
    content: 'Z';
}

.kix-icon.icon-dummy.icon-n:before {
    content: 'N';
}

.kix-icon.icon-dummy.icon-i:before {
    content: 'i';
}

.kix-icon.icon-dummy.icon-t:before {
    content: 'T';
}

.kix-icon.icon-dummy.icon-x:before {
    content: 'X';
}

.kix-icon.icon-dummy.icon-asterisk:before {
    content: '*';
}

.kix-icon.icon-dummy.icon-menu {
    &:before {
        border-color: #fff;
        background-color: transparent;
        transition: background-color .25s;
        color: #fff;
    }
    &:hover:before {
        background-color: #fff;
    }
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}