// primary colors
@primary-0: #04537d;
@primary-1: #096392;
@primary-2: #0a7cb3;
@primary-3: #008dd2;
@primary-4: #7cb6d7;
@primary-5: #b6d6e8;
@primary-6: #82c826;

// secondary colors
@secondary-0: #5b5b5b;
@secondary-1: #9e9e9e;
@secondary-2: #c6c6c6;
@secondary-3: #e3e3e3;
@secondary-4: #ececec;
@secondary-5: #f5f5f5;
@secondary-6: #ffffff;
@secondary-7: #000000;

// teriary colors
@tertiary-0: #e31e24;
@tertiary-1: #ef7f1A;
@tertiary-2: #eb9674;
@tertiary-3: #ffed00;
@tertiary-4: #9fbb2f;
@tertiary-5: #009846;

// TODO: this colors should be removed and replaced by colors from styleguide
@tertiary-6: #75b422; // submit button hover
@tertiary-9: #537c2b; // submit button active
@tertiary-10: #d9dada; // submit button color and icon background

// other
@default-dark-font-color: @secondary-7;
@default-light-font-color: @secondary-6;
@config-color: @tertiary-3;