@primary-0: #096392;
@primary-1: #0a7cb3;
@primary-2: #008dd2;
@primary-3: #7cb6d7;
@primary-4: #b6d6e8;
@secondary-0: #5b5b5b;
@secondary-1: #9e9e9e;
@secondary-2: #c6c6c6;
@secondary-3: #e3e3e3;
@secondary-4: #ececec;
@secondary-5: #f5f5f5;
@secondary-6: #fff;
@tertiary-0: #82c826;
@tertiary-1: #ef7f1A;
@tertiary-2: #e31e24;
@tertiary-3: #009846;
@tertiary-4: #ffed00;
@tertiary-5: #04537d; // article widget header, possible primary?
@default-dark-font-color: #000; // also possible seconary?
@default-light-font-color: #fff;
@tertiary-6: #eb9674;
@tertiary-7: #9fbb2f;