.color-theme-0() {
    @bc-color: @primary-0;
    background: @bc-color;
    @font-color: @default-light-font-color;
    color: @font-color;
}

.color-theme-1() {
    @bc-color: @primary-1;
    background: @bc-color;
    @font-color: @default-light-font-color;
    color: @font-color;
}

.color-theme-2() {
    @bc-color: @primary-2;
    background: @bc-color;
    @font-color: @default-light-font-color;
    color: @font-color;
}

.color-theme-3() {
    @bc-color: @secondary-2;
    background: @bc-color;
    @font-color: @secondary-0;
    color: @font-color;
}

.color-theme-4() {
    @bc-color: @secondary-6;
    background: @bc-color;
    @font-color: @default-dark-font-color;
    color: @font-color;
}

.color-theme-5() {
    @bc-color: @tertiary-5;
    background: @bc-color;
    @font-color: @default-light-font-color;
    color: @font-color;
}

.color-theme-6() {
    @bc-color: @secondary-6;
    background: @bc-color;
    @font-color: @secondary-2;
    color: @font-color;
}

.color-theme-7() {
    @bc-color: @secondary-3;
    background: @bc-color;
    @font-color: @secondary-0;
    color: @font-color;
}

.color-theme-8() {
    @bc-color: @secondary-0;
    background: @bc-color;
    @font-color: @secondary-3;
    color: @font-color;
}

.color-theme-9() {
    @bc-color: @secondary-6;
    background: @bc-color;
    @font-color: @secondary-1;
    color: @font-color;
}

.vertical-align() {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

@static-path: '/dist/static/';
@default-font-size: 100%;
@border-radius: 5px;
// predefine shadows
@shadow-color: @secondary-3;
@shadow-blur: 5px;
@shadow: -1px -1px @shadow-blur @shadow-color,
1px 1px @shadow-blur @shadow-color;
@shadow-left: -1px 0px @shadow-blur @shadow-color;
@shadow-top: 0px -1px @shadow-blur @shadow-color;
@shadow-right: 1px 0px @shadow-blur @shadow-color;
@shadow-bottom: 0px 1px @shadow-blur @shadow-color;
.shadow-margin() {
    margin: @shadow-blur;
}

@height-0: 40px;
.height-0() {
    height: @height-0;
    box-sizing: border-box;
}

@height-1: 36px;
.height-1() {
    height: @height-1;
    box-sizing: border-box;
}

@height-2: 23px;
.height-2() {
    height: @height-2;
    box-sizing: border-box;
}

// include Carlito font
@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-regular.woff);
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-bold-italic.woff);
    font-weight: bold;
    font-style: italic;
}