.dialog-button-container {
    margin-top: @margin-default;
    margin-left: 17.5rem;
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: center;
    grid-auto-flow: column;
    grid-gap: 1.75rem;
    padding-right: 3rem;
    button:last-child {
        justify-self: right
    }
    button:first-child {
        justify-self: left;
    }
}