@import "kix_font.less";
html {
    font-size: 87.5%;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-regular.woff) format('woff'),
    url(@{static-path}font/carlito-regular.ttf) format('truetype');
}

@font-face {
    font-family: Carlito;
    src: url('@{static-path}font/carlito-bold.woff') format('woff'),
    url(@{static-path}font/carlito-bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-italic.woff) format('woff'),
    url(@{static-path}font/carlito-italic.ttf) format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-bold-italic.woff) format('woff'),
    url(@{static-path}font/carlito-bold-italic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

.font-size-normal() {
    font-size: 1rem;
}

.font-size-small() {
    font-size: .875rem;
}

.icon-font-size-normal() {
    font-size: 1.5rem;
}

.icon-font-size-small() {
    font-size: 1rem;
}

@h1-font-size: 2.25rem;
h1 {
    font-size: @h1-font-size;
    font-weight: normal;
}

@h2-font-size: 1.125rem;
h2 {
    font-size: @h2-font-size;
    font-weight: normal;
}

.shorten-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}