@import "kix_font.less";
html {
    font-size: 87.5%;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-regular.woff);
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Carlito;
    src: url(@{static-path}font/carlito-bold-italic.woff);
    font-weight: bold;
    font-style: italic;
}

.font-size-normal() {
    font-size: 1rem;
}

.font-size-small() {
    font-size: 0.875rem;
}

@h1-font-size: 2.25rem;
h1 {
    font-size: @h1-font-size;
    font-weight: normal;
}

@h2-font-size: 1.125rem;
h2 {
    font-size: @h2-font-size;
    font-weight: normal;
}