@import "kix_font.less";
html {
    font-size: 87.5%;
}

.font-size-normal() {
    font-size: 1rem;
}

.font-size-small() {
    font-size: .875rem;
}

.icon-font-size-normal() {
    font-size: 1.5rem;
}

.icon-font-size-small() {
    font-size: 1rem;
}

@h1-font-size: 2.25rem;
h1 {
    font-size: @h1-font-size;
    font-weight: normal;
}

@h2-font-size: 1.125rem;
h2 {
    font-size: @h2-font-size;
    font-weight: normal;
}

.shorten-text() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}