/**
 * Grid system
 */

.unit,
.unit-space  {
    // float: left;
    display: inline-block;
    vertical-align: top;
}

.unit {
    display: inline-block;
    float: none;
}

.size1of1,
.size6of6 {
    width: 100%;
}

.size1of2,
.size2of4,
.size3of6,
.size4of8,
.size5of10,
.size6of12,
.size7of14,
.size8of16 {
    width: 50%;
}

.size1of3,
.size2of6,
.size3of9 {
    width: 33.33%;
}

.size2of3,
.size4of6 {
    width: 66.66%;
}

.size1of4,
.size2of8,
.size3of12,
.size4of16 {
    width: 25%;
}

.size3of4,
.size6of8,
.size9of12,
.size12of16 {
    width: 75%;
}

.size1of5,
.size2of10 {
    width: 20%;
}

.size2of5,
.size4of10 {
    width: 40%;
}

.size3of5,
.size6of10 {
    width: 60%;
}

.size4of5,
.size8of10 {
    width: 80%;
}

.size1of6,
.size2of12 {
    width: 16.66%;
}

.size5of6,
.size10of12 {
    width: 83.33%;
}

.size1of7,
.size2of14 {
    width: 14.285%;
}

.size2of7,
.size4of14 {
    width: 28.571%;
}

.size3of7,
.size6of14 {
    width: 42.857%;
}

.size4of7,
.size8of14 {
    width: 57.142%;
}

.size5of7,
.size10of14 {
    width: 71.428%;
}

.size6of7,
.size12of14 {
    width: 85.714%;
}

.size1of8,
.size2of16 {
    width: 12.5%;
}

.size3of8,
.size6of16 {
    width: 37.5%;
}

.size5of8,
.size10of16 {
    width: 62.5%;
}

.size7of8,
.size14of16 {
    width: 87.5%;
}

.size1of9 {
    width: 11.11%;
}

.size2of9 {
    width: 22.22%;
}

.size4of9 {
    width: 44.44%;
}

.size5of9 {
    width: 55.55%;
}

.size7of9 {
    width: 77.77%;
}

.size8of9 {
    width: 88.89%;
}

.size1of10 {
    width: 10%;
}

.size3of10 {
    width: 30%;
}

.size7of10 {
    width: 70%;
}

.size9of10 {
    width: 90%;
}

.size1of11 {
    width: 9.09%;
}

.size2of11 {
    width: 18.18%;
}

.size3of11 {
    width: 27.27%;
}

.size4of11 {
    width: 36.36%;
}

.size5of11 {
    width: 45.45%;
}

.size6of11 {
    width: 54.54%;
}

.size7of11 {
    width: 63.63%;
}

.size8of11 {
    width: 72.72%;
}

.size9of11 {
    width: 81.81%;
}

.size10of11 {
    width: 90.90%;
}

.size1of12 {
    width: 8.33%;
}

.size5of12 {
    width: 41.66%;
}

.size7of12 {
    width: 58.33%;
}

.size11of12 {
    width: 91.66%;
}

.size1of13 {
    width: 7.69%;
}

.size2of13 {
    width: 15.38%;
}

.size3of13 {
    width: 23.07%;
}

.size4of13 {
    width: 30.76%;
}

.size5of13 {
    width: 38.45%;
}

.size6of13 {
    width: 46.14%;
}

.size7of13 {
    width: 53.83%;
}

.size8of13 {
    width: 61.52%;
}

.size9of13 {
    width: 69.21%;
}

.size10of13 {
    width: 76.9%;
}

.size11of13 {
    width: 84.59%;
}

.size12of13 {
    width: 92.28%;
}

.size1of14 {
    width: 7.1%;
}

.size3of14 {
    width: 21.4%;
}

.size5of14 {
    width: 35.7%;
}

.size6of14 {
    width: 42.9%;
}

.size8of14 {
    width: 57.1%;
}

.size9of14 {
    width: 64.3%;
}

.size11of14 {
    width: 78.6%;
}

.size13of14 {
    width: 92.9%;
}

.size1of15 {
    width: 6.66%;
}

.size2of15 {
    width: 13.33%;
}

.size4of15 {
    width: 26.66%;
}

.size7of15 {
    width: 46.66%;
}

.size8of15 {
    width: 53.33%;
}

.size11of15 {
    width: 73.33%;
}

.size13of15 {
    width: 86.66%;
}

.size14of15 {
    width: 93.33%;
}

.size1of16 {
    width: 6.25%;
}

.size3of16 {
    width: 18.75%;
}

.size5of16 {
    width: 31.25%;
}

.size7of16 {
    width: 43.75%;
}

.size9of16 {
    width: 56.25%;
}

.size11of16 {
    width: 68.75%;
}

.size13of16 {
    width: 81.25%;
}

.size15of16 {
    width: 93.75%;
}

.unit-space > div,
.unit-space > dl,
.unit-space > fieldset,
.unit-space > form,
.unit-space > h1,
.unit-space > h2,
.unit-space > h3,
.unit-space > h4,
.unit-space > h5,
.unit-space > h6,
.unit-space > hr,
.unit-space > img,
.unit-space > ol,
.unit-space > p,
.unit-space > table,
.unit-space > ul,
.lineSpace {
    margin-left: 10px;
    margin-right: 10px;
}

.unit-space .spaceReset {
    margin: 0;
}
.line,
.line-space {
    margin-bottom: 20px;
}

.line > .unit-space:first-of-type > div {
    margin-left: 0;
}

.line > .unit-space:last-of-type > div {
    margin-right: 0;
}