.input-style {
    font: unset;
    .font-size-normal();
    box-sizing: border-box;
    border: 1px solid @secondary-3;
    border-radius: @border-radius;
    padding: 0 @margin-small;
    background-color: @secondary-6;
    height: @default-input-height;
    width: 100%;
    color: @default-dark-font-color;
    input[type="text"]& {
        padding-top: .25rem;
        &:disabled {
            background-color: @secondary-4;
        }
    }
    &:focus:not(:disabled),
    &:hover:not(:disabled) {
        border-color: darken(@secondary-3, 20%);
    }
    &.invalid {
        border-color: @tertiary-0;
        &::placeholder {
            color: @tertiary-0;
        }
        &~.dropdown-button {
            color: @tertiary-0;
        }
    }
    &.article-body {
        padding: 0;
        height: unset;
        overflow: hidden;
        >.editor-container {
            >.cke {
                overflow: auto;
                border: none;
            }
        }
    }
}

.dropdown,
.dropdown-tree,
.dropdown-auto-complete {
    position: relative;
    >div.dropdown-input-container {
        position: relative;
        padding: 0;
        &:hover,
        &.list-shown {
            >input.input-style:not(:disabled),
            >input.input-style:not(:disabled)~.dropdown-button {
                border-color: darken(@secondary-3, 20%);
            }
        }
        >input.input-style:focus:not(:disabled)~.dropdown-button {
            border-color: darken(@secondary-3, 20%);
        }
        >input.input-style:not(:disabled)~.dropdown-button:hover {
            background-color: darken(@secondary-4, 10%);
            color: darken(@secondary-2, 10%);
            cursor: pointer;
        }
        >input.invalid~.dropdown-button {
            color: @tertiary-0;
            border-color: @tertiary-0;
        }
        >.selected-item-container {
            display: inline-block;
            position: absolute;
            top: .25rem;
            left: .25rem;
            max-width: 96%;
            >.selected-item {
                display: grid;
                grid-auto-flow: column;
                align-items: center;
                grid-gap: @margin-small;
                grid-template-rows: 1.5rem;
                background-color: @secondary-5;
                border-radius: @border-radius;
                padding: 0 @margin-small;
                span:first-child[class^="kix-icon-"],
                span:first-child[class*=" kix-icon-"] {
                    font-size: .875rem;
                }
                .item-text {
                    align-self: end;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .kix-icon-close {
                    font-size: .75rem;
                    color: @secondary-2;
                    cursor: pointer;
                    &:hover {
                        color: darken(@secondary-2, 20%);
                    }
                }
            }
        }
        >.dropdown-button {
            background-color: @secondary-4;
            color: @secondary-2;
            width: @default-input-height;
            height: @default-input-height;
            line-height: @default-input-height;
            text-align: center;
            border-radius: @border-radius;
            border: 1px solid @secondary-3;
            box-sizing: border-box;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    >.dropdown-list {
        // TODO: Styling anpassen, sobald verfügbar
        z-index: 1;
        position: absolute;
        top: @default-input-height;
        left: 0;
        right: 0;
        max-height: 10em;
        overflow: auto;
        list-style: none;
        border: 1px solid @secondary-4;
        background-color: @secondary-6;
        .dropdown-item {
            display: grid;
            grid-template-columns: max-content max-content max-content;
            grid-column-gap: 0.5em;
            align-items: center;
            height: 1.5rem;
            padding-left: 0.5rem;
            &.active {
                background-color: @secondary-4;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}