.input-style {
    font: unset;
    .font-size-normal();
    box-sizing: border-box;
    border: 1px solid @secondary-3;
    border-radius: @border-radius;
    padding: 0 @margin-small;
    background-color: @secondary-6;
    height: @default-input-height;
    width: 100%;
    color: @default-dark-font-color;
    input[type="text"]& {
        padding-top: .25rem;
        &:disabled {
            background-color: @secondary-4;
        }
        &:invalid {
            // TODO: eigenes Styling nutzen? Firefox setzt box-shadow
            box-shadow: none;
        }
    }
    &:focus:not(:disabled),
    &:hover:not(:disabled) {
        border-color: darken(@secondary-3, 20%);
    }
    &.invalid {
        border-color: @tertiary-0;
        &::placeholder {
            color: @tertiary-0;
        }
        &~.form-list-button {
            color: @tertiary-0;
        }
    }
    &.article-body {
        padding: 0;
        height: unset;
        overflow: hidden;
    }
}

// TODO: mit style der form-list zusammenfassen
.form-list {
    position: relative;
    >.form-list-loading,
    >.form-list-autocomplete-no-results,
    >.form-list-tree {
        z-index: 1;
        position: absolute;
        top: @default-input-height;
        left: 0;
        right: 0;
        border: 1px solid @secondary-4;
        background-color: @secondary-6;
        min-height: @default-input-height;
        padding: .25rem;
        box-sizing: border-box;
    }
    >.form-list-loading {
        >.loading-spinner {
            width: 1.75rem;
            height: 1.75rem;
        }
    }
    >.form-list-tree {
        max-height: 15rem;
        overflow: auto;
        border-radius: @border-radius;
    }
    >div.form-list-input-container {
        height: unset;
        min-height: 2rem;
        position: relative;
        padding: 0;
        &:not(.autocomplete) {
            padding-right: 1.75rem;
            >input {
                border-right: none;
                margin: -1px;
            }
            >.form-list-button {
                top: -1px;
                right: -1px;
            }
        }
        &.autocomplete {
            >input {
                border: none;
            }
        }
        &:hover,
        &.list-shown {
            >input.input-style:not(:disabled),
            >input.input-style:not(:disabled)~.form-list-button,
            >.selected-nodes~.form-list-button {
                border-color: darken(@secondary-3, 20%);
            }
        }
        >input.input-style:focus:not(:disabled)~.form-list-button {
            border-color: darken(@secondary-3, 20%);
        }
        >input.input-style:not(:disabled)~.form-list-button:hover,
        >.selected-nodes~.form-list-button:hover {
            background-color: darken(@secondary-4, 10%);
            color: darken(@secondary-2, 10%);
            cursor: pointer;
        }
        >input.invalid~.form-list-button {
            color: @tertiary-0;
            border-color: @tertiary-0;
        }
        >.selected-nodes {
            padding: .25rem .25rem 0 .25rem;
            display: flex;
            flex-wrap: wrap;
            margin-top: -1px;
            margin-bottom: -1px;
            >.selected-node {
                display: grid;
                grid-auto-flow: column;
                align-items: center;
                grid-gap: @margin-small;
                grid-template-rows: 1.5rem;
                background-color: @secondary-5;
                border-radius: @border-radius;
                padding: 0 @margin-small;
                height: 1.5rem;
                box-sizing: border-box;
                margin: 0 .25rem .25rem 0;
                span:first-child[class^="kix-icon-"],
                span:first-child[class*=" kix-icon-"] {
                    font-size: .875rem;
                }
                .item-text {
                    align-self: end;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .kix-icon-close {
                    font-size: .75rem;
                    color: @secondary-2;
                    cursor: pointer;
                    &:hover {
                        color: darken(@secondary-2, 20%);
                    }
                }
            }
        }
        >.form-list-button {
            background-color: @secondary-4;
            color: @secondary-2;
            width: @default-input-height;
            height: @default-input-height;
            line-height: @default-input-height;
            text-align: center;
            border-radius: @border-radius;
            border: 1px solid @secondary-3;
            box-sizing: border-box;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}