[class^="kix-icon-"],
[class*=" kix-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'kix_font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kix-icon-hardware:before {
    content: "\e9e9";
}

.kix-icon-software:before {
    content: "\e9ea";
}

.kix-icon-network .path1:before {
    content: "\e9eb";
    color: rgb(0, 0, 0);
}

.kix-icon-network .path2:before {
    content: "\e9ec";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-network .path3:before {
    content: "\e9ed";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-network .path4:before {
    content: "\e9ee";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-network .path5:before {
    content: "\e9ef";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-network .path6:before {
    content: "\e9f0";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-computer:before {
    content: "\e9f1";
}

.kix-icon-ticket-close-pending-success .path1:before {
    content: "\e9f2";
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-pending-success .path2:before {
    content: "\e9f3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-pending-success .path3:before {
    content: "\e9f4";
    margin-left: -1em;
    color: rgb(175, 206, 100);
}

.kix-icon-ticket-close-pending-unsuccess .path1:before {
    content: "\e9f5";
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-pending-unsuccess .path2:before {
    content: "\e9f6";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-pending-unsuccess .path3:before {
    content: "\e9f7";
    margin-left: -1em;
    color: rgb(214, 92, 81);
}

.kix-icon-ticket-merged:before {
    content: "\e9f8";
}

.kix-icon-ticket-removed:before {
    content: "\e9f9";
}

.kix-icon-service_active .path1:before {
    content: "\e9fa";
    color: rgb(9, 99, 146);
}

.kix-icon-service_active .path2:before {
    content: "\e9fb";
    margin-left: -1em;
    color: rgb(198, 198, 198);
}

.kix-icon-service_active .path3:before {
    content: "\e9fc";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-service_active .path4:before {
    content: "\e9fd";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-service-red_02 .path1:before {
    content: "\e9fe";
    color: rgb(227, 30, 36);
}

.kix-icon-service-red_02 .path2:before {
    content: "\e9ff";
    margin-left: -1em;
    color: rgb(138, 18, 20);
}

.kix-icon-service-red_02 .path3:before {
    content: "\ea00";
    margin-left: -1em;
    color: rgb(138, 18, 20);
}

.kix-icon-service-yellow_02 .path1:before {
    content: "\ea01";
    color: rgb(254, 204, 0);
}

.kix-icon-service-yellow_02 .path2:before {
    content: "\ea02";
    margin-left: -1em;
    color: rgb(239, 127, 26);
}

.kix-icon-service-yellow_02 .path3:before {
    content: "\ea03";
    margin-left: -1em;
    color: rgb(239, 127, 26);
}

.kix-icon-service-green_02 .path1:before {
    content: "\ea04";
    color: rgb(182, 220, 112);
}

.kix-icon-service-green_02 .path2:before {
    content: "\ea05";
    margin-left: -1em;
    color: rgb(0, 152, 70);
}

.kix-icon-service-green_02 .path3:before {
    content: "\ea06";
    margin-left: -1em;
    color: rgb(0, 152, 70);
}

.kix-icon-productive_active .path1:before {
    content: "\ea07";
    color: rgb(9, 99, 146);
}

.kix-icon-productive_active .path2:before {
    content: "\ea08";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-productive_active .path3:before {
    content: "\ea09";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-postproductive_02 .path1:before {
    content: "\ea0a";
    color: rgb(158, 158, 158);
}

.kix-icon-postproductive_02 .path2:before {
    content: "\ea0b";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-preproductive_02 .path1:before {
    content: "\ea0c";
    color: rgb(254, 204, 0);
}

.kix-icon-preproductive_02 .path2:before {
    content: "\ea0d";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-productive_02 .path1:before {
    content: "\ea0e";
    color: rgb(0, 152, 70);
}

.kix-icon-productive_02 .path2:before {
    content: "\ea0f";
    margin-left: -1em;
    color: rgb(43, 42, 41);
}

.kix-icon-type-incident:before {
    content: "\ea10";
}

.kix-icon-type-unclassified:before {
    content: "\ea11";
}

.kix-icon-type-servicerequest:before {
    content: "\ea12";
}

.kix-icon-comb:before {
    content: "\ea13";
}

.kix-icon-combs:before {
    content: "\ea14";
}

.kix-icon-faq-misc:before {
    content: "\ea15";
}

.kix-icon-ticket-close-workaround .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-workaround .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(198, 198, 198);
}

.kix-icon-ticket-close-unsuccess .path1:before {
    content: "\e902";
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-unsuccess .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(214, 92, 81);
}

.kix-icon-ticket-close-success .path1:before {
    content: "\e967";
    color: rgb(0, 0, 0);
}

.kix-icon-ticket-close-success .path2:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(175, 206, 100);
}

.kix-icon-ticket-close:before {
    content: "\e97c";
}

.kix-icon-star-half:before {
    content: "\e97d";
}

.kix-icon-star-fully:before {
    content: "\e97e";
}

.kix-icon-star-empty:before {
    content: "\e97f";
}

.kix-icon-service-red .path1:before {
    content: "\e984";
    color: rgb(238, 116, 118);
}

.kix-icon-service-red .path2:before {
    content: "\e987";
    margin-left: -2em;
    color: rgb(227, 30, 36);
}

.kix-icon-service-yellow .path1:before {
    content: "\e988";
    color: rgb(255, 249, 97);
}

.kix-icon-service-yellow .path2:before {
    content: "\e989";
    margin-left: -2em;
    color: rgb(254, 204, 0);
}

.kix-icon-service-green .path1:before {
    content: "\e98a";
    color: rgb(182, 220, 112);
}

.kix-icon-service-green .path2:before {
    content: "\e9c8";
    margin-left: -2em;
    color: rgb(159, 187, 47);
}

.kix-icon-search-ticket:before {
    content: "\e9d2";
}

.kix-icon-search-man-house:before {
    content: "\e9d3";
}

.kix-icon-search-man-bubble:before {
    content: "\e9d4";
}

.kix-icon-search-faq:before {
    content: "\e9d5";
}

.kix-icon-save-and-man-bubble:before {
    content: "\e9d6";
}

.kix-icon-save-and-back:before {
    content: "\e9d7";
}

.kix-icon-question:before {
    content: "\e9d8";
}

.kix-icon-new-version:before {
    content: "\e9d9";
}

.kix-icon-new-link:before {
    content: "\e9da";
}

.kix-icon-new-icon:before {
    content: "\e9db";
}

.kix-icon-new-faq:before {
    content: "\e9dc";
}

.kix-icon-menue:before {
    content: "\e9dd";
}

.kix-icon-man-mail-to:before {
    content: "\e9de";
}

.kix-icon-man-mail-cc:before {
    content: "\e9df";
}

.kix-icon-man-mail-bcc:before {
    content: "\e9e0";
}

.kix-icon-man-house-new:before {
    content: "\e9e1";
}

.kix-icon-magicwand:before {
    content: "\e9e2";
}

.kix-icon-image:before {
    content: "\e9e3";
}

.kix-icon-filetype-other-red:before {
    content: "\e9e4";
    color: #e31e24;
}

.kix-icon-delete:before {
    content: "\e9e5";
}

.kix-icon-ci-duplicate:before {
    content: "\e9e6";
}

.kix-icon-book:before {
    content: "\e9e7";
}

.kix-icon-arrow-summary:before {
    content: "\e9e8";
}

.kix-icon-download:before {
    content: "\e9cd";
}

.kix-icon-man-house:before {
    content: "\e9ce";
}

.kix-icon-man-bubble-new:before {
    content: "\e9cf";
}

.kix-icon-man-bubble:before {
    content: "\e9d0";
}

.kix-icon-address-new:before {
    content: "\e9d1";
}

.kix-icon-address:before {
    content: "\e904";
}

.kix-icon-admin:before {
    content: "\e905";
}

.kix-icon-admin-info:before {
    content: "\e906";
}

.kix-icon-arrow-collect:before {
    content: "\e907";
}

.kix-icon-arrow-distribute:before {
    content: "\e908";
}

.kix-icon-arrow-fullscreen:before {
    content: "\e909";
}

.kix-icon-arrow-left:before {
    content: "\e90a";
}

.kix-icon-arrow-outward:before {
    content: "\e90b";
}

.kix-icon-arrow-receive:before {
    content: "\e90c";
}

.kix-icon-arrow-refresh:before {
    content: "\e90d";
}

.kix-icon-arrow-right:before {
    content: "\e90e";
}

.kix-icon-arrow-rotate-left:before {
    content: "\e90f";
}

.kix-icon-arrow-split:before {
    content: "\e910";
}

.kix-icon-arrow-split2:before {
    content: "\e911";
}

.kix-icon-arrow-sumup:before {
    content: "\e912";
}

.kix-icon-attachement:before {
    content: "\e913";
}

.kix-icon-bookmark:before {
    content: "\e914";
}

.kix-icon-calendar:before {
    content: "\e915";
}

.kix-icon-call:before {
    content: "\e916";
}

.kix-icon-call-outward:before {
    content: "\e917";
}

.kix-icon-call-receive:before {
    content: "\e918";
}

.kix-icon-check:before {
    content: "\e919";
}

.kix-icon-checklist:before {
    content: "\e91a";
}

.kix-icon-ci:before {
    content: "\e91b";
}

.kix-icon-ci-gear:before {
    content: "\e91c";
}

.kix-icon-circle-next:before {
    content: "\e91d";
}

.kix-icon-circle-prior:before {
    content: "\e91e";
}

.kix-icon-close:before {
    content: "\e91f";
}

.kix-icon-close-down:before {
    content: "\e920";
}

.kix-icon-close-left:before {
    content: "\e921";
}

.kix-icon-close-right:before {
    content: "\e922";
}

.kix-icon-close-up:before {
    content: "\e923";
}

.kix-icon-cmdb:before {
    content: "\e924";
}

.kix-icon-comparison-standard:before {
    content: "\e925";
}

.kix-icon-comparison-version:before {
    content: "\e926";
}

.kix-icon-conversationguide:before {
    content: "\e927";
}

.kix-icon-copy:before {
    content: "\e928";
}

.kix-icon-csv:before {
    content: "\e929";
}

.kix-icon-cti:before {
    content: "\e92a";
}

.kix-icon-customers:before {
    content: "\e92b";
}

.kix-icon-dots:before {
    content: "\e92c";
}

.kix-icon-dropdown-address:before {
    content: "\e92d";
}

.kix-icon-dropdown-customers:before {
    content: "\e92e";
}

.kix-icon-dropdown-ticket:before {
    content: "\e92f";
}

.kix-icon-edit:before {
    content: "\e930";
}

.kix-icon-exchange:before {
    content: "\e931";
}

.kix-icon-exclamation:before {
    content: "\e932";
}

.kix-icon-eye:before {
    content: "\e933";
}

.kix-icon-eye-off:before {
    content: "\e98c";
}

.kix-icon-faq:before {
    content: "\e934";
}

.kix-icon-filetype-archive:before {
    content: "\e98d";
}

.kix-icon-filetype-code:before {
    content: "\e98e";
}

.kix-icon-filetype-document:before {
    content: "\e98f";
}

.kix-icon-filetype-other:before {
    content: "\e990";
    color: #2b2a29;
}

.kix-icon-filetype-picture:before {
    content: "\e991";
}

.kix-icon-filetype-presentation:before {
    content: "\e992";
}

.kix-icon-filetype-table:before {
    content: "\e993";
}

.kix-icon-filetype-text:before {
    content: "\e994";
}

.kix-icon-filetype-vector:before {
    content: "\e995";
}

.kix-icon-filter:before {
    content: "\e935";
}

.kix-icon-fire:before {
    content: "\e936";
}

.kix-icon-fire-add:before {
    content: "\e937";
}

.kix-icon-flag:before {
    content: "\e938";
}

.kix-icon-folder:before {
    content: "\e939";
}

.kix-icon-gear:before {
    content: "\e93a";
}

.kix-icon-gears:before {
    content: "\e93b";
}

.kix-icon-globe:before {
    content: "\e93c";
}

.kix-icon-handshake:before {
    content: "\e93d";
}

.kix-icon-home:before {
    content: "\e93e";
}

.kix-icon-icircle:before {
    content: "\e93f";
}

.kix-icon-info:before {
    content: "\e940";
}

.kix-icon-internal:before {
    content: "\e941";
}

.kix-icon-i-orange .path1:before {
    content: "\e980";
    color: rgb(255, 255, 255);
}

.kix-icon-i-orange .path2:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(239, 127, 26);
}

.kix-icon-iring .path1:before {
    content: "\e996";
    color: rgb(245, 245, 245);
}

.kix-icon-iring .path2:before {
    content: "\e997";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-iring-green .path1:before {
    content: "\e998";
    color: rgb(245, 245, 245);
}

.kix-icon-iring-green .path2:before {
    content: "\e999";
    margin-left: -1em;
    color: rgb(0, 152, 70);
}

.kix-icon-iring-green .path3:before {
    content: "\e99a";
    margin-left: -1em;
    color: rgb(0, 152, 70);
}

.kix-icon-iring-mint .path1:before {
    content: "\e99b";
    color: rgb(245, 245, 245);
}

.kix-icon-iring-mint .path2:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(160, 230, 200);
}

.kix-icon-iring-mint .path3:before {
    content: "\e99d";
    margin-left: -1em;
    color: rgb(160, 230, 200);
}

.kix-icon-iring-red .path1:before {
    content: "\e99e";
    color: rgb(245, 245, 245);
}

.kix-icon-iring-red .path2:before {
    content: "\e99f";
    margin-left: -1em;
    color: rgb(227, 30, 36);
}

.kix-icon-iring-red .path3:before {
    content: "\e9a0";
    margin-left: -1em;
    color: rgb(227, 30, 36);
}

.kix-icon-iring-salmon .path1:before {
    content: "\e9a1";
    color: rgb(245, 245, 245);
}

.kix-icon-iring-salmon .path2:before {
    content: "\e9a2";
    margin-left: -1em;
    color: rgb(235, 150, 116);
}

.kix-icon-iring-salmon .path3:before {
    content: "\e9a3";
    margin-left: -1em;
    color: rgb(235, 150, 116);
}

.kix-icon-kanban:before {
    content: "\e942";
}

.kix-icon-kpi:before {
    content: "\e943";
}

.kix-icon-kpi-reports:before {
    content: "\e944";
}

.kix-icon-letter-blue .path1:before {
    content: "\e982";
    color: rgb(0, 141, 210);
}

.kix-icon-letter-blue .path2:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-letter-white .path1:before {
    content: "\e985";
    color: rgb(255, 255, 255);
}

.kix-icon-letter-white .path2:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(198, 198, 198);
}

.kix-icon-link:before {
    content: "\e945";
}

.kix-icon-lock-close:before {
    content: "\e946";
}

.kix-icon-lock-open:before {
    content: "\e947";
}

.kix-icon-logout:before {
    content: "\e948";
}

.kix-icon-mail:before {
    content: "\e949";
}

.kix-icon-mail-answer-outline:before {
    content: "\e94a";
}

.kix-icon-mail-forward-outline:before {
    content: "\e94b";
}

.kix-icon-mail-redirect:before {
    content: "\e94c";
}

.kix-icon-mail-redirect-outline:before {
    content: "\e94d";
}

.kix-icon-maintain-record:before {
    content: "\e94e";
}

.kix-icon-man:before {
    content: "\e94f";
}

.kix-icon-man-linked:before {
    content: "\e950";
}

.kix-icon-minus:before {
    content: "\e951";
}

.kix-icon-new:before {
    content: "\e952";
}

.kix-icon-new-address:before {
    content: "\e953";
}

.kix-icon-new-call-outward:before {
    content: "\e954";
}

.kix-icon-new-call-receive:before {
    content: "\e955";
}

.kix-icon-new-ci:before {
    content: "\e956";
}

.kix-icon-new-kanban:before {
    content: "\e957";
}

.kix-icon-new-mail:before {
    content: "\e958";
}

.kix-icon-new-note:before {
    content: "\e959";
}

.kix-icon-new-searchtemplate:before {
    content: "\e95a";
}

.kix-icon-new-ticket:before {
    content: "\e95b";
}

.kix-icon-new-widget:before {
    content: "\e95c";
}

.kix-icon-nook-down:before {
    content: "\e9a4";
}

.kix-icon-nook-left:before {
    content: "\e9a5";
}

.kix-icon-nook-right:before {
    content: "\e9a6";
}

.kix-icon-nook-up:before {
    content: "\e9a7";
}

.kix-icon-note:before {
    content: "\e95d";
}

.kix-icon-open-left:before {
    content: "\e95e";
}

.kix-icon-open-right:before {
    content: "\e95f";
}

.kix-icon-plus-blank:before {
    content: "\e960";
}

.kix-icon-print:before {
    content: "\e961";
}

.kix-icon-prio-1-green .path1:before {
    content: "\e9a8";
    color: rgb(0, 152, 70);
}

.kix-icon-prio-1-green .path2:before {
    content: "\e9a9";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-prio-1-red .path1:before {
    content: "\e9aa";
    color: rgb(227, 30, 36);
}

.kix-icon-prio-1-red .path2:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-prio-2-brightgreen .path1:before {
    content: "\e9ac";
    color: rgb(159, 187, 47);
}

.kix-icon-prio-2-brightgreen .path2:before {
    content: "\e9ad";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-prio-2-salmon .path1:before {
    content: "\e9ae";
    color: rgb(235, 150, 116);
}

.kix-icon-prio-2-salmon .path2:before {
    content: "\e9af";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-prio-2-yellow .path1:before {
    content: "\e9b0";
    color: rgb(255, 237, 0);
}

.kix-icon-prio-2-yellow .path2:before {
    content: "\e9b1";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-prio-3-green .path1:before {
    content: "\e9b2";
    color: rgb(0, 152, 70);
}

.kix-icon-prio-3-green .path2:before {
    content: "\e9b3";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-prio-3-red .path1:before {
    content: "\e9b4";
    color: rgb(227, 30, 36);
}

.kix-icon-prio-3-red .path2:before {
    content: "\e9b5";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-prio-3-yellow .path1:before {
    content: "\e9b6";
    color: rgb(255, 237, 0);
}

.kix-icon-prio-3-yellow .path2:before {
    content: "\e9b7";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-prio-4-brightgreen .path1:before {
    content: "\e9b8";
    color: rgb(159, 187, 47);
}

.kix-icon-prio-4-brightgreen .path2:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-prio-4-salmon .path1:before {
    content: "\e9ba";
    color: rgb(235, 150, 116);
}

.kix-icon-prio-4-salmon .path2:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-prio-5-green .path1:before {
    content: "\e9bc";
    color: rgb(0, 152, 70);
}

.kix-icon-prio-5-green .path2:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-prio-5-red .path1:before {
    content: "\e9be";
    color: rgb(227, 30, 36);
}

.kix-icon-prio-5-red .path2:before {
    content: "\e9bf";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-process:before {
    content: "\e962";
}

.kix-icon-query:before {
    content: "\e963";
}

.kix-icon-save:before {
    content: "\e964";
}

.kix-icon-search:before {
    content: "\e965";
}

.kix-icon-search-ci:before {
    content: "\e966";
}

.kix-icon-search-quick:before {
    content: "\e969";
}

.kix-icon-searchtemplate:before {
    content: "\e96a";
}

.kix-icon-sort:before {
    content: "\e96b";
}

.kix-icon-sort-down:before {
    content: "\e96c";
}

.kix-icon-sort-up:before {
    content: "\e96d";
}

.kix-icon-start:before {
    content: "\e96e";
}

.kix-icon-system-1 .path1:before {
    content: "\e9c0";
    color: rgb(227, 30, 36);
}

.kix-icon-system-1 .path2:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-system-2 .path1:before {
    content: "\e9c2";
    color: rgb(235, 150, 116);
}

.kix-icon-system-2 .path2:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-system-3 .path1:before {
    content: "\e9c4";
    color: rgb(0, 152, 70);
}

.kix-icon-system-3 .path2:before {
    content: "\e9c5";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.kix-icon-system-4 .path1:before {
    content: "\e9c6";
    color: rgb(160, 230, 200);
}

.kix-icon-system-4 .path2:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.kix-icon-textblocks:before {
    content: "\e96f";
}

.kix-icon-ticket:before {
    content: "\e970";
}

.kix-icon-ticket-open:before {
    content: "\e971";
}

.kix-icon-time:before {
    content: "\e972";
}

.kix-icon-time-back:before {
    content: "\e973";
}

.kix-icon-time-wait:before {
    content: "\e974";
}

.kix-icon-tour:before {
    content: "\e975";
}

.kix-icon-trash:before {
    content: "\e976";
}

.kix-icon-triangle-down .path1:before {
    content: "\e977";
    color: rgb(255, 255, 255);
}

.kix-icon-triangle-down .path2:before {
    content: "\e978";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-triangle-left .path1:before {
    content: "\e979";
    color: rgb(255, 255, 255);
}

.kix-icon-triangle-left .path2:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-triangle-right .path1:before {
    content: "\e97b";
    color: rgb(255, 255, 255);
}

.kix-icon-triangle-right .path2:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-triangle-up .path1:before {
    content: "\e9c9";
    color: rgb(255, 255, 255);
}

.kix-icon-triangle-up .path2:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgb(91, 91, 91);
}

.kix-icon-unknown:before {
    content: "\e9cb";
}

.kix-icon-warnsign:before {
    content: "\e9cc";
}