@margin-default: 2.25em;
@margin-large: 8.25em;
@margin-small: 0.5em;
@header-height: 5.75em;
@main-menu-width: 4.5em;
@main-menu-active-width: 4.875em;
@action-menu-width: 2.25em;
@breadcrumb-height: 2.25em;
// TODO: Einheitliche Breite für Explorer, Sidebars, Backbutton
@default-widget-width: 15em;
@default-widget-height: 15em;
@sidebar-width: @default-widget-width;
@explorer-width: @default-widget-width;
@explorer-collapsed-width: 2em;
@back-button-width: @default-widget-width;