@margin-default: 2.25rem;
@margin-large: 8.25rem;
@margin-middle: 1.75em;
@margin-small: 0.5rem;
@margin-tiny: 0.125rem;
@margin-widget-content: 1rem;
@header-height: 5.75rem;
@main-menu-width: 4.5rem;
@main-menu-height: 3em;
@main-menu-active-width: 4.875rem;
@action-menu-width: 2.25rem;
@breadcrumb-height: 2.25rem;
// TODO: Einheitliche Breite für Explorer, Sidebars, Backbutton
@default-widget-width: 15rem;
@default-widget-height: 15rem;
@sidebar-width: @default-widget-width;
@explorer-width: @default-widget-width;
@explorer-collapsed-width: 2rem;
@back-button-width: @default-widget-width;