.form-search-input {
    display: grid;
    grid-template-columns: 3rem minmax(10rem, 30em) minmax(10rem, 30em) minmax(10rem, auto);
    align-items: center;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}