<form-default-input formId=state.formId field=state.field placeholder=(state.field.required ? "Betreff" : "")
    currentValue=state.currentValue invalid=state.invalid required=state.field.required
    on-valueChanged('valueChanged')/>
