<widget instanceId=state.instanceId title=state.title contentActions=state.actions>
    <@content>
        <if(state.customer && state.contactTable)>
            <div.contact-filter>
                <filter on-filter('filter')/>
            </div>
            <standard-table standardTable=state.contactTable/>
        </if>
        <else>
            <loading-spinner/>
        </else>
    </@content>
</widget>
