<widget instanceId=state.instanceId configurationTagId="customer-contact-list-configuration" title=state.title>
    <@content>
        <if(state.customer && state.contactTable)>
            <div.contact-filter>
                <filter filterValue=state.filterValue on-filter('filter')/>
            </div>
            <standard-table standardTable=state.contactTable/>
        </if>
    </@content>
</widget>
