<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(!state.readonly)>
   <if(state.canAdd)>
      <button
         type="button"
         on-click("addValue")
         class=[
            "btn btn-sm btn-outline-secondary",
            {
               "me-1": state.canRemove,
               "me-2": !state.canRemove,
            },
         ]
      >
         <i class="fas fa-plus-circle"/>
      </button>
   </if>
   <if(state.canRemove)>
      <button
         type="button"
         on-click("removeValue")
         class="btn btn-sm btn-outline-secondary me-2"
      >
         <i class="fas fa-minus-circle"/>
      </button>
   </if>
</if>
