ul li {
    >div.legend-item {
        height: 2rem;
        width: 3rem;
        display: inline-block;
        .yellow {
            background-color: #F9F293;
        }
        .red {
            background-color: #F9D2D3;
        }
        .gray {
            background-color: @secondary-3;
        }
        .green {
            background-color: #CBEADA;
        }
    }
}