<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.formId && state.prepared)>
    <if(state.isSetup)>
        <div.notification-template-form>
            <main-form/>
            <div.button-container>
                <button.kix-button.form-button
                    type="button"
                    on-click("preview")
                    title=state.translations["Translatable#Preview"]>
                    <span.kix-icon-image/>
                    <translation-string pattern="Translatable#Preview"/>
                </button>
                <if(!state.completed)>
                    <button.kix-button.form-button
                        type="button"
                        on-click("skip")
                        title=state.translations["Translatable#Skip & Continue"]>
                        <span.kix-icon-arrow-outward/>
                        <translation-string pattern="Translatable#Skip & Continue"/>
                    </button>
                </if>
                <button.kix-button.submit-button
                    type="button"
                    on-click("submit")
                    title=state.translations["Translatable#Save & Continue"]>
                    <span.kix-icon-arrow-outward/>
                    <translation-string pattern="Translatable#Save & Continue"/>
                </button>
            </div>
            <loading-shield shieldId="SETUP_NOTIFICATION_SHIELD"/>
        </div>
    </if>
    <else>
        <widget
            instanceId=state.instanceId
            title=state.title
            icon="kix-icon-gears"
            minimizable=false>
            <@content>
                <div.notification-template-form.in-widget>
                    <main-form/>
                    <div.button-container>
                        <button.kix-button.form-button
                            type="button"
                            on-click("preview")
                            title=state.translations["Translatable#Preview"]>
                            <span.kix-icon-image/>
                            <translation-string pattern="Translatable#Preview"/>
                        </button>
                        <button.kix-button.submit-button
                            type="button"
                            on-click("submit")
                            title=state.translations["Translatable#Save"]>
                            <span.kix-icon-arrow-outward/>
                            <translation-string pattern="Translatable#Save"/>
                        </button>
                    </div>
                    <loading-shield shieldId="SETUP_NOTIFICATION_SHIELD"/>
                </div>
            </@content>
        </widget>
    </else>
</if>
