.tree-list {
    list-style: none;
    margin-bottom: 1.25em;
    .tree-node {
        color: #5d5d5d;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        margin: .625em 0;
    }
    > .tree-node {
        font-size: .75em;
        &:first-of-type,
        &:last-of-type {
            margin: 0;
        }
        &:hover {
            cursor: pointer;
        }
        .subtree-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 7px 1px 0;
            color: #5b5b5b;
            text-align: center;
            font-size: .625em;
            vertical-align: middle;
            border-radius: 2px;
            padding: 1px;
            box-sizing: border-box;
            visibility: hidden;
            &[class^="kix-icon-"],
            &[class*=" kix-icon-"] {
                visibility: visible;
                background-color: #c5c6c6;
            }
            &.kix-icon-minus + span {
                color: #04537d;
                font-weight: 600;
            }
        }
        > .sub-tree-list > .tree-node {
            .subtree-icon.kix-icon-minus + span {
                color: #0a7cb3;
                font-weight: 600;
            }
            > .sub-tree-list .tree-node {
                .subtree-icon.kix-icon-minus + span {
                    color: #81bddf;
                    font-weight: 600;
                }
            }
        }
        .escalated {
            color: #ef7f1a;
        }
    }
}
.sub-tree-list {
    list-style: none;
    margin-left: 12px;
}