<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.key-value-pair class={
    "show-object": state.propertyDisplayText !== null || !state.hasText
}>
    <div.key class={
        "no-label": !state.showLabel
    }>
        <if(!state.propertyName && state.showLabel)>
            <span.property-name title=input.propertyValue>
                <${input.propertyValue}/>
            </span>
        </if>
        <else-if(state.showLabel)>
            <span.property-name title=state.propertyName>${state.propertyName}</span>
        </else-if>
    </div>
    <div.info>
        <if(input.info && state.propertyDisplayText !== null)>
            <${input.info}/>
        </if>
    </div>
    <div.value title=(!input.noValueTitle ? state.propertyDisplayText : "") class=component.getValueClasses()>
        <if(input.value)>
            <${input.value}/>
        </if>
        <else-if(state.propertyDisplayText !== null)>
            <link-target routingConfiguration=input.routingConfiguration objectId=input.objectId>
                <@content>
                    <if(state.hasText)>
                        <span>${state.propertyDisplayText}</span>
                    </if>
                </@content>
            </link-target>
            <if(state.propertyIcon)>
                <icon icon=state.propertyIcon/>
            </if>
        </else-if>
    </div>
</div>
