<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>KIX 2018</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/kix.ico"/>
        <link rel="stylesheet" href="/static/thirdparty/perfect-scrollbar/perfect-scrollbar.css"/>
        <lasso-head/>
        <if(data.themeCSS)>
            <link rel="stylesheet" href=data.themeCSS/>
        </if>
        <for(specificCSS in data.specificCSS)>
            <link rel="stylesheet" href=specificCSS/>
        </for>
    </head>
    <body>
        <if(input.login)>
            <_login logout=input.data.logout/>
        </if>
        <else>
            <_base-template contextId=input.data.contextId objectData=input.data.objectData objectId=input.data.objectId
                tagLib=input.data.tagLib actionLib=input.data.actionLib/>
        </else>
        <script src="/static/thirdparty/socket.io.js"/>
        <script src="/static/thirdparty/d3-4.10.2/d3.min.js"/>
        <script src="/static/thirdparty/ckeditor-4.9.1/ckeditor.js"/>
        <script src="/static/thirdparty/perfect-scrollbar/perfect-scrollbar.min.js"/>
        <lasso-body/>
    </body>
</html>
