@import "./../../static/less/default/index.less";
html {
    height: 100%;
    box-sizing: border-box;
    background-color: @secondary-5;
    font-size: 75%;
    body {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
}