.explorer-toggle {
    display: none;
}

.explorerbar {
    float: left;
    padding: 5px;
    width: 40px;
    overflow: hidden;
    & .widget.explorer {
        width: 192px;
        margin-bottom: 192px;
        transform: rotate(270deg);
        transform-origin: 96px 96px;
        & .widget-content {
            height: 0;
            padding: 0;
        }
    }
}

#first-explorer:checked ~ .explorerbar,
#second-explorer:checked ~ .explorerbar {
    width: 192px;
}

#first-explorer:checked ~ .explorerbar .first-explorer.explorer,
#second-explorer:checked ~ .explorerbar .second-explorer.explorer {
    width: 192px;
}

#first-explorer:checked ~ .explorerbar .first-explorer.explorer,
#second-explorer:checked ~ .explorerbar .second-explorer.explorer {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
    margin-bottom: 1.5em;
    & .widget-content {
        height: inherit;
        padding: inherit;
    }
}