<ul.tab-list>
    <for(dialog in state.creationDialogs)>
        <li.tab-entry on-click("showDialog", dialog.id)>${dialog.name}</li>
    </for>
</ul>
<if(state.currentDialog)>
    <div.create-content>
        <include(component.getDialogTemplate())/>
    </div>
</if>
