<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "Translatable#Preferences")
    contentActions=state.actions>
    <@content>
        <if(state.user)>
            <div.user-preferences>
                <object-property-label object=state.user property="UserLanguage" labelProvider=state.labelProvider/>
                <object-property-label object=state.user property="NotificationTransport" labelProvider=state.labelProvider>
                    <@value>
                        <label-list labels=state.notificationLabels removeLabels=false/>
                    </@value>
                </object-property-label>
                <object-property-label object=state.user property="MyQueues" labelProvider=state.labelProvider>
                    <@value>
                        <label-list labels=state.queueLabels removeLabels=false/>
                    </@value>
                </object-property-label>
            </div>
        </if>
    </@content>
</widget>
