.article-metadata-container {
    width: 192px;
    float: left;
    margin-top: 1em;
    span.key {
        width: 50px;
        font-weight: bold;
        float: left;
        line-height: 1em;
    }
    span.value {
        width: 135px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1em;
        display: inline-block;
    }
}

.article-content-container {
    height: 178px;
    .ticket-article-content {
        height: 178px;
    }
}