.article-grid {
    display: grid;
    grid-template-columns: 15em auto;
    overflow: hidden;
    .article-metadata-container {
        margin-top: 1em;
        .key-value-pair {
            grid-template-columns: 4em 1em 10em;
            line-height: 1.5em;
            .key {
                font-weight: bold;
            }
            .value {
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
        }
    }
    .article-content-container {
        overflow: hidden;
    }
}