.article-grid {
    display: grid;
    grid-template-columns: 15em;
    .article-metadata-container {
        grid-column: 1;
        grid-row: 1;
        margin-top: 1em;
        .key-value-pair {
            grid-template-columns: 4em 0.5em 10em;
            .key {
                font-weight: bold;
                line-height: 1em;
            }
            .value {
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1em;
                display: inline-block;
            }
        }
    }
    .article-content-container {
        grid-column: 2;
        grid-row: 1;
    }
}