.search-criteria {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    padding: 1rem;
    .search-criteria-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 0.75rem;
        height: 8.75rem;
        overflow-y: scroll;
        .search-criteria-list-item {
            display: grid;
            grid-template-columns: 1fr 3fr;
            border-radius: 3px;
            height: 1.75rem;
            padding: 0 0.875rem;
            align-items: center;
            div {
                min-width: 2.875rem;
                display: inline-block;
                vertical-align: top;
                position: relative;
                box-sizing: border-box;
                color: @secondary-7;
                &.key:after {
                    content: ":";
                }
                &.key {
                    .property-name {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        max-width: 90%;
                        float: left;
                    }
                }
                &.value {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            &:nth-of-type(4n+1) {
                background: @secondary-3;
            }
            &:nth-of-type(4n+2) {
                background: @secondary-3;
            }
        }
    }
    .search-criteria-buttons {
        align-self: center;
        justify-self: center;
        display: grid;
        grid-gap: 1.5rem;
    }
}