.ticket-information {
    display: grid;
    grid-template-columns: auto max-content;
    grid-auto-flow: column;
    grid-gap: @margin-small;
    .ci-list-wrapper {
        display: grid;
        grid-template-columns: 2rem auto;
        div:first-child {
            font-weight: bold;
        }
        .ci-list-content {
            float: right;
            border: 1px solid @secondary-2;
            border-radius: @border-radius;
            height: 10em;
            width: 10em;
            box-sizing: border-box;
        }
    }
    .information-list {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 1.25rem);
        div {
            .key-value-pair {
                grid-template-columns: 40% 1rem minmax(3rem, auto);
                line-height: 1.5rem;
                .key {
                    font-weight: bold;
                }
                &::after {
                    clear: none;
                }
                &::before,
                &::after {
                    display: none;
                }
            }
        }
        @media only screen and (max-width: 1439px) {
            grid-template-rows: repeat(8, 1.25rem);
        }
        @media only screen and (min-width: 1921px) {
            grid-template-rows: repeat(4, 1.25rem);
        }
    }
}