<div class="loading-spinner">
    <div class="circle1 child"/>
    <div class="circle2 child"/>
    <div class="circle3 child"/>
    <div class="circle4 child"/>
    <div class="circle5 child"/>
    <div class="circle6 child"/>
    <div class="circle7 child"/>
    <div class="circle8 child"/>
    <div class="circle9 child"/>
    <div class="circle10 child"/>
    <div class="circle11 child"/>
    <div class="circle12 child"/>
</div>
