<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class="checklist-item">
    <if(state.item && state.prepared)>
        <if(state.item.input === "Text")>
            <div class="checklist-item-title">
                <div>${state.item.title}</div>
                <div class="checklist-item-description">
                    ${state.item.description}
                </div>
            </div>
            <input
                type="text"
                value=(state.item.value)
                on-change("valueChanged")
                class="input-style checklist-item-text"
            >
        </if>
        <else-if(state.item.input === "TextArea")>
            <div class="checklist-item-title">
                <div>${state.item.title}</div>
                <div class="checklist-item-description">
                    ${state.item.description}
                </div>
            </div>
            <textarea
                value=(state.item.value)
                on-change("valueChanged")
                class="input-style checklist-item-text"
            >${state.item.value}</textarea>
        </else-if>
        <else>
            <div class="checklist-item-title">
                <div>${state.item.title}</div>
                <div class="checklist-item-description">
                    ${state.item.description}
                </div>
            </div>
            <form-list
                treeId=state.treeId
                placeholder=state.placeholder
                on-nodesChanged("nodesChanged")
                canRemoveNode=false
            />
        </else>
        <if(state.item.sub)>
            <div class="checklist-sub-item-container">
                <for|subItem| of=(state.item.sub)>
                    <checklist-item
                        item=subItem
                        on-itemValueChanged("itemValueChanged")
                    />
                </for>
            </div>
        </if>
    </if>
</div>
