<form-list placeholder=(state.field.required ? field.placeholder : "") searchCallback=state.searchCallback
    autoCompleteConfiguration=state.autoCompleteConfiguration on-nodesChanged('objectChanged')
    selectedNodes=[state.currentNode] invalid=state.invalid autocomplete=true readonly=state.field.readonly/>
