<form-list
    placeholder=(state.field.required ? state.field.placeholder : "")
    searchCallback=state.searchCallback
    autoCompleteConfiguration=state.autoCompleteConfiguration
    on-focusLost("focusLost")
    on-nodesChanged("objectChanged")
    selectedNodes=state.currentNodes
    nodes=state.nodes
    invalid=state.invalid
    autocomplete=state.autocomplete
    readonly=state.field.readonly
    multiselect=state.isMultiselect/>
