<form-list placeholder=(state.field.required ? state.field.placeholder : "") searchCallback=state.searchCallback
    autoCompleteConfiguration=state.autoCompleteConfiguration on-nodesChanged('objectChanged')
    selectedNodes=[state.currentNode] nodes=state.nodes invalid=state.invalid autocomplete=state.autocomplete
    readonly=state.field.readonly/>
