<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions
    icon=(state.widgetConfiguration ? state.widgetConfiguration.icon : null)
>
    <@content>
        <if(state.config)>
            <object-information-card
                object=state.object
                config=state.config
                widgetInstanceId=state.instanceId
            />
        </if>
    </@content>
</widget>
