<if(state.loading)>
    <loading-spinner/>
</if>
<else>
    <form-list enabled=state.hasContact selectedNodes=[state.currentNode] nodes=state.nodes
        placeholder=component.getPlaceholder() on-nodesChanged('customerChanged') invalid=state.invalid/>
</else>
