<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class="cmdb-dashboard">
    <div class="ci-search">
        <input
            type="text"
            on-keyup("keyUp")
            value=state.filterValue
            placeholder=state.placeholder
            class="input-style"
        >
        <button
            type="button"
            title=(state.translations["Translatable#Help"])
            on-click("showCommandHelp", false)
            class="kix-button button button-without-text"
        >
            <overlay-icon
                isHint
                content="Translatable#Helptext_CMDB_Dashboard_Search"
                title=(state.translations["Translatable#Search"])
            />
        </button>
        <button
            type="button"
            on-click("search")
            class="kix-button submit-button"
        >
            <span class="kix-icon-search"/>
            <translation-string pattern="Translatable#Search"/>
        </button>
    </div>
    <if(state.prepared)>
        <widget-container
            widgets=state.contentWidgets
            contextWidgetList="content"
        />
    </if>
</div>
