<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>KIX 2018</title>
    <lasso-head/>
  </head>
  <body>
    <if(data.template)>
      <include(data.template, data.data)/>
    </if>
    <script src="/static/socket.io.js"/>
    <lasso-body/>
  </body>
</html>
