<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>KIX 2018</title>
        <lasso-head/>
        <!-- <if(state.theme)>
            <link rel="stylesheet" href="/static/themes/${state.theme}.css"/>
        </if> -->
    </head>
    <body>
        <if(data.template)>
            <div#content>
                <include(data.template, data.data)/>
            </div>
        </if>
        <script src="/static/js/socket.io.js"/>
        <lasso-body/>
    </body>
</html>
