<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>KIX 2018</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/kix.ico"/>
        <lasso-head/>
        <if(data.themeCSS)>
            <link rel="stylesheet" href=data.themeCSS/>
        </if>
        <for(specificCSS in data.specificCSS)>
            <link rel="stylesheet" href=specificCSS/>
        </for>
    </head>
    <body>
        <if(data.template)>
            <div#content>
                <include(data.template, data.data)/>
            </div>
        </if>
        <script src="/static/js/socket.io.js"/>
        <script src="/static/js/thirdparty/d3-4.10.2/d3.min.js"/>
        <lasso-body/>
    </body>
</html>
