@import "./../../static/less/default/reset.less";
@import "./../../static/less/default/clearfix.less";
@import "./../../static/less/default/grid.less";
@import "./../../static/less/default/colors.less";
@import "./../../static/less/default/defaults.less";
@import "./../../static/less/default/kix_font.less";
@import "./../../static/less/default/base.less";

html {
    height: 100%;
    box-sizing: border-box;
    background-color: @secondary-5;
    body {
        height: 100%;
        box-sizing: border-box;
        position: relative;
        font-size: @default-font-size;
    }
}