<if(state.customer)>
    <for(group in component.getGroups())>
        <div.customer-attribute-group>
            <for(attribute in component.getAttributes(group))>
                <div title=((attribute[0] + ": ") + attribute[1])>${attribute[0]}:  ${attribute[1]}</div>
            </for>
        </div>
    </for>
</if>
