<key-value-pair showKey=input.showLabel>
    <@key>${state.label}</@key>
    <@info><span/></@info>
    <@value>
        ${state.displayValue}<if(input.showLabel && state.pending)>
            <p>
                <ticket-property-label property="PendingTime" value=state.pendingTime/>
            </p>
        </if>
    </@value>
</key-value-pair>
