<key-value-pair showKey=input.hasLabel>
    <@key>${state.label}</@key>
    <@value>
        <if(input.hasText)>
            <span.text title=state.displayValue>${state.displayValue}</span>
        </if>
        <if(input.hasIcon)>
            <icon title=state.displayValue object="TicketState" objectId=state.stateId/>
        </if>
    </@value>
</key-value-pair>
