.action-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
}

.action-overlay-transparent {
    background-color: @secondary-6;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.action-container {
    opacity: 1;
    background-color: @secondary-6;
    border: 5px solid @tertiary-5;
    top: 25vh;
    left: 15vw;
    width: 50vw;
    height: 50vh;
    position: absolute;
    padding: 10px;
}

.action-content {
    border: 2px solid @primary-0;
    width: 100%;
    height: 40vh;
    overflow: auto;
}

.action-hide {
    display: none;
}

.button-bar {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.action-button {
    margin: 10px;
    border-radius: 5px;
}