<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <if(state.queue)>
            <div.ticket-queue-information>
                <div.information-list>
                    <div>
                        <object-property-label object=state.queue property="Name" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="ICON" labelProvider=state.labelProvider showText=false/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="ParentID" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="FollowUpID" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="FollowUpLock" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="UnlockTimeout" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="SystemAddressID" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="Comment" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="ValidID" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="CreateTime" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="CreateBy" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="ChangeTime" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.queue property="ChangeBy" labelProvider=state.labelProvider/>
                    </div>
                </div>
            </div>
        </if>
    </@content>
</widget>
