<div.breadcrumb>
    <if(state.breadcrumbDetails)>
        <if(state.breadcrumbDetails.icon)>
            <span class=state.breadcrumbDetails.icon/>
        </if>
        <else>
            <span.kix-icon-home/>
        </else>
        <span>
            ${state.breadcrumbDetails.componentDisplayText}
            <if(state.breadcrumbDetails.parameterDisplayText)>${' '}| ${state.breadcrumbDetails.parameterDisplayText}</if>
        </span>
    </if>
</div>
