<div.breadcrumb>
    <icon icon=state.icon/>
    <for|context, index| of=state.contexts>
        <span.context>
            <link-target routingConfiguration=component.getRoutingConfiguration(context[0], index)>
                <@content>${context[1]}</@content>
            </link-target>
        </span>
    </for>
</div>
