.breadcrumb {
    background: @secondary-6;
    color: @default-dark-font-color;
    margin-bottom: 8px;
    box-shadow: 0 0 2px 0 #e2e2e2;
    padding: 2px .5em 0;
    border-radius: 3px;
    height: 32px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 32px;
    vertical-align: text-bottom;
    span,
    a {
        margin-right: .5em;
    }
    a:not(:first-of-type)::before {
        content: "|";
        display: inline-block;
        margin: 0 .5em;
    }
    [class^="kix-icon-"],
    [class*=" kix-icon-"] {
        color: #82c826;
    }
}