.breadcrumb {
    background: @secondary-6;
    color: @secondary-0;
    margin-bottom: @margin-small;
    padding: @margin-small @margin-small 0;
    border-radius: @border-radius;
    box-shadow: @shadow-1;
    height: @breadcrumb-height;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: @h2-font-size;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: @margin-small;
    font-size: @h2-font-size;
    >span.icon {
        padding-top: .085rem;
        [class^="kix-icon-"],
        [class*=" kix-icon-"] {
            color: @primary-6;
            line-height: @h2-font-size;
        }
    }
    >span.context {
        >a {
            font-size: @h2-font-size;
        }
        &:not(:last-of-type)::after {
            content: '>>';
            margin-left: @margin-small;
        }
    }
}