.pending-state {
    display: grid;
    grid-template-columns: max-content 14rem 0.5rem 14rem;
    grid-column-gap: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;
    .pending-time,
    .pending-calendar {
        display: grid;
        grid-template-columns: 12rem 12rem;
        grid-column-gap: 0.5rem;
        align-items: center;
        >input[type="date"] {
            font: unset;
            height: 1.75rem;
            border: 1px solid @secondary-3;
            padding-left: 0.5rem;
        }
    }
    .pending-time {
        >select {
            height: 1.75rem;
            background-color: @secondary-6;
            border: 1px solid @secondary-3;
            padding-left: 0.5rem;
        }
    }
}