<div.editor-container key=("editor-of-" + (input.keyValue ? input.keyValue : ""))
    class={"editor-readonly": state.readOnly} no-update-body>
    <!-- TODO: durch $! wird das standardmaßige Quotieren unterdrückt, ggf. unsicher, aber ansonsten ist es nur text, kein html -->
    <div id=state.id>$!{state.value}</div>
</div>
