<div.editor-container.input-style class={invalid: state.invalid} no-update-body>
    <!-- TODO: durch $! wird das standardmaßige Quotieren unterdrückt, ggf. unsicher, aber ansonsten ist es nur text, kein html -->
    <div id=state.id contenteditable="true">$!{state.value}</div>
</div>
