<div.linkable-objects-dropdown title="Verknüpfen mit">
    <div.linkable-objects-dropdown-label>
        <span>Verknüpfen mit</span>
    </div>
    <form-dropdown items=state.linkableObjects on-itemChanged('itemChanged') selectedItem=state.currentItem/>
</div>
