.linkable-objects-dialog {
    >div {
        margin-bottom: 1rem;
    }
    >.linkable-objects-dropdown {
        display: grid;
        grid-template-columns: 8rem auto;
        grid-gap: 2rem;
        .linkable-objects-dropdown-label {
            white-space: nowrap;
            margin-top: .25rem;
            display: grid;
            grid-template-columns: auto max-content;
            >span {
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
            }
            &:after {
                content: ":"
            }
        }
    }
    >.linkable-objects-form {
        .group-widget>.widget-content {
            margin-left: 0;
            >.form>.form-field {
                grid-template-columns: 7rem 2rem auto;
            }
        }
        .linkable-objects-form-button-container {
            justify-content: end;
            display: grid;
            margin-top: 1rem;
        }
    }
    >.linkable-objects-result {
        .result-title {
            font-weight: bold;
            margin-bottom: @margin-small;
        }
    }
}