<div>
    <if(state.template)>
        <include(state.template, {
                configuration: state.configuration,
                chartData: state.chartData
            }) on-contentDataLoaded('contentDataLoaded')
            on-updateContentConfigurationHandler('onUpdateContentConfigurationHandler')/>
    </if>
</div>
