<if(state.groups)>
    <label-value-group groups=state.groups on-fileClicked("fileClicked")/>
</if>
<else>
    <span>
        <translation-string pattern="Translatable#No version available"/>
    </span>
</else>
