<div.breadcrumb>
    <span.kix-icon.icon-dummy.icon-h/>
    <for(historyEntry in state.history)>
        <span>
            |
            <a href="#" on-click('navigate', historyEntry.componentId)>${historyEntry.componentId}</a>
        </span>
    </for>
</div>
