<div.breadcrumb>
    <span.kix-icon.icon-dummy.icon-h/>
    <for(historyItem in state.history)>
        <span>
            |
            <a href="#" on-click('navigate', historyItem[0])>${historyItem[0]}</a>
        </span>
    </for>
</div>
