<div.list-with-title-and-icon>
    <if(input.icon)>
        <div>
            <icon icon=input.icon/>
        </div>
    </if>
    <div>
        <b>${input.title}</b>
        <ul.list-with-title>
            <for(text in input.list)>
                <li>${text}</li>
            </for>
        </ul>
    </div>
</div>
