<div.list-with-title>
    <b><translation-string pattern=input.title/></b>
    <ul>
        <for|text| of=input.list>
            <li>
                <translation-string pattern=text/>
            </li>
        </for>
    </ul>
</div>
