.file-upload {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem max-content;
    grid-column-gap: @margin-default;
    grid-row-gap: @margin-small;
    align-items: center;
    >.file-upload-button {
        width: 100%;
        .file-upload-input {
            display: none;
        }
    }
    >.file-upload-notice {
        width: 100%;
        display: grid;
        grid-template-columns: max-content auto;
        grid-gap: .25rem;
        align-items: center;
        grid-template-rows: 2rem;
        color: @secondary-1;
        >.file-upload-line {
            background-color: @secondary-3;
            height: 1px;
            margin-top: .375rem;
        }
    }
    >.file-upload-file-list {
        width: unset;
        grid-column: 1 / span 2;
        margin: 0 @default-button-icon-width;
    }
    &.dragging {
        border: 2px dotted @secondary-3;
        border-radius: @border-radius;
        padding: @margin-small;
    }
}