.ticket-search-container {
    .search-group {
        border: 1px solid #000;
        padding: 10px;
        margin: 3px;
        label {
            display: block;
        }
    }
    .search-error {
        background-color: @tertiary-2;
        color: #fff;
        font-weight: bold;
        display: block;
        height: 35px;
        line-height: 35px;
        padding: 3px;
        margin: 5px;
    }
    button {
        left: unset;
    }
    button:disabled {
        background-color: @secondary-1
    }
}

.search-result {
    background-color: #fff;
    font-size: 0.8em;
    color: #000;
    margin-top: 10px;
}