<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<tbody class={
    "with-toggle": component.toggleEnabled,
    "show-object": state.ready
}>
    <if(state.loading)>
        <tr.empty-row style=("height: " + component.getRowHeight())>
            <td colspan=component.getFullColumnLength()>
                <loading-spinner/>
            </td>
        </tr>
    </if>
    <else-if(state.rows && state.ready)>
        <if(!!state.rows.length)>
            <for|row| of=state.rows>
                <table-row
                    row=row
                    columnLength=component.getFullColumnLength()
                    height=component.getRowHeight()
                    selectionEnabled=component.selectionEnabled
                    toggleEnabled=component.toggleEnabled
                    level=0/>
            </for>
        </if>
        <else>
            <tr.empty-row style=("height: " + component.getRowHeight())>
                <td colspan=component.getFullColumnLength()>
                    <translation-string pattern=component.getEmptyString()/>
                </td>
            </tr>
        </else>
    </else-if>
</tbody>
