<if(state.field)>
    <input.input-style class={invalid: state.invalid} value=state.currentValue type=state.inputType
        placeholder=(state.field.required ? state.placeholder : "") required=input.required on-keydown('keyDown')
        on-change('valueChanged') on-blur('focusLost')/>
</if>
