<div>
    <table.user-table>
        <tr>
            <for(column in state.columns)>
                <th>${column}</th>
            </for>
        </tr>
        <tr>
            <for(row in state.values)>
                <tr>
                    <for(value in row)>
                        <td>${value}</td>
                    </for>
                </tr>
            </for>
        </tr>
    </table>
</div>
