@form-list-tree-icon-size: .875rem;
@form-list-tree-node-size: .25rem+@form-list-tree-icon-size;
@form-list-tree-column-gap: @margin-small;
.form-list-tree {
    .tree-node {
        display: grid;
        grid-template-columns: @form-list-tree-node-size auto;
        grid-gap: .25rem @form-list-tree-column-gap;
        margin-bottom: .25rem;
        cursor: pointer;
        >.tree-icon {
            [class^="kix-icon-"],
            [class*=" kix-icon-"] {
                color: @secondary-0;
                background-color: @secondary-2;
                font-size: @form-list-tree-icon-size;
                width: @form-list-tree-node-size;
                height: @form-list-tree-node-size;
                display: inline-block;
                box-sizing: border-box;
                padding: .125rem;
                border-radius: @border-radius;
            }
        }
        >.node-value {
            display: grid;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            grid-gap: @form-list-tree-column-gap;
            align-items: center;
            height: 1.5rem;
            [class^="kix-icon-"],
            [class*=" kix-icon-"] {
                font-size: @form-list-tree-icon-size;
            }
        }
        &:hover {
            >.node-value {
                background: @secondary-5;
                font-weight: bold;
            }
        }
        &.active {
            >.node-value {
                background: @tertiary-4;
                font-weight: bold;
            }
            &:hover {
                >.node-value {
                    background: darken(@tertiary-4, 20%);
                }
            }
        }
        /* sub tree */
        >.form-list-tree {
            grid-column: 2;
            margin-bottom: -.25rem;
        }
    }
}