<tr class={
    "fist-column-fixed": component.firstColumnIsFixed()
} style=("height: " + component.getHeaderHeight())>
    <if(component.isSelectable())>
        <th.check>
            <input type="checkbox" on-click("selectionChanged") key="allCheck"/>
        </th>
    </if>
    <for|column| of=state.columns>
        <table-head-cell height=component.getHeaderHeight() column=column/>
    </for>
    <th.column-spacer/>
    <if(component.isToggleable())>
        <th.toggle/>
    </if>
</tr>
