<if(input.short)>
    <span.kix-icon-print on-click('doAction') title="Drucken"/>
</if>
<else>
    <div.action on-click('doAction') title="Drucken">
        <span.kix-icon-print/>
        <span>Drucken</span>
    </div>
</else>
