<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<tbody class={
    "with-toggle": component.toggleEnabled,
}>

    <if(Array.isArray(state.rows))>
        <if(!!state.rows.length)>
            <for|row| of=state.rows>
                <table-row
                    key="table-row" + state.rowKey
                    row=row
                    columnLength=component.getFullColumnLength()
                    height=component.getRowHeight()
                    selectionEnabled=component.selectionEnabled
                    toggleEnabled=component.toggleEnabled
                    level=0
                />
            </for>
            <tr.empty-row id=state.loadMoreButtonId>
                <if(state.canLoadMore)>
                    <td colspan=component.getFullColumnLength()>
                        <if(state.loadMore)>
                            <loading-spinner/>
                        </if>
                        <else>
                            <button.btn.btn-secondary.btn-sm.w-100.shadow-sm.text-white
                                type="button"
                                on-click("loadMore")
                            >
                                <translation-string pattern="Translatable#Load more"/>
                            </button>
                        </else>
                    </td>
                </if>
            </tr>
        </if>
        <else>
            <tr.empty-row style=`height:${component.getRowHeight()}`>
                <td colspan=component.getFullColumnLength()>
                    <translation-string pattern=component.getEmptyString()/>
                </td>
            </tr>
        </else>
    </if>
</tbody>
