<div.admin-content>
    <if(state.template)>
        <${state.template}/>
    </if>
    <else>
        <div.admin-hint>
            <translation-string pattern="Translatable#Sie befinden sich im Administrationsbereich. Bitte wählen Sie ein Modul aus dem Explorer."/>
        </div>
    </else>
</div>
