<div.admin-content>
    <if(state.template)>
        <${state.template}/>
    </if>
    <else>
        <div.admin-hint>
            <translation-string pattern="Translatable#This is the administration panel. Please select a module from the explorer."/>
        </div>
    </else>
</div>
