<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div>
    <form-page-menu
        pages=component.getValidPages()
        activePageIndex=state.activePageIndex
        before
        on-showPage("showPage")/>
    <form autocomplete="off" class="form">
        <input
            id="username"
            style="display:none"
            type="text"
            name="fakeusernameremembered">
        <input
            id="password"
            style="display:none"
            type="password"
            name="fakepasswordremembered"
            autocomplete="off">
        <if(state.formInstance && state.formInstance.form && state.formId)>
            <for|page, index| of=component.getValidPages()>
                <div class={
                    active: index === state.activePageIndex,
                    "form-page": true,
                }>
                    <for|group| of=page.groups>
                        <if(page.groups.length > 1 || page.showSingleGroup)>
                            <widget
                                contextInstanceId=input.contextInstanceId
                                instanceId="form-group"
                                title=group.name
                                on-minimizedChanged(
                                    "handleFormGroupMinimizeState",
                                    group.name,
                                )
                                key=group.name>
                                <@content>
                                    <field-container
                                        fields=group.formFields
                                        formId=state.formId
                                        additionalFieldControlsNeeded=state.additionalFieldControlsNeeded
                                        draggable=group.draggableFields/>
                                </@content>
                            </widget>
                            <if(group.separatorString)>
                                <div class="separator">
                                    ${group.separatorString}
                                </div>
                            </if>
                        </if>
                        <else>
                            <field-container
                                fields=group.formFields
                                formId=state.formId
                                additionalFieldControlsNeeded=state.additionalFieldControlsNeeded
                                draggable=group.draggableFields/>
                        </else>
                    </for>
                </div>
            </for>
        </if>
    </form>
    <form-page-menu
        pages=component.getValidPages()
        activePageIndex=state.activePageIndex
        on-showPage("showPage")/>
</div>
