<form-default-input field=state.field placeholder=(state.field.required ? "Ticketnummer" : "") formId=state.formId
    fieldId=state.fieldId FormInputComponentcurrentValue=state.currentValue invalid=state.invalid
    required=state.field.required/>
