<if(state.rows.length)>
    <div class="explorerbar">
        <for(widget in state.configuredWidgets)>
            <div>
                <include(component.getWidgetTemplate(widget.instanceId), {
                        instanceId: widget.instanceId,
                        minimizable: false,
                        explorer: true
                    }) key=widget.instanceId/>
            </div>
        </for>
    </div>
</if>
