.explorerbar {
    float: left;
    width: 200px;
    overflow: hidden;
    div {
        .widget {
            width: 195px;
            .widget-content {
                height: unset;
                min-height: 192px;
                max-height: 400px;
                overflow: auto;
                padding: 0;
            }
        }
    }
}