.explorerbar {
    float: left;
    padding: 5px 0 0 5px;
    div {
        margin-top: 10px;
        &:first-of-type {
            margin-top: 0;
        }
        .widget {
            width: 192px;
            .widget-content {
                height: unset;
                min-height: 192px;
                max-height: 400px;
                overflow: auto;
                padding: 0;
            }
        }
    }
<<<<<<< HEAD
}

.collapsed-explorer {
    margin-bottom: 192px;
    margin-top: 15px;
    width: 192px;
    border: 1px solid;
    padding: 2px;
    transform: rotate(270deg);
    transform-origin: 96px 96px;
}

// TODO: remove - erstmal notwendig, bis draggable-container ggf. auch hier enthalten ist
// ansonsten in default verschieben?
.explorerbar {
    >div {
        &.config-mode:not(.config-dialog-shown) {
            z-index: 100;
        }
        position: relative;
        .widget-overlay {
            cursor: ns-resize;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 3px;
            border: 1px solid @secondary-0;
            border-top: none;
            .widget-overlay-content {
                position: absolute;
                opacity: 0.2;
                top: 2em;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: @config-color;
                box-sizing: border-box;
            }
        }
        .drag-element {
            opacity: 0.7;
        }
        .drop-element {
            background-color: @tertiary-3;
=======
    &.collapsed {
        width: 38px;
        .explorer {
            .color-theme-3;
            position: relative;
            border-radius: 3px;
            box-shadow: 0 0 2px 0 #e2e2e2;
            box-sizing: border-box;
            margin-bottom: 184px;
            width: 192px;
            height: 2em;
            background-color: #e2e2e2;
            border: 0 none;
            transform: rotate(270deg);
            transform-origin: 96px 96px;
            overflow: hidden;
            .header-left {
                display: inline-block;
                float: left;
                line-height: 2.5em;
                font-size: .75em;
                margin-right: 5px;
                padding: 2px 1em 2px;
                h3 {
                    margin-bottom: 0;
                    font-weight: 400;
                    [class^="kix-icon-"],
                    [class*=" kix-icon-"] {
                        margin-right: .5em;
                    }
                }
            }
            .header-right {
                display: inline-block;
                float: right;
                width: 2em;
                text-align: center;
                background-color: #c4c5c5;
                [class^="kix-icon-"],
                    [class*=" kix-icon-"] {
                        line-height: 2em;
                    }
            }
>>>>>>> origin/rel-18_FEATURE
        }
    }
}