.explorerbar {
    float: left;
    >div {
        margin-top: 10px;
        &.config-mode:not(.config-dialog-shown) {
            z-index: 100;
            position: relative;
        }
        &:first-of-type {
            margin-top: 0;
        }
        .widget {
            width: @explorer-width;
            .widget-content {
                height: unset;
                min-height: @explorer-width;
                max-height: 400px;
                overflow: auto;
                padding: 1.25em .75em 1.25em .5em;
            }
        }
    }
    &.collapsed {
        width: 38px;
        .explorer {
            background: @secondary-2;
            color: @secondary-0;
            position: relative;
            border-radius: 3px;
            box-shadow: 0 0 2px 0 @secondary-3;
            box-sizing: border-box;
            margin-bottom: 184px;
            width: @explorer-width;
            height: 2em;
            background-color: @secondary-3;
            border: 0 none;
            transform: rotate(270deg);
            transform-origin: 96px 96px;
            overflow: hidden;
            .header-left {
                display: inline-block;
                float: left;
                font-size: .75em;
                margin-right: 5px;
                padding: 2px 1em 2px;
                h3 {
                    margin-bottom: 0;
                    font-weight: 400;
                    [class^="kix-icon-"],
                    [class*=" kix-icon-"] {
                        margin-right: .5em;
                    }
                }
            }
            .header-right {
                display: inline-block;
                float: right;
                width: 2em;
                text-align: center;
                background-color: @secondary-2;
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    line-height: 2em;
                }
            }
        }
    }
}