<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.notes-container class={
    "note-editor-active": state.editorActive
}>
    <widget
        instanceId=input.instanceId
        title=(
            state.widgetConfiguration
                ? state.widgetConfiguration.title
                : "Translatable#Notes"
        )
        icon=(
            state.widgetConfiguration && state.widgetConfiguration.icon
                ? state.widgetConfiguration.icon
                : "kix-icon-note"
        )>
        <@content>
            <if(state.value || state.editorActive)>
                <editor
                    value=state.value
                    on-valueChanged("valueChanged")
                    simple=true
                    readOnly=!state.editorActive
                    keyValue="notes-sidebar"/>
            </if>
            <else>
                <div.empty-notes>
                    <translation-string pattern="Translatable#add notes here"/>
                </div>
            </else>
            <if(state.editorActive)>
                <div.notes-editor-buttons>
                    <button.kix-button.form-button.button-without-text
                        title=state.translations["Translatable#Cancel"]
                        on-click("cancelEditor")>
                        <span.kix-icon-close/>
                    </button>
                    <button.kix-button.form-button
                        title=state.translations["Translatable#Submit"]
                        on-click("submitEditor")>
                        <span.kix-icon-check/>
                        <translation-string pattern="Translatable#Submit"/>
                    </button>
                </div>
            </if>
        </@content>
    </widget>
</div>
