<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class=[
    "notes-container",
    {
        "note-editor-active": state.editorActive,
    },
]>
    <widget
        instanceId=input.instanceId
        title=(
            state.widgetConfiguration
                ? state.widgetConfiguration.title
                : "Translatable#Notes"
        )
        icon=(
            state.widgetConfiguration && state.widgetConfiguration.icon
                ? state.widgetConfiguration.icon
                : "kix-icon-note"
        )
    >
        <@content>
            <if((state.value || state.editorActive) && state.editorReady)>
                <editor
                    value=state.value
                    simple
                    readOnly=!state.editorActive
                    key="notes-editor"
                />
            </if>
            <else>
                <div class="empty-notes">
                    <translation-string pattern="Translatable#add notes here"/>
                </div>
            </else>
            <if(state.editorActive)>
                <div class="notes-editor-buttons">
                    <button
                        title=(state.translations["Translatable#Cancel"])
                        on-click("cancelEditor")
                        class="kix-button form-button button-without-text"
                    >
                        <span class="kix-icon-close"/>
                    </button>
                    <button
                        title=(state.translations["Translatable#Submit"])
                        on-click("submitEditor")
                        class="kix-button form-button"
                    >
                        <span class="kix-icon-check"/>
                        <translation-string pattern="Translatable#Submit"/>
                    </button>
                </div>
            </if>
        </@content>
    </widget>
</div>
