<form-list placeholder=(state.field.required ? "Kundenfirma" : "") searchCallback=state.searchCallback
    autoCompleteConfiguration=state.autoCompleteConfiguration on-nodesChanged('customerChanged')
    selectedNodes=[state.currentNode] invalid=state.invalid autocomplete=true/>
