<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class=[
    "container-fluid bg-white",
    {
        "text-center": !state.prepared,
    },
]>

    <if(state.prepared)>
        <if(state.pages.length > 1 || input.contextInstanceId)>
            <object-form-page-slider
                pages=state.pages
                carouselId=state.carouselId
                contextInstanceId=state.contextInstanceId
            />
        </if>
        <div class=component.getLayoutClasses()>
            <for|page| of=state.pages>
                <object-form-page
                    page=page
                    contextInstanceId=input.contextInstanceId
                />
            </for>
            <object-form-other-information contextInstanceId=input.contextInstanceId/>
        </div>
        <if(!input.contextInstanceId)>
            <object-form-buttonbar contextInstanceId=input.contextInstanceId/>
        </if>
    </if>
    <else-if(state.error)>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg
                class="bi flex-shrink-0 me-2"
                width="24"
                height="24"
                role="img"
                aria-label="Danger:"
            >
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>
                <translation-string pattern=state.error/>
            </div>
        </div>
    </else-if>
    <else>
        <loading-spinner/>
    </else>
</div>
