<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class=[
    "container-fluid m-0 p-2 pe-1 bg-white",
    {
        "text-center": !state.prepared,
    },
]>

    <if(state.prepared)>
        <object-form-values-container formValues=state.formValues/>
        <div class="form-submission-buttons">
            <dialog-notifiactions/>
            <div class="bg-light me-2">
                <button
                    type="button"
                    on-click("cancel")
                    class="btn btn-outline-danger py-0"
                >
                    <span class="btn-label-danger">
                        <i class="fa fa-times text-light"/>
                    </span>
                    <translation-string pattern="Translatable#Cancel"/>
                </button>
            </div>
            <div class="bg-light">
                <button
                    disabled=state.blocked
                    type="button"
                    on-click("submit")
                    class="btn btn-outline-success py-0"
                >
                    <span class="btn-label-success">
                        <i class="fa fa-check text-light"/>
                    </span>
                    <translation-string pattern=state.submitPattern/>
                </button>
            </div>
        </div>
    </if>
    <else-if(state.error)>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg
                class="bi flex-shrink-0 me-2"
                width="24"
                height="24"
                role="img"
                aria-label="Danger:"
            >
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>
                <translation-string pattern=state.error/>
            </div>
        </div>
    </else-if>
    <else>
        <loading-spinner/>
    </else>
</div>
