.property-label {
    display: inline-block;
    color: #fff;
    width: 11px;
    height: 11px;
    line-height: 11px;
    font-size: .625em;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;

}

.priority-label-1-style-a {
    .property-label();
    background-color: #009846;
}

.priority-label-2-style-a {
    .property-label();
    background-color: #9FBB2F;
}

.priority-label-3-style-a {
    .property-label();
    color: #5b5b5b;
    background-color: #FFED00;
}

.priority-label-4-style-a {
    .property-label();
    background-color: #EB9674;
}

.priority-label-5-style-a {
    .property-label();
    background-color: #E31E24;
}

.priority-label-1-style-b {
    .property-label();
    background-color: #E31E24;
}

.priority-label-2-style-b {
    .property-label();
    background-color: #EB9674;
}

.priority-label-3-style-b {
    .property-label();
    color: #5b5b5b;
    background-color: #FFED00;
}

.priority-label-4-style-b {
    .property-label();
    background-color: #9FBB2F;
}

.priority-label-5-style-b {
    .property-label();
    background-color: #009846;
}