<if(state.isActive)>
    <icon icon="kix-icon-open-right"/>
    <span on-click("goToArticleClicked") style="cursor: pointer">
        <translation-string pattern="Translatable#to Article"/>
    </span>
</if>
