<form-list
    nodes=state.nodes
    selectedNodes=[state.currentNode]
    placeholder=state.placeholder
    on-focusLost("focusLost")
    on-nodesChanged("typeChanged")
    invalid=state.invalid
    multiselect=state.multiselect
    readonly=state.field.readonly/>
