<form-dropdown items=state.items selectedItem=state.currentItem
    placeholder=(state.field.required ? "Tickettyp zuordnen" : "") on-itemChanged("itemChanged") invalid=state.invalid
    required=state.field.required/>
