.faq-category-explorer {
    .widget-content {
        overflow: auto;
        >span.show-all {
            display: inline-block;
            margin: .5rem 0 0 2rem;
            cursor: pointer;
            &.active {
                color: #04537d;
                font-weight: bold;
            }
        }
    }
}