<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId="new-config-item-dialog">
    <@content>
        <div.form>
            <div.form-field.config-item-class-selector.show-object title=state.translations["Translatable#Config Item Class"]>
                <div.field-label>
                    <span.label-text>
                        <translation-string pattern="Translatable#Config Item Class"/>
                    </span>
                </div>
                <div.field-icon>
                    <if(state.hint)>
                        <overlay-icon isHint=true content=state.hint title=state.translations["Translatable#Config Item Class"]/>
                    </if>
                </div>
                <div.field-input>
                    <form-list
                        treeId="new-ci-class-form-list"
                        loadNodes=state.loadNodes
                        placeholder=state.placeholder
                        on-nodesChanged("classChanged")
                        multiselect=false
                        readonly=state.hasObject/>
                </div>
            </div>
        </div>
        <div.ci-create-form-container>
            <if(state.prepared && state.formId)>
                <main-form formId=state.formId/>
            </if>
        </div>
        <div.dialog-button-container>
            <button.cancel-button type="button" on-click("cancel") title=state.translations["Translatable#Cancel"]>
                <span.kix-icon-close/>
                <translation-string pattern="Translatable#Cancel"/>
            </button>
            <button.submit-button
                disabled=!state.formId
                type="button"
                on-click("submit")
                title=state.translations["Translatable#Save"]>
                <span.kix-icon-check/>
                <translation-string pattern="Translatable#Save"/>
            </button>
        </div>
    </@content>
</widget>
