<div.select-with-filter>
    <h3>${input.title}</h3>
    <input.filter type="text" placeholder="| ${input.placeholder}" value=state.filterValue on-change("filterChanged")/>
    <button on-click('filter')>
        <span.kix-icon.icon-dummy/>
    </button>
    <select size=input.size multiple=input.multiple on-change('markSelected')>
        <for(el in state.filteredList)>
            <option value=el.id>${el.label}</option>
        </for>
    </select>
</div>
