.sub-field-container {
    margin-bottom: 0.5rem;
    >.form-field {
        >.field-label {
            font-weight: normal;
        }
    }
}

.minimize-icon-container {
    align-self: center;
    margin: .375rem 0 0 .75rem;
    [class^="kix-icon-"],
    [class*=" kix-icon-"] {
        cursor: pointer;
        >.no-links {
            color: @secondary-3;
        }
    }
}