.sub-field-container {
    margin-bottom: 0.5rem;
    >.form-field {
        >.field-label {
            font-weight: normal;
        }
    }
}

.minimize-icon-container {
    align-self: center;
    margin: .375rem 0 0 .75rem;
    [class^="kix-icon-"],
    [class*=" kix-icon-"] {
        cursor: pointer;
        >.no-links {
            color: @secondary-3;
        }
    }
}

.additionalFieldControls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    padding-left: 0.5rem;
    width: 2.5rem;
    >button {
        height: 1.125rem;
        line-height: 1.125rem;
        >span {
            font-size: unset;
            line-height: unset;
            width: 1.125rem;
        }
    }
}