<li.lane>
    <widget instanceId=Date.now() minimizable=true minimized=true>
        <@icon/>
        <@title>Objekte verknüpfen</@title>
        <@content>Objekte verknüpfen</@content>
        <@filter/>
        <@actions/>
    </widget>
</li>
<li.lane>
    <widget instanceId=Date.now() minimizable=true minimized=true>
        <@icon/>
        <@title>Prozessinformationen</@title>
        <@content>Prozessinformationen</@content>
        <@filter/>
        <@actions/>
    </widget>
</li>
<li.lane>
    <widget instanceId=Date.now() minimizable=true minimized=true>
        <@icon/>
        <@title>Zusätzliche Informationen und Felder</@title>
        <@content>Zusätzliche Informationen und Felder</@content>
        <@filter/>
        <@actions/>
    </widget>
</li>
<li.lane>
    <widget instanceId=Date.now() minimizable=true minimized=true>
        <@icon/>
        <@title>Historie</@title>
        <@content>Historie</@content>
        <@filter/>
        <@actions/>
    </widget>
</li>
