.explorerbar.collapsed~.ticket-details {
    margin-left: 64px;
}

.ticket-details {
    margin-left: 232px;
    .widget {
        margin-top: 1.5em;
        box-shadow: none;
        &:first-of-type {
            margin-top: 0;
        }
        .widget-header {
            .header-left {
                line-height: 32px;
                margin-right: 5px;
                overflow: hidden;
                max-width: 75%;
                white-space: nowrap;
                display: inline-block;
                text-overflow: ellipsis;
                h3 {
                    max-width: 75%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        .widget-content {
            background-color: transparent;
        }
        .lane-list {
            list-style: none;
            margin-bottom: 1.5em;
            .lane {
                .widget {
                    margin-bottom: .75em;
                    .widget-header {
                        padding: 0 .5em;
                        color: #ffffff;
                        background-color: #007faf;
                        border-radius: 3px;
                        height: 2em;
                        .header-left {
                            line-height: 2em;
                            h3 {
                                margin-bottom: 0;
                                font-weight: 600;
                                padding-top: 1px;
                                font-size: 1em;
                            }
                        }
                        .header-right {
                            line-height: 2em;
                        }
                    }
                    .widget-content {
                        margin: 0 2.25em;
                        border: 1px solid #0a7cb3;
                        background-color: #ffffff;
                        overflow: visible;
                        min-height: 10em;
                    }
                    &.minimized {
                        margin-bottom: .25em;
                        .widget-header {
                            margin-left: 1.75em;
                            color: #5b5b5b;
                            background-color: #eaebeb;
                            .header-left {
                                line-height: 2em;
                            }
                            .header-right {
                                line-height: 2em;
                            }
                        }
                        .widget-content {
                            display: none;
                        }
                    }
                }
                &.tabs {
                    .widget {
                        .widget-header {
                            .header-left {
                                display: none;
                            }
                            .header-right {
                                line-height: 2em;
                            }
                        }
                        &.minimized {
                            .widget-header {
                                .header-left {
                                    display: inline-block;
                                    h3 {
                                        max-width: none;
                                    }
                                }
                            }
                        }
                        .widget-content {
                            position: relative;
                            top: -1.5em;
                            border: 0 none;
                            background-color: transparent;
                            .tab-list {
                                list-style: none;
                                position: relative;
                                height: 1.5em;
                                li {
                                    position: relative;
                                    display: inline-block;
                                    background-color: #72bedc;
                                    color: #00385d;
                                    border: 1px solid #0a7cb3;
                                    border-top-left-radius: 3px;
                                    border-top-right-radius: 3px;
                                    border-bottom: 0 none;
                                    margin-right: .5em;
                                    padding: 2px .5em 4px .5em;
                                    font-weight: 600;
                                    height: 1em;
                                    &.active {
                                        z-index: 5;
                                        background-color: #ffffff;
                                        color: @tertiary-5;
                                    }
                                }
                            }
                            .tab-content {
                                border: 1px solid #0a7cb3;
                                border-bottom-left-radius: 3px;
                                border-bottom-right-radius: 3px;
                                background-color: #ffffff;
                                .widget {
                                    .widget-header {
                                        display: none;
                                    }
                                    .widget-content {
                                        margin: 0;
                                        padding: 1.5em 1em 1em;
                                        top: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .lane-widget {
            // width: 96%;
            // left: 2%;
            // position: relative;
            margin: 0 2em;
            ul.tab-list {
                list-style: none;
                display: table;
                height: auto;
                li {
                    float: left;
                    background-color: #fff;
                    color: @tertiary-5;
                    border: 1px solid @tertiary-5;
                    border-radius: 5px;
                    border-bottom: 0;
                    margin-right: 5px;
                    padding: 3px;
                }
            }
            .tab-widget {
                margin-top: 0;
                .widget {
                    margin: 0;
                    min-height: 192px;
                }
                .widget-header {
                    height: 0;
                    .header-right {
                        top: 50%;
                        right: 0;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.detail-label {
    color: #000;
    display: block;
    margin: 5px; // float: left;
    font-weight: bold; // width: 45%;
    span {
        font-weight: 100;
    }
}