.explorerbar.collapsed~.ticket-details {
    margin-left: @explorer-collapsed-width + @margin-default;
}

.ticket-details {
    margin-left: @explorer-width + @margin-default;
    .content-widget {
        margin-top: 1.5em;
        box-shadow: none;
        &:first-of-type {
            margin-top: 0;
        }
        .widget-header {
            .action-list-expansion-container {
                background: @secondary-2;
                color: @secondary-0;
                .action-list-expansion {
                    li {
                        border-top: 1px solid @secondary-1;
                    }
                }
            }
        }
        .widget-content {
            .ticket-actions-wrapper {
                background-color: @secondary-3;
                color: @secondary-0;
                border-bottom-left-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
                .action-list-expansion-container {
                    background-color: @secondary-3;
                    color: @secondary-0;
                    .action-list-expansion {
                        li {
                            border-top: 1px solid @secondary-2;
                        }
                    }
                }
            }
            background-color: transparent;
        }
        .action-list-wrapper {
            li.list-button {
                span {
                    box-shadow: 0px 0px 3px 0px @secondary-0
                }
                &.active {
                    span {
                        box-shadow: inset 0px 0px 2px 0px @secondary-0;
                    }
                }
            }
        }
        .lane-list {
            list-style: none;
            margin-bottom: 1.5em;
        }
    }
}