<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.form-control.table-form-input class={readonly: state.readonly}>
    <if(state.prepared)>
        <div.df-table-input-container.table-container>
            <table.table.table-striped class={"table-hover": !state.readonly }>
                <thead>
                    <tr>
                        <for|col| of=state.columns>
                            <th scope="col">${col}</th>
                        </for>
                        <if(state.hasAction && !state.readonly)>
                            <th scope="col">
                                <translation-string pattern="Translatable#Action"/>
                            </th>
                        </if>
                    </tr>
                </thead>
                <tbody>
                    <if(state.value)>
                        <for|row, rowIndex| of=state.value>
                            <tr>
                                <for|value, colIndex| of=row>
                                    <td>
                                        <input.form-control
                                            type="text"
                                            value=value
                                            disabled=state.readonly
                                            on-change(
                                                "tableValueChanged",
                                                rowIndex,
                                                colIndex,
                                            )
                                        />
                                    </td>
                                </for>
                                <if(state.hasAction && !state.readonly)>
                                    <td.df-table-buttons>
                                        <if(component.canAdd(rowIndex))>
                                            <button.button.btn.btn-sm.btn-outline-secondary.me-1
                                                type="button"
                                                title=(
                                                    state.translations[
                                                        "Translatable#Add"
                                                    ]
                                                )
                                                on-click("tableRowAdded")
                                            >
                                                <i.fas.fa-plus-circle/>
                                            </button>
                                        </if>
                                        <if(component.canRemove(rowIndex))>
                                            <button.button.btn.btn-sm.btn-outline-secondary
                                                type="button"
                                                title=(
                                                    state.translations[
                                                        "Translatable#Remove"
                                                    ]
                                                )
                                                on-click(
                                                    "tableRowRemoved",
                                                    rowIndex,
                                                )
                                            >
                                                <i.fas.fa-minus-circle/>
                                            </button>
                                        </if>
                                    </td>
                                </if>
                            </tr>
                        </for>
                    </if>
                </tbody>
            </table>
        </div>
    </if>
</div>
