ul.service-list {
    list-style: none;
}

ul>li.service-list-entry {
    display: block;
    margin-top: 3px;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
}

ul>li.service-list-entry:hover {
    background-color: lightgreen;
}