<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div on-click("download", false) class="attachment">
    <span class="attachment-icon">
        <icon icon=state.icon showUnknown/>
    </span>
    <span
        class=["attachment-link", state.progress ? "inactive-link" : ""]
        title=(state.attachment.Filename)
    >
        ${state.attachment.Filename}
    </span>
    <span class="file-size">
        (${state.attachment.Filesize})
    </span>
    <span on-click("download", true) class="file-download kix-icon-download"/>
</div>
