<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<header#kix-header>
    <div.left>
        <if(state.isMobile)>
            <main-menu-icon/>
            <sidebar-left-icon/>
        </if>
        <else>
            <kix-logo/>
        </else>
    </div>
    <div.center>
        <if(state.isMobile)>
            <create-object-dropdown/>
        </if>
    </div>
    <div.right>
        <if(state.isMobile)>
            <sidebar-right-icon/>
            <toolbar-icon/>
        </if>
        <else>
            <create-object-dropdown/>
            <div.header-separator/>
            <search-object-dropdown/>
            <div.header-separator/>
            <personal-toolbar/>
            <div.header-separator/>
            <application-toolbar/>
        </else>
    </div>
</header>
