<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class=[
    "message-content-container",
    {
        unread: state.article && state.unseen === 1,
        "compact-view-message-content-container": state.selectedCompactView,
    },
]>
    <if(state.show && state.article)>
        <div class="left-avatar">
            <if(state.isExternal)>
                <div title=state.fromDisplayName class="contact-avatar">
                    <if(state.contactIcon)>
                        <icon icon=state.contactIcon/>
                    </if>
                    <else>
                        <loading-spinner/>
                    </else>
                </div>
                <div
                    style=`background-color: ${state.backgroundColor};`
                    class="speech-bubble"
                />
            </if>
        </div>
        <div
            style=`background-color: ${state.backgroundColor};`
            on-click("toggleArticleCompactView")
            class="message"
        >
            <div class=[
                "header",
                {
                    "list-view":
                        state.selectedCompactView && !state.compactViewExpanded,
                },
            ]>
                <message-header
                    article=state.article
                    articleCountNumber=input.articleCountNumber
                    fromDisplayName=state.fromDisplayName
                />
            </div>
            <if(!state.selectedCompactView || state.compactViewExpanded)>
                <if(state.expanded && state.showContent)>
                    <div class="receiver-list">
                        <if(state.articleTo)>
                            <div class="receiver">
                                <span class="title">
                                    <translation-string pattern="Translatable#To"/>
                                     :
                                </span>
                                <span>${state.articleTo}</span>
                            </div>
                        </if>
                        <if(state.articleCc)>
                            <div class="receiver">
                                <span class="title">
                                    <translation-string pattern="Translatable#Cc"/>
                                     :
                                </span>
                                <span>${state.articleCc}</span>
                            </div>
                        </if>
                    </div>
                    <div class="message-body">
                        <div
                            on-click("toggleArticleListView")
                            class="show-message hide-top"
                        >
                            <translation-string pattern="Translatable#Hide Message"/>
                        </div>
                        <ticket-article-content article=state.article/>
                        <div
                            on-click("toggleArticleListView")
                            class="show-message"
                        >
                            <translation-string pattern="Translatable#Hide Message"/>
                        </div>
                    </div>
                </if>
                <else-if(state.loadingContent)>
                    <loading-spinner/>
                </else-if>
                <else>
                    <div class="message-body-short">
                        <div class="short-message">
                            ${state.shortMessage}
                        </div>
                        <div
                            on-click("toggleArticleListView")
                            class="show-message"
                        >
                            <translation-string pattern="Translatable#Show all"/>
                        </div>
                    </div>
                </else>
                <div class="message-footer">
                    <div class="attachments-control">
                        <div class="attachments-list">
                            <if(Array.isArray(state.articleAttachments))>
                                <for|attachment| of=state.articleAttachments>
                                    <ticket-article-attachment
                                        article=state.article
                                        attachment=attachment
                                        images=state.images
                                        useReadonlyStyle=false
                                    />
                                </for>
                            </if>
                        </div>
                        <if(state.hasInlineAttachments)>
                            <a
                                on-click("toggleAttachments")
                                class="attachmentsToggle"
                            >
                                <translation-string pattern=`Translatable#${
                                    state.showAllAttachments
                                        ? "Hide inline attachments"
                                        : "Show all attachments"
                                }`/>
                            </a>
                        </if>
                    </div>
                    <div
                        style=`background-color: ${state.backgroundColor};`
                        class="actions-list"
                    >
                        <if(state.actions && state.actions.length)>
                            <action-list list=state.actions/>
                        </if>
                    </div>
                </div>
            </if>
        </div>
        <div class="right-avatar">
            <if(!state.isExternal)>
                <div
                    style=`background-color: ${state.backgroundColor};`
                    class="speech-bubble"
                />
                <div title=state.fromDisplayName class="contact-avatar">
                    <if(state.contactIcon)>
                        <icon icon=state.contactIcon/>
                    </if>
                    <else>
                        <loading-spinner/>
                    </else>
                </div>
            </if>
        </div>
    </if>
</div>
