<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.message-content-container class={unread: state.article && state.article.isUnread()}>
   <if(state.show && state.article)>
      <div.left-avatar>
         <if(state.isExternal)>
            <div.contact-avatar>
               <if(state.contactIcon)>
                  <icon icon=state.contactIcon/>
               </if>
               <else><loading-spinner/></else>
            </div>
            <div.speech-bubble style=`background-color: ${state.backgroundColor};`></div>
         </if>
      </div>
      <div.message style=`background-color: ${state.backgroundColor};`>
         <div.header>
            <message-header
                article=state.article
                articleCountNumber=input.articleCountNumber
            />
         </div>
         <if(state.expanded)>
            <div.receiver-list>
               <if(state.articleTo)>
                  <div.receiver><span.title><translation-string pattern="Translatable#To"/>:</span><span>${state.articleTo}</span></div>
               </if>
               <if(state.articleCc)>
                  <div.receiver><span.title><translation-string pattern="Translatable#Cc"/>:</span><span>${state.articleCc}</span></div>
               </if>
            </div>
            <div.message-body>
               <div.show-message.hide-top on-click("toggleArticle")>
                  <translation-string pattern="Translatable#Hide Message"/>
               </div>
               <ticket-article-content article=state.article/>
               <div.show-message on-click("toggleArticle")>
                  <translation-string pattern="Translatable#Hide Message"/>
               </div>
            </div>
         </if>
         <else>
            <div.message-body-short>
               <div.short-message>${state.shortMessage}</div>
               <div.show-message on-click("toggleArticle")>
                  <translation-string pattern="Translatable#Show all"/>
               </div>
            </div>
         </else>
         <div.message-footer>
            <div.attachments-control>
               <div.attachments-list>
                  <if(Array.isArray(state.articleAttachments))>
                     <for|attachment| of=state.articleAttachments>
                        <ticket-article-attachment
                           article=state.article
                           attachment=attachment
                           images=state.images
                        />
                     </for>
                  </if>
               </div>
               <a.attachmentsToggle on-click("toggleAttachments")>
                  <translation-string
                     pattern=`Translatable#${state.showAllAttachments ? 'Show less' : 'Show all'}`/>
               </a>
            </div>
            <div.actions-list style=`background-color: ${state.backgroundColor};`>
               <if(state.actions && state.actions.length)>
                  <action-list list=state.actions/>
               </if>
            </div>
         </div>
      </div>
      <div.right-avatar>
         <if(!state.isExternal)>
            <div.speech-bubble style=`background-color: ${state.backgroundColor};`></div>
            <div.contact-avatar>
               <if(state.contactIcon)>
                  <icon icon=state.contactIcon/>
               </if>
               <else><loading-spinner/></else>
            </div>
         </if>
      </div>
   </if>
   <else-if(state.loading)>
      <loading-spinner/>
   </else-if>
</div>
