<h3>${input.title}</h3>
<input.filter type="text" placeholder="| ${input.placeholder}"/>
<select size=input.size multiple=input.multiple on-change('listSelected')>
    <for(el in state.list)>
        <option>${el.title}</option>
    </for>
</select>
