<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.table-cell-content
    class={
        "with-icons": state.showIcons,
        "with-text": state.showText
    }
    style={
        height: input.height
    }
    title=(state.cell.getValue() ? state.cell.getDisplayValue() : "")>
    <if(state.showIcons && state.cell && state.cell.getValue().displayIcons)>
        <span>
            <for|icon| of=state.cell.getValue().displayIcons>
                <icon icon=icon showUnknown=true/>
            </for>
        </span>
    </if>
    <if(state.showText && state.cell.getValue())>
        <span.text.cell-display-text dir=(state.rtl ? 'rtl' : 'ltr')>${state.cell.getDisplayValue()}</span>
    </if>
</div>
