<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.table-cell-content
    class={
        "with-icons": state.showIcons,
        "with-text": state.showText
    }
    style={
        height: input.height
    }
    title=(state.cell.getValue() ? state.cell.getValue().displayValue : "")>
    <if(state.showIcons && state.cell && state.cell.getValue().displayIcons)>
        <span>
            <for|icon| of=state.cell.getValue().displayIcons>
                <icon icon=icon showUnknown=true/>
            </for>
        </span>
    </if>
    <if(state.showText && state.cell.getValue())>
        <span.text.cell-display-text>${state.cell.getValue().displayValue}</span>
    </if>
</div>
