<!--
Copyright (C) 2006-2019 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <if(state.prepared && state.ticket)>
            <div.ticket-information>
                <div.information-list>
                    <for|property| of=state.properties>
                        <div>
                            <if(state.dynamicFieldLabels && state.dynamicFieldLabels[property])>
                                <div.dynamic-field-label-list>
                                    <object-property-label>
                                        <@propertyValue>
                                            <translation-string pattern=state.dynamicFieldLabels[property].Name/>
                                        </@propertyValue>
                                        <@value>
                                            <label-list labels=state.dynamicFieldLabels[property].Labels removeLabels=false/>
                                        </@value>
                                    </object-property-label>
                                </div>
                            </if>
                            <else>
                                <object-property-label
                                    object=state.ticket
                                    property=property
                                    labelProvider=state.labelProvider
                                    routingConfiguration=component.getRoutingConfiguration(property)
                                    objectId=state.ticket[property]>
                                    <@info>
                                        <if(property === "OrganisationID" && state.organisation)>
                                            <overlay-icon
                                                content="object-information"
                                                instanceId="organisation-info-overlay"
                                                data={
                                                                                                object: state.organisation,
                                                                                                properties: state.organisationProperties,
                                                                                                flat: true
                                                                                            }/>
                                        </if>
                                        <if(property === "ContactID" && state.contact)>
                                            <overlay-icon
                                                content="object-information"
                                                instanceId="contact-info-overlay"
                                                data={
                                                                                                object: state.contact,
                                                                                                properties: state.contactProperties,
                                                                                                flat: true
                                                                                            }/>
                                        </if>
                                    </@info>
                                </object-property-label>
                            </else>
                        </div>
                    </for>
                </div>
                <div.ci-list-wrapper>
                    <div>
                        <translation-string pattern="Translatable#Relevant Config Items"/>:
                    </div>
                    <div.ci-list-container>
                        <relevant-config-item-list/>
                    </div>
                </div>
            </div>
        </if>
    </@content>
</widget>
