.ticket-queue-explorer {
    .widget-content {
        >span.show-all {
            display: inline-block;
            margin-bottom: 2rem;
            cursor: pointer;
            &:hover {
                color: @primary-0;
            }
            &.active {
                color: @primary-0;
                font-weight: bold;
            }
        }
    }
}