<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.ci-category-explorer>
    <widget
        instanceId=state.instanceId
        title=(
            state.widgetConfiguration
                ? state.widgetConfiguration.title
                : "Translatable#CI Classes"
        )>
        <@content>
            <filter on-filter("filter") key="ci-class-explorer-filter" showFilterCount=false/>
            <div.show-all
                class={
                    active: !state.activeNode
                }
                on-click("showAll")>
                <translation-string pattern="Translatable#Overview"/>
            </div>
            <if(state.nodes)>
                <tree
                    tree=state.nodes
                    activeNode=state.activeNode
                    filterValue=state.filterValue
                    on-nodeClicked("activeNodeChanged")/>
            </if>
        </@content>
    </widget>
</div>
