$ {
    let templatePathPrefix = '../../';
    if(data.isExternal) {
        templatePathPrefix ='../../../../node_modules/';
    }

    let template = require(templatePathPrefix + data.template);

}
<include(template, {
    configurationMode: data.configurationMode
    })/>
