.tree-list {
    .tree-node {
        >.tree-icon {
            font-size: 0.75rem;
        }
        >.node-title {
            margin-left: 0.5rem;
            &.expanded {
                font-weight: bold;
            }
        }
        margin-top: 0.5rem;
        >.tree-list {
            margin-left: 1rem;
        }
    }
}