@tree-icon-size: .875rem;
@tree-column-gap: @margin-small;
.tree-list {
    .tree-node {
        display: grid;
        grid-template-columns: @tree-icon-size auto;
        grid-column-gap: @tree-column-gap;
        align-items: center;
        margin: 0 @margin-small .25rem 0;
        cursor: pointer;
        >.tree-icon {
            font-size: .625rem;
            color: @secondary-0;
            [class^="kix-icon-"],
            [class*=" kix-icon-"] {
                background-color: @secondary-2;
                width: @tree-icon-size;
                height: @tree-icon-size;
                display: inline-block;
                box-sizing: border-box;
                padding: .125rem;
            }
        }
        >.node-value {
            display: grid;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            grid-gap: @tree-column-gap;
            align-items: center;
            height: 1.5rem;
            [class^="kix-icon-"],
            [class*=" kix-icon-"] {
                font-size: @tree-icon-size;
            }
        }
        &:hover {
            >.tree-icon {
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    background-color: @primary-0;
                }
            }
            >.node-value {
                color: @primary-0;
            }
        }
        &.active {
            >.tree-icon {
                color: @secondary-6;
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    background-color: @primary-0;
                }
            }
            >.node-value {
                color: @primary-0;
                font-weight: bold;
            }
        }
        /* sub tree */
        >.tree-list {
            grid-column: 2;
            .tree-node {
                >.tree-icon {
                    color: @secondary-1;
                    [class^="kix-icon-"],
                    [class*=" kix-icon-"] {
                        background-color: @secondary-3;
                    }
                }
                &:hover {
                    >.tree-icon {
                        [class^="kix-icon-"],
                        [class*=" kix-icon-"] {
                            background-color: @primary-2;
                        }
                    }
                    >.node-value {
                        color: @primary-2;
                    }
                }
                &.active {
                    >.tree-icon {
                        color: @secondary-6;
                        [class^="kix-icon-"],
                        [class*=" kix-icon-"] {
                            background-color: @primary-2;
                        }
                    }
                    >.node-value {
                        color: @primary-2;
                    }
                }
            }
        }
    }
}