.tree-list {
    .tree-node {
        >.node-value {
            display: grid;
            grid-template-columns: 0.75rem 0.75rem max-content;
            grid-column-gap: 0.5rem;
            align-items: center;
            height: 2rem;
            padding-left: 0.5rem;
            >.tree-icon {
                font-size: 0.75rem;
                grid-column: 1;
            }
            >.node-title {
                grid-column: 3;
            }
        }
        >.tree-list {
            margin-left: 1rem;
        }
    }
}