<div.kix-footer>
    <div.left-text>${input.leftText}</div>
    <div>
        ${state.kixProduct} ${state.kixVersion} ${state.buildNumber} | Angemeldet: ${state.currentUserLogin} | Ein Produkt der c.a.p.e. IT GmbH
    </div>
    <div.right-text>${input.rightText}</div>
</div>
