<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<for|context| of=state.contextList>
    <div
        key="context-" + context.instanceId
        id="context-" + context.instanceId
        class=[
            {
                "d-none": !component.isActiveContext(context.instanceId),
            },
        ]>
        <if(state.reloadContextInstanceId !== context.instanceId)>
            <${context.template}
                ...context.data
                contextInstanceId=context.instanceId/>
        </if>
    </div>
</for>
