<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<if(!state.loading)>
    <widget instanceId="edit-sysconfig-dialog">
        <@content>
            <main-form/>
            <div.dialog-control>
                <div.dialog-button-container>
                    <button.cancel-button
                        type="button"
                        on-click("cancel")
                        title=state.translations["Translatable#Cancel"]>
                        <span.kix-icon-close/>
                        <translation-string pattern="Translatable#Cancel"/>
                    </button>
                    <if(state.reset)>
                        <button.form-blank-cancel-button
                            type="button"
                            on-click("reset")
                            title=state.translations[
                                "Translatable#Reset to Default"
                            ]>
                            <span.kix-icon-arrow-rotate-left/>
                            <translation-string pattern="Translatable#Reset to Default"/>
                        </button>
                    </if>
                    <button.submit-button
                        type="button"
                        on-click("submit")
                        title=state.translations["Translatable#Save"]>
                        <span.kix-icon-check/>
                        <translation-string pattern="Translatable#Save"/>
                    </button>
                </div>
            </div>
        </@content>
    </widget>
</if>
