<label.form-label>
    Ansprechpartner
    <!-- TODO: Komponente, welche die Eingabe und Ermittlung von Ansprechpartnern behandelt -->
    <input type="text" tabindex="1" placeholder="Ansprechpartner"/>
</label>
