<div.widget-container>
    <for|kixWidget| of=state.widgets>
        <div.widget-frame class={
            large: component.isLarge(kixWidget),
            small: !component.isLarge(kixWidget)
        }>
            <${component.getTemplate(kixWidget)} ...{
                instanceId: kixWidget.instanceId,
                contextType: "MAIN"
            }/>
        </div>
    </for>
</div>
