.configItem-information-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1.25em);
    div {
        .key-value-pair {
            grid-template-columns: 40% 1em minmax(3em, auto);
            line-height: 1.5em;
            .key {
                font-weight: bold;
            }
            .value {
                white-space: nowrap;
            }
            &::after {
                clear: none;
            }
            &::before,
            &::after {
                display: none;
            }
        }
    }
    @media only screen and (max-width: 1439px) {
        grid-template-rows: repeat(6, 1.25em);
    }
    @media only screen and (min-width: 1921px) {
        grid-template-rows: repeat(2, 1.25em);
    }
}