<if(state.organisation)>
    <for|property| of=state.properties>
        <customer-label object=state.organisation property=property labelProvider=state.labelProvider/>
    </for>
</if>
<else-if(state.error)>
    <span.error>${state.error}</span>
</else-if>
<else>
    <span>
        <translation-string pattern="Translatable#No organisation available"/>
    </span>
</else>
