.form-search-value {
    display: grid;
    grid-template-columns: 4rem 15rem 15rem minmax(10rem, auto) max-content;
    align-items: center;
    grid-column-gap: @search-criteria-gap;
    margin-bottom: @margin-small;
    .search-value {
        >input[type="time"],
        >input[type="date"] {
            width: 50%;
        }
    }
    >.remove-value {
        cursor: pointer;
    }
}