<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.displayText)>
    <div class="object-avatar-label">
        <div class="object-avatar-icon">
            <icon icon=state.icon/>
        </div>
        <div
            style=input.descriptionStyle
            title=state.description
            class="object-avatar-description"
        >
            <span class="object-avatar-description-text">
                ${state.description}
            </span>
            <if(state.overlay)>
                <overlay-icon
                    title=(state.overlay.Title)
                    icon=(state.overlay.Icon)
                    content=(state.overlay.Content)
                    isHint=(state.overlay.IsHint)
                    isCustom=(state.overlay.IsCustom)
                    data={
                        object: state.overlay.Data,
                        properties: state.overlay.Data.Properties,
                    }
                />
            </if>
        </div>
        <div
            style=input.textStyle
            title=state.displayText
            class="object-avatar-text"
            dir=(state.rtl ? "rtl" : "ltr")
        >
            ${state.displayText}
        </div>
    </div>
</if>
