<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.displayText)>
    <div.user-avatar-label>
        <div.user-avatar-icon>
            <icon icon=state.icon/>
        </div>
        <div.user-avatar-description style=input.descriptionStyle title=state.description>${state.description}</div>
        <div.user-avatar-text style=input.textStyle title=state.displayText>${state.displayText}</div>
    </div>
</if>
