.cell-value-changed {
    background-color: #F9F293;
}

.cell-value-deleted {
    background-color: #F9D2D3;
}

.cell-value-new {
    background-color: #CBEADA;
}

.cell-value-not-existing {
    background-color: @secondary-3;
}

.cell-value-highlight_error {
    color: red;
    font-weight: bold;
}

.cell-value-highlight_success {
    color: green;
    font-weight: bold;
}