.cell-value-changed {
    background-color: @tableCell-changed;
}

.cell-value-deleted {
    background-color: @tableCell-deleted;
}

.cell-value-new {
    background-color: @tableCell-new;
}

.cell-value-not-existing {
    background-color: @secondary-3;
}

.cell-value-highlight_error {
    color: @tertiary-0;
    font-weight: bold;
}

.cell-value-highlight_removed {
    color: @tertiary-0;
    font-weight: bold;
    text-decoration: line-through;
}

.cell-value-highlight_unavailable {
    color: @secondary-2;
}

.cell-value-highlight_success {
    color: @tertiary-5;
    font-weight: bold;
}