<p>
    <span>Available Menu Entries:</span>
    <select>
        <option/>
    </select>
</p>
<p>
    <span>Primary Menu Entries:</span>
    <select>
        <option/>
    </select>
</p>
<p>
    <span>Secondary Menu Entries:</span>
    <select>
        <option/>
    </select>
</p>
