<widget instanceId=state.instanceId title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@icon>
        <if(state.widgetConfiguration)>
            <span class=(state.widgetConfiguration.icon ? state.widgetConfiguration.icon : "")/>
        </if>
    </@icon>
    <@content>
        <h1>FAQ Article Information</h1>
    </@content>
</widget>
