<if(input.short)>
    <span.kix-icon-edit on-click("doAction") title="Bearbeiten"/>
</if>
<else>
    <div.action on-click('doAction') title="Bearbeiten">
        <span.kix-icon-edit/>
        <span>Bearbeiten</span>
    </div>
</else>
