<if(state.isActive)>
    <icon icon="kix-icon-open-right"/>
    <span on-click("goToClicked") style="cursor: pointer">
        <translation-string pattern="Translatable#to Version"/>
    </span>
</if>
