.configitem-history-content {
    .history-filter {
        margin-bottom: @margin-small;
        .header {
            font-weight: bold;
            display: inline-block;
            margin-right: 2rem;
        }
        input[type=text] {
            border: 1px solid @secondary-2;
        }
        span[class^="kix-icon-"],
        span[class*=" kix-icon-"] {
            color: @secondary-0;
            font-size: 1.25rem;
            cursor: pointer;
        }
    }
}