<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.search-dashboard>
    <search-criteria-widget key=state.componentKey/>
    <div.search-result-widget>
        <if(state.prepared)>
            <table-widget
                key="search-result-table-" + state.objectType
                instanceId=state.instanceId
                useContext=false
                widgetConfiguration=state.configuration
                title=state.title
                icon=state.icon
            />
        </if>
    </div>
</div>
