<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
   instanceId=state.instanceId
   title=state.widgetTitle
   contentActions=state.actions
>
   <@content>
      <div.communication-container>
         <div.communication-header>
            <message-filter/>
            <div.read-action class={active:state.activeUnreadAction} on-click("readAll")>
               <span.fas.fa-book-open/>
               <translation-string pattern="Translatable#Mark all as read"/>
            </div>
         </div>
         <div.communication-list>
            <if(state.articles)>
               <for|article| of=state.articles>
                  <message-content
                     article=article
                     articleCountNumber=article.countNumber
                     key="article-" + article.ArticleID
                  />
               </for>
            </if>
            <a href="#pageTop" class="top" title=state.translations["Translatable#Go to top"]>
               <i.fa.fa-arrow-up.move-up />
            </a>
         </div>
      </div>
   </@content>
</widget>
