<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=state.widgetTitle
    contentActions=state.actions
>
    <@content>
        <div class="communication-container" id="communication-top">
            <div class="communication-header d-flex flex-row flex-wrap justify-content-between align-items-center px-2 py-2">
                <message-filter key="article-filter"/>
                <div class="icons-wrapper">
                    <i
                        title=(state.translations["Translatable#Read all"])
                        class=[
                            "fas fa-check-double",
                            {
                                active: state.activeUnreadAction,
                            },
                        ]
                        on-click("readAll")
                    />
                    <i
                        title=(state.translations["Translatable#Collapse all"])
                        on-click("collapseAll")
                        class="fas fa-angle-double-up"
                    />
                    <i
                        title=(state.translations["Translatable#Preview List"])
                        class=[
                            "fas fa-comment",
                            {
                                selected: !state.selectedCompactView,
                            },
                        ]
                        on-click("selectNormalDisplay")
                    />
                    <i
                        title=(state.translations["Translatable#Compact View"])
                        class=[
                            "fas fa-list-ul",
                            {
                                selected: state.selectedCompactView,
                            },
                        ]
                        on-click("selectListDisplay")
                    />
                    <i
                        title=(
                            state.translations[
                                "Translatable#Change sort direction"
                            ]
                        )
                        on-click("changeSortDirection")
                        class="fas fa-sort"
                    />
                </div>
            </div>
            <div class="communication-list">
                <for|articleId, index| of=state.articleIds>
                    <message-content
                        articleId=articleId
                        key="article-" + articleId
                        articleCountNumber=component.getArticleCountNumber(
                            articleId,
                        )
                        selectedCompactView=state.selectedCompactView
                        articleIndex=index
                    />
                </for>
                <a
                    title=(state.translations["Translatable#Go to top"])
                    on-click("scrollToTop")
                    class="top"
                >
                    <i class="fa fa-arrow-up move-up"/>
                </a>
            </div>
        </div>
    </@content>
</widget>
