<widget instanceId=state.instanceId title=state.title actions=state.actions icon="kix-icon-gears">
    <@headerFilter>
        <filter filterCount=state.filterCount predefinedFilter=state.predefinedTableFilter
            predefinedFilterPlaceholder="Alle Typen" on-filter('filter')/>
    </@headerFilter>
    <@content>
        <if(state.table)>
            <standard-table standardTable=state.table key="ticket-list-table"/>
        </if>
    </@content>
</widget>
