.back {
    height: 1em;
    margin-bottom: 1em;
    > div {
        .color-theme-9;
        padding: 0 .5em;
        box-shadow: @shadow;
        border-radius: 3px;
        display: inline-block;
        min-width: 120px;
        box-sizing: border-box;
        height: 1em;
        overflow: hidden;
        & span {
            font-size: .75em;
            vertical-align: middle;
            margin-right: .25em;
        }
    }
}