@search-criteria-gap: .5rem;
@search-dialog-padding-right: (@default-button-icon-width + @search-criteria-gap);
.search-form {
    margin-left: 1.25rem;
    >div {
        position: relative;
        &:not(:last-of-type) {
            margin-bottom: @margin-default;
        }
        .form-shield {
            position: absolute;
            top: -1rem;
            left: -1rem;
            right: -1rem;
            bottom: -1rem;
            background-color: @secondary-7;
            opacity: 0.25;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid #5b5b5b;
        }
    }
    >.fulltext-search {
        display: grid;
        grid-template-columns: 4rem auto;
        grid-gap: 0.5rem;
        align-items: center;
    }
    >.or-delimiter {
        font-size: 1.5rem;
        text-align: center;
    }
    >.dialog-button-container {
        margin-left: 0;
    }
}