<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.kix-toolbar>
    <div.toolbar-group>
        <personal-bookmarks/>
        <if(state.showTicketActions)>
            <div
                title=(state.translations["Translatable#Personal Kanban Board"])
                on-click("showKanban")
            >
                <div.action-icon><icon icon="kix-icon-kanban"/></div>
                <div.action-text>
                    <if(state.isMobile)>
                        ${state.translations[
                            "Translatable#Personal Kanban Board"
                        ] +
                        " (" +
                        state.ownedTicketsCount +
                        ")"}
                    </if>
                    <else>${state.ownedTicketsCount}</else>
                </div>
            </div>
            <div
                title=(
                    state.translations["Translatable#Personal Ticket Calendar"]
                )
                on-click("showCalendar")
            >
                <div.action-icon><icon icon="kix-icon-calendar"/></div>
                <div.action-text>
                    <if(state.isMobile)>
                        ${state.translations[
                            "Translatable#Personal Ticket Calendar"
                        ] +
                        " (" +
                        state.ownedTicketsCount +
                        ")"}
                    </if>
                    <else>${state.ownedTicketsCount}</else>
                </div>
            </div>
        </if>
    </div>
    <if(state.toolbarGroups.length && state.showTicketActions)>
        <for|group| of=state.toolbarGroups>
            <div.toolbar-group>
                <for|action| of=group>
                    <div title=action.title on-click("actionClicked", action)>
                        <div.action-icon>
                            <icon icon=action.icon showUnknown/>
                        </div>
                        <if(action.infoIcon)>
                            <span.kix-icon-i-orange.new-icon>
                                <span.path1/>
                                <span.path2/>
                            </span>
                        </if>
                        <div.action-text>
                            <if(state.isMobile)>
                                ${action.title + " (" + action.count + ")"}
                            </if>
                            <else>${action.count}</else>
                        </div>
                    </div>
                </for>
            </div>
        </for>
    </if>

    <div.toolbar-group><personal-notifications/></div>
</div>
