<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.show)>
    <div.kix-toolbar>
        <div.toolbar-group>
            <personal-bookmarks/>
            <div
                title=(state.translations["Translatable#Personal Kanban Board"])
                on-click("showKanban")
            >
                <div.action-icon><icon icon="kix-icon-kanban"/></div>
                <div.action-text>
                    <if(state.isMobile)>
                        ${state.translations[
                            "Translatable#Personal Kanban Board"
                        ] +
                        " (" +
                        state.ownedTicketsCount +
                        ")"}
                    </if>
                    <else>${state.ownedTicketsCount}</else>
                </div>
            </div>
            <div
                title=(
                    state.translations["Translatable#Personal Ticket Calendar"]
                )
                on-click("showCalendar")
            >
                <div.action-icon><icon icon="kix-icon-calendar"/></div>
                <div.action-text>
                    <if(state.isMobile)>
                        ${state.translations[
                            "Translatable#Personal Ticket Calendar"
                        ] +
                        " (" +
                        state.ownedTicketsCount +
                        ")"}
                    </if>
                    <else>${state.ownedTicketsCount}</else>
                </div>
            </div>
        </div>
        <if(state.toolbarGroups.length)>
            <for|group| of=state.toolbarGroups>
                <div.toolbar-group>
                    <for|action| of=group>
                        <div
                            title=action.title
                            on-click("actionClicked", action)
                        >
                            <div.action-icon>
                                <icon icon=action.icon showUnknown/>
                            </div>
                            <if(action.infoIcon)>
                                <span.kix-icon-i-orange.new-icon>
                                    <span.path1/>
                                    <span.path2/>
                                </span>
                            </if>
                            <div.action-text>
                                <if(state.isMobile)>
                                    ${action.title + " (" + action.count + ")"}
                                </if>
                                <else>${action.count}</else>
                            </div>
                        </div>
                    </for>
                </div>
            </for>
        </if>
        <div.toolbar-group><personal-notifications/></div>
    </div>
</if>
