.value-list {
    z-index: 15;
    .button-bar {
        margin: @margin-small;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: right;
        align-items: center;
    }
}