<div#kix_sidebars>
  <div.sidebar_select_container>
    <div#content_settings.sidebar_select>
      <div>*</div>
    </div>
    <div#information.sidebar_select>
      <div>i</div>
    </div>
  </div>
  <!-- <div.sidebar_container> // TODO: just as placeholder
    <div.kix_sidebar>
      <div.sidebar_header>Notizen</div>
      <div.sidebar_content>Test</div>
    </div>
  </div> -->
  <div.clear/>
</div>
