.dashboard {
    padding: 5px;
    .widget .widget-header {
      .header-left {
        margin-right: 10em;
      }
      input + [class^="kix-icon-"],
      input + [class*=" kix-icon-"] {
          margin-left: .5em;
      }
    }
}