.dashboard {
    padding: 0;
    .size1of1 {
        .widget .widget-header {
            .header-left {
                h3 {
                    margin-right: 10em;
                }
            }
            input+[class^="kix-icon-"],
            input+[class*=" kix-icon-"] {
                margin-left: .5em;
            }
        }
    }
}