<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.object-dialog>
    <widget-container widgets=state.widgets/>
    <div.dialog-control>
        <dialog-notifiactions/>
        <div.dialog-button-container>
            <button.kix-button.cancel-button
                disabled=state.processing
                type="button"
                on-click("cancel")
                title=state.translations["Translatable#Cancel"]>
                <span.kix-icon-close/>
                <span>${state.translations["Translatable#Cancel"]}</span>
            </button>
            <button.kix-button.submit-button
                disabled=state.processing
                type="button"
                on-click("submit")
                title=state.submitButtonText>
                <span.kix-icon-check/>
                <span>${state.submitButtonText}</span>
            </button>
        </div>
    </div>
</div>
