<if(!state.loading)>
    <widget instanceId="new-customer-dialog">
        <@icon>
            <span.kix-icon-man/>
        </@icon>
        <@content>
            <h1>Neuer Kunde</h1>
        </@content>
    </widget>
</if>
<else>
    <loading-spinner/>
</else>
