<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.prepared && state.label)>
    <span.label-item-container class=state.label.classes title=state.label.tooltip on-click("labelClicked")>
        <div.label-item class={
            toggled: state.toggled
        }>
            <if(state.label.icon || state.label.showUnknownIcon)>
                <icon icon=state.label.icon showUnknown=state.label.showUnknownIcon/>
            </if>
            <if(state.label.text)>
                <if(input.translatable)>
                    <span.label-text>
                        <translation-string pattern=state.label.text/>
                    </span>
                    <if(state.label.additionalText)>
                        <span>
                            <translation-string pattern=state.label.additionalText/>
                        </span>
                    </if>
                </if>
                <else>
                    <span.label-text>${state.label.text}</span>
                    <if(state.label.additionalText)>
                        <span>${state.label.additionalText}</span>
                    </if>
                </else>
            </if>
            <if(state.label.infoOverlay)>
                <overlay-icon
                    title=state.label.infoOverlay.title
                    content=state.label.infoOverlay.content
                    instanceId=state.label.infoOverlay.instanceId
                    data=state.label.infoOverlay.data
                    large=state.label.infoOverlay.large/>
            </if>
            <if(state.label.additionalIcons)>
                <for|icon| of=state.label.additionalIcons>
                    <icon icon=icon/>
                </for>
            </if>
            <if(input.removeLabels)>
                <span.kix-icon-close.label-item-remove on-click("removeLabel")/>
            </if>
        </div>
    </span>
</if>
