<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.prepared && state.label)>
    <span
        class=["label-item-container", state.label.classes]
        title=(state.label.tooltip)
        on-click("labelClicked")>
        <div class=[
            "label-item",
            {
                toggled: state.toggled,
            },
        ]>
            <if(state.label.icon || state.label.showUnknownIcon)>
                <icon
                    icon=(state.label.icon)
                    showUnknown=(state.label.showUnknownIcon)/>
            </if>
            <if(state.label.text)>
                <if(input.translatable)>
                    <span class="label-text">
                        <translation-string pattern=(state.label.text)/>
                    </span>
                    <if(state.label.additionalText)>
                        <span>
                            <translation-string pattern=(
                                state.label.additionalText
                            )/>
                        </span>
                    </if>
                </if>
                <else>
                    <span id=state.labelId class="label-text">
                        <if(input.nonWrappedLabel)>
                            ${state.label.text}
                        </if>
                    </span>
                    <if(state.label.additionalText)>
                        <span>${state.label.additionalText}</span>
                    </if>
                </else>
            </if>
            <if(state.label.infoOverlay)>
                <overlay-icon
                    title=(state.label.infoOverlay.title)
                    content=(state.label.infoOverlay.content)
                    instanceId=(state.label.infoOverlay.instanceId)
                    data=(state.label.infoOverlay.data)
                    large=(state.label.infoOverlay.large)/>
            </if>
            <if(state.label.additionalIcons)>
                <for|icon| of=(state.label.additionalIcons)>
                    <icon icon=icon/>
                </for>
            </if>
            <if(input.removeLabels)>
                <span
                    on-click("removeLabel")
                    class="kix-icon-close label-item-remove"/>
            </if>
        </div>
    </span>
</if>
