<key-value-pair showKey=input.hasLabel>
    <@key>${state.label}</@key>
    <@value>
        <if(input.hasText)>
            <span.text title=state.displayValue class=(state.isPendingReached ? "pending-reached" : "")>
                ${state.displayValue}
            </span>
        </if>
    </@value>
</key-value-pair>
