<key-value-pair showKey=input.showLabel>
    <@key>${state.label}</@key>
    <@value>
        <span.text class=(state.isPendingReached ? "pending-reached" : "")>${state.displayValue}</span>
    </@value>
</key-value-pair>
