<form-list nodes=state.nodes placeholder=(state.field.required ? state.field.label : "")
    selectedNodes=[state.currentNode] on-nodesChanged('ownerChanged') invalid=state.invalid
    readonly=state.field.readonly/>
