<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.field)>
    <div.mapping-entry>
        <div>
            <span>${state.assetLabel}:</span>
            <input.input-style
                class={
                                invalid: state.invalid
                            }
                value=state.currentAssetValue
                type="text"
                required=true
                on-blur("focusLost")
                on-input("assetValueChanged")/>
        </div>
        <div>
            <span>${state.dfLabel}:</span>
            <input.input-style
                class={
                                invalid: state.invalid
                            }
                value=state.currentDfValue
                type="text"
                required=true
                on-blur("focusLost")
                on-input("dfValueChanged")/>
        </div>
    </div>
</if>
