<widget instanceId=state.instanceId configurationTagId="ticket-list-configuration">
    <@icon>
        <span.kix-icon-minus/>
    </@icon>
    <@title>
        <if(state.widgetConfiguration)>${state.widgetConfiguration.title}</if>
    </@title>
    <@content>
        <if(state.standardTable)>
            <standard-table standardTable=state.standardTable/>
        </if>
    </@content>
    <@filter>
        <filter on-filter('filter')/>
    </@filter>
</widget>
