.description-container {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    .widget-content {
        display: grid;
        grid-template-columns: auto 25%;
        .description-attachments {
            min-width: 250px;
            padding: 0 1em;
            box-sizing: border-box;
            ul {
                padding-left: 1em;
                list-style-type: none;
                li {
                    height: 1.5em;
                    line-height: 1.5em;
                    vertical-align: middle;
                    .attachment-link {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                img {
                    margin-right: 5px;
                }
            }
        }
    }
}