<div.file-entry>
    <span.file-entry-icon>
        <icon icon=input.icon showUnknown=true/>
    </span>
    <span.file-entry-link on-click('onClick')>${input.fileName}</span>
    <span.file-size>(${input.fileSize})</span>
</div>
