.file-entry {
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1.5em auto auto;
    .file-entry-link {
        color: @primary-0;
        cursor: pointer;
        white-space: nowrap;
    }
    .file-size {
        white-space: nowrap;
    }
}