.drag-widget {
    position: relative;
    box-sizing: border-box;
    [draggable] {
        user-select: none;
    }
    &.config-mode:not(.config-dialog-shown) {
        z-index: 100;
    }
    .drag-element {
        opacity: 0.7;
    }
    .drop-element {
        background-color: @tertiary-5;
    }
}