<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<widget instanceId=state.instanceId>
    <@content>
        <div.import-container>
            <if(state.importManager)>
                <if(state.prepared)>
                    <main-form/>
                </if>
                <div.form.import-attributes-container>
                    <widget
                        instanceId="dynamic-form-field-group"
                        title=state.translations["Translatable#Replace Values"]
                        key="attributes">
                        <@content>
                            <div.import-attributes>
                                <dynamic-form-field-container manager=state.importManager/>
                            </div>
                        </@content>
                    </widget>
                </div>
                <if(state.table)>
                    <div.object-table>
                        <div.object-table-head>
                            <span>${state.tableTitle}</span>
                        </div>
                        <standard-table-NEW table=state.table/>
                    </div>
                </if>
            </if>
        </div>
    </@content>
</widget>
<div.dialog-control>
    <div.dialog-button-container>
        <button.cancel-button
            type="button"
            on-click("cancel")
            title=state.translations["Translatable#Cancel"]>
            <span.kix-icon-close/>
            <translation-string pattern="Translatable#Cancel"/>
        </button>
        <button.submit-button
            type="button"
            on-click("submit")
            title=state.translations["Translatable#Close Dialog"]
            disabled=!state.run>
            <span.kix-icon-check/>
            <translation-string pattern="Translatable#Close Dialog"/>
        </button>
        <button.submit-button
            type="button"
            on-click("run")
            title=state.translations["Translatable#Start Import"]
            disabled=!state.canRun>
            <span.kix-icon-import/>
            <translation-string pattern="Translatable#Start Import"/>
        </button>
    </div>
</div>
