<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    contextInstanceId=input.contextInstanceId
    instanceId=state.instanceId
    title=state.title>
    <@content>
        <div class="import-container">
            <if(state.importManager)>
                <if(state.prepared)>
                    <main-form/>
                </if>
                <div class="form import-attributes-container">
                    <widget
                        contextInstanceId=input.contextInstanceId
                        instanceId="dynamic-form-field-group"
                        title=(
                            state.translations["Translatable#Replace Values"]
                        )
                        key="attributes">
                        <@content>
                            <div class="import-attributes">
                                <dynamic-form-field-container
                                    manager=state.importManager
                                    invalid=state.invalid/>
                            </div>
                        </@content>
                    </widget>
                </div>
                <if(state.table)>
                    <div class="object-table">
                        <div class="object-table-head">
                            <span>${state.tableTitle}</span>
                        </div>
                        <kix-table table=state.table/>
                    </div>
                </if>
            </if>
        </div>
    </@content>
</widget>
<div class="dialog-control">
    <div class="dialog-button-container">
        <button
            type="button"
            on-click("cancel")
            title=(state.translations["Translatable#Cancel"])
            class="kix-button cancel-button">
            <span class="kix-icon-close"/>
            <translation-string pattern="Translatable#Cancel"/>
        </button>
        <button
            type="button"
            on-click("run")
            title=(state.translations["Translatable#Start Import"])
            disabled=!state.canRun
            class="kix-button submit-button">
            <span class="kix-icon-import"/>
            <translation-string pattern="Translatable#Start Import"/>
        </button>
    </div>
</div>
