<form-list nodes=state.nodes placeholder=(state.field.required ? "Config Item Klasse" : "")
    on-nodesChanged('configItemChanged') selectedNodes=[state.currentNode] invalid=state.invalid autocomplete=false/>
