.wrapper>footer {
    margin: @margin-default 0 @margin-default 0;
    nav {
        text-align: center;
        li {
            .font-size-small();
            display: inline-block;
            &:after {
                content: "|";
                margin: 0 .5em;
            }
            &:last-of-type:after {
                content: "";
            }
        }
    }
}