<div.label-list>
    <for(label in state.labels)>
        <span.label-list-container title=label.tooltip>
            <div.label-item>
                <icon icon=label.icon showUnknown=true/>
                <span.label-text>${label.text}</span>
                <span>${label.additionalText}</span>
                <if(state.removeLabels)>
                    <span.kix-icon-close on-click('removeLabel', label)/>
                </if>
            </div>
        </span>
    </for>
</div>
