.label-list {
    .font-size-normal();
    box-sizing: border-box;
    border: 1px solid @secondary-3;
    border-radius: @border-radius;
    padding: .25rem;
    background-color: @secondary-6;
    min-height: @default-input-height;
    color: @default-dark-font-color;
    margin: @margin-small @default-button-icon-width 0;
    overflow: hidden;
}