<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.field && state.prepared)>
    <span.date-time-input>
        <if(state.inputType === "DATE" || state.inputType === "DATE_TIME")>
            <input.input-style
                key=("date-" + state.inputId)
                class={
                    invalid: state.invalid
                }
                value=state.dateValue
                type="date"
                placeholder=state.placeholder
                required=true
                readonly=state.field.readonly
                disabled=state.field.readonly
                min=state.minDate
                max=state.maxDate
                on-change("dateChanged")
                on-blur("focusLost")/>
        </if>
        <if(state.inputType === "DATE_TIME" || state.inputType === "TIME")>
            <input.input-style
                key=("time-" + state.inputId)
                class={
                    invalid: state.invalid
                }
                value=state.timeValue
                type="time"
                placeholder=state.placeholder
                required=true
                readonly=state.field.readonly
                disabled=state.field.readonly
                on-change("timeChanged")
                on-blur("focusLost")/>
        </if>
    </span>
</if>
