<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<widget
    instanceId=state.instanceId
    title=state.title
    icon="kix-icon-gears"
    minimizable=false
>
    <@content>
        <if(state.prepared)>
            <div.users-container>
                <div.users-search>
                    <input.input-style
                        type="text"
                        on-keyup("keyUp")
                        value=state.filterValue
                        placeholder=state.placeholder
                    >
                    <button.kix-button.button.button-without-text
                        type="button"
                        title=(state.translations["Translatable#Help"])
                        on-click("showCommandHelp", false)
                    >
                        <overlay-icon
                            isHint
                            content="Translatable#Helptext_Admin_UsersSearch"
                            title=(state.translations["Translatable#User"])
                        />
                    </button>
                    <button.kix-button.submit-button
                        type="button"
                        on-click("search")
                    >
                        <span.kix-icon-search/>
                        <translation-string pattern="Translatable#Search"/>
                    </button>
                </div>
                <kix-table table=state.table/>
            </div>
        </if>
    </@content>
</widget>
