<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.match-input-container>
    <input title=state.negateTitle type="checkbox" checked=state.negate on-click("checkboxClicked")/>
    <input.input-style type="text" value=state.value title=state.valueTitle maxlength=250 on-input("valueChanged")/>
</div>
