<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<div.action on-click("doAction") title=state.text>
    <if(state.action.hasLink)>
        <a
            href=("?actionId=" + state.action.id + "&data=" + state.actionData)
            on-click("linkClicked")>
            <icon icon=state.action.icon/>
        </a>
    </if>
    <if(state.displayText && state.action.hasLink)>
        <a
            href=("?actionId=" + state.action.id + "&data=" + state.actionData)
            on-click("linkClicked")>
            <span.text>${state.text}</span>
        </a>
    </if>
</div>
