<label.form-label>
  An Queue
  <select on-change("valueChanged")>
    <for(queue in state.queues)>
      <option key=queue.QueueID value=queue.QueueID selected=(state.queueId === queue.QueueID)>${queue.Name}</option>
    </for>
  </select>
</label>
