<widget instanceId="form-group" title="Suchattribute">
    <@content>
        <form-search-value formId=input.formId objectType=input.objectType/>
        <button.cancel-button type="button" on-click("cancel") title="Zurücksetzen">
            <span.kix-icon-close/>
            Zurücksetzen
        </button>
        <button.submit-button type="button" on-click("submit") title="Suchen">
            <span.kix-icon-search/>
            Suchen
        </button>
    </@content>
</widget>
