<if(state.showSidebar)>
    <div.sidebar-area>
        <for(sidebar in state.sidebars)>
            <div.sidebar key=("sidebar" + Math.random())>
                <include(component.getSidebarTemplate(sidebar.instanceId), { instanceId: sidebar.instanceId, minimizable: false })/>
            </div>
        </for>
    </div>
</if>
