.tools-col {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    .widget-bar {
        margin-top: @margin-large;
    }
    .bar-icon {
        background: @secondary-0;
        color: @secondary-3;
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        text-align: center;
        margin-bottom: 2px;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        box-shadow: @shadow;
        font-size: 1.5em;
        &.select-active {
            background: @secondary-3;
            color: @secondary-0;
        }
        &>span {
            .vertical-align;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.sidebar {
    float: right;
    height: 100%;
    width: @sidebar-width;
    margin-top: @margin-large - @margin-default + @margin-small;
    >div {
        box-sizing: border-box;
        margin-bottom: @margin-default;
        &:last-of-type {
            margin-bottom: 0;
        }
        .widget-header {
            background: @primary-2;
            color: @default-light-font-color;
        }
        .widget-content {
            min-height: 160px;
            padding: .5em;
        }
    }
}

.sidebar {
    >div {
        &.config-mode:not(.config-dialog-shown) {
            z-index: 100;
            position: relative;
        }
        .widget-overlay {
            cursor: ns-resize;
        }
        .drag-element {
            opacity: 0.7;
        }
        .drop-element {
            background-color: @tertiary-5;
        }
    }
}