<!--
Copyright (C) 2006-2019 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<if(state.configItem)>
    <div.ci-label-container>
        <object-property-label object=state.configItem property="Name" labelProvider=component.labelProvider/>
        <object-property-label object=state.configItem property="Number" labelProvider=component.labelProvider/>
        <object-property-label object=state.configItem property="CurDeplStateID" labelProvider=component.labelProvider/>
        <object-property-label
            object=state.configItem
            property="CurInciStateID"
            labelProvider=component.labelProvider
            showIcon=true/>
    </div>
</if>
<else>
    <span.error>Kein Config Item verfügbar.</span>
</else>
