<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions
>
    <@content>
        <div.ticket-history-content>
            <div.history-filter>
                <filter filterCount=state.filterCount on-filter("filter")/>
            </div>
            <div.history-container><kix-table table=state.table/></div>
        </div>
    </@content>
</widget>
