<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.table-container
    style="height:" + state.tableHeight
    key=(
        state.table ? state.table.getTableId() + "table-container" : "no-table"
    )
    on-scroll("onScroll")
>
    <if(state.table)>
        <table.kix-table>
            <thead><table-head-row table=state.table/></thead>
            <table-body
                table=state.table
                key=state.table.getTableId() + "table-body"
            />
        </table>
    </if>
</div>
