<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div
    style="height:" + state.tableHeight
    key=(
        state.table ? state.table.getTableId() + "table-container" : "no-table"
    )
    on-scroll("onScroll")
    class="table-container"
>
    <if(state.table)>
        <table class="kix-table">
            <thead>
                <table-head-row table=input.table/>
            </thead>
            <table-body
                table=input.table
                key=input.table.getTableId() + "table-body"
            />
            <if(state.showLoadingShield)>
                <div class="table-shield">
                    <loading-spinner/>
                </div>
            </if>
        </table>
    </if>
</div>
