// TODO: @uboehm: CSS aus "dynamic fields lane" für gruppen
.ticket-details .widget .lane-list .lane .widget .linked-objects-container {
    position: relative;
    overflow: auto;
    padding: .5em .5em .5em 1.5em;
    box-sizing: border-box;
    .widget {
        &.minimized .widget-header {
            margin-left: 0;
        }
        .widget-header {
            background-color: #ffffff;
            color: #000000;
        }
        .widget-content {
            border: 0 none;
            padding: 0;
            min-height: auto; // TODO: @uboehm: CSS aus "history lane" für tabelle
            .linked-object-table-container {
                overflow: auto;
                padding: 0 1.5em;
                .standard-table-wrapper .standard-table {
                    height: 100%;
                }
            }
        }
        &.minimized {
            margin-top: 0;
            margin-bottom: 0;
            .widget-header {
                border-bottom: 1px solid lightgray;
            }
        }
    }
}