.widget-content {
    .linked-objects-container {
        position: relative;
        overflow: auto;
        padding: @margin-small @margin-small @margin-small 1.5em;
        box-sizing: border-box;
        .widget-content {
            .linked-object-table-container {
                overflow: auto;
                .standard-table-wrapper .standard-table {
                    height: 100%;
                }
            }
        }
    }
}