<label.form-label>
    Priorität
    <if(!state.loading)>
        <select on-change("valueChanged")>
            <for(ticketPriority in state.ticketPriorities)>
                <option key=ticketPriority.ID value=ticketPriority.ID selected=(state.priorityId === ticketPriority.ID)>
                    ${ticketPriority.Name}
                </option>
            </for>
        </select>
    </if>
</label>
