<ul.tree-list id=state.treeId key="tree-list" style=state.TreeStyle>
    <for(node in state.tree)>
        <if(node.visible)>
            <tree-node treeId=state.treeId node=node activeNode=state.activeNode filterValue=state.filterValue
                treeParent=state.treeParent on-nodeToggled('nodeToggled') on-nodeClicked('nodeClicked')
                on-nodeHovered('nodeHovered')/>
        </if>
    </for>
</ul>
