<if(!state.loading)>
    <widget instanceId="new-faq-article-dialog">
        <@content>
            <h1>New FAQ Article Dialog</h1>
        </@content>
    </widget>
</if>
<else>
    <loading-spinner/>
</else>
