<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.error)>
    <span class="error">
        ${state.error}
    </span>
</if>
<else>
    <div key=state.instanceId class="details-container">
        <widget
            instanceId=state.instanceId
            minimizable
            title=state.title
            contentActions=state.actions>
            <@content>
                <ul class="lane-list">
                    <for|lane| of=state.lanes>
                        <li key=lane[0] class="lane">
                            <${lane[1]} ...{
                                contextType: "MAIN",
                                instanceId: lane[0],
                                type: component.getLaneWidgetType(),
                            }/>
                        </li>
                    </for>
                </ul>
            </@content>
        </widget>
        <div
            key=state.instanceId + "-object-details-content"
            class="object-details-content-widget">
            <for|contentWidget| of=state.contentWidgets>
                <${contentWidget[1]} ...{
                    contextType: "MAIN",
                    instanceId: contentWidget[0],
                }/>
            </for>
        </div>
    </div>
</else>
