<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.error)>
    <span.error>${state.error}</span>
</if>
<else>
    <div.details-container>
        <widget
            instanceId=state.instanceId
            minimizable=true
            title=state.title
            contentActions=state.actions>
            <@content>
                <ul.lane-list>
                    <for|lane| of=state.lanes>
                        <li.lane key=lane[0]>
                            <${lane[1]} ...{
                                contextType: "MAIN",
                                instanceId: lane[0],
                                type: component.getLaneWidgetType()
                            }/>
                        </li>
                    </for>
                </ul>
            </@content>
        </widget>
        <div.object-details-content-widget key="object-details-content">
            <for|contentWidget| of=state.contentWidgets>
                <${contentWidget[1]} ...{
                    contextType: "MAIN",
                    instanceId: contentWidget[0]
                }/>
            </for>
        </div>
    </div>
</else>
