<widget instanceId=state.instanceId title=state.title actions=state.actions icon="kix-icon-gears">
    <@headerFilter>
        <filter
            filterCount=state.filterCount
            predefinedFilter=state.predefinedTableFilter
            predefinedFilterPlaceholder="Translatable#All Priorities"
            on-filter("filter")/>
    </@headerFilter>
    <@content>
        <if(state.table)>
            <standard-table-NEW table=state.table/>
        </if>
    </@content>
</widget>
