<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.ticket && state.prepared)>
    <div class="kix-kanban-item">

        <div class="kanban-item-header">
            <div title=state.title class="kanban-item-title">
                <link-target
                    routingConfiguration=state.routingConfiguration
                    objectId=(state.ticket.TicketID)
                >
                    <@content>${state.title}</@content>
                </link-target>
            </div>
            <div title=state.organisation class="kanban-item-sub-title">
                ${state.organisation}
            </div>
            <div title=state.ticketNumber class="kanban-item-description">
                <icon icon=state.icon/>
                <span>${state.ticketNumber}</span>
            </div>
            <div title=state.contactTooltip class="kanban-item-avatar">
                <if(state.avatar)>
                    <icon icon=state.avatar/>
                </if>
                <else>
                    <div
                        style="background-color:" + state.userColor
                        class="initials"
                    >
                        ${state.initials}
                    </div>
                </else>
            </div>
        </div>
        <if(state.update)>
            <loading-spinner/>
        </if>
        <else>
            <div class="extra-content">
                <if(state.expanded && !state.update)>
                    <div class="kanban-item-details">
                        <for|property| of=state.properties>
                            <object-property-label
                                object=state.ticket
                                property=property
                                labelProvider=state.labelProvider
                            />
                        </for>
                    </div>
                </if>
                <div on-click("expand") class="kanban-item-details-button">
                    Details
                    <if(state.expanded)>
                        <span class="kix-icon-nook-up"/>
                    </if>
                    <else>
                        <span class="kix-icon-nook-down"/>
                    </else>
                </div>
            </div>
        </else>
    </div>
</if>
