<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.ticket && state.prepared)>
    <div.kix-kanban-item>
        <div.kanban-item-header>
            <div.kanban-item-title title=state.title>
                <link-target routingConfiguration=state.routingConfiguration objectId=state.ticket.TicketID>
                    <@content>${state.title}</@content>
                </link-target>
            </div>
            <div.kanban-item-sub-title title=state.organisation>${state.organisation}</div>
            <div.kanban-item-description title=state.ticketNumber>
                <icon icon=state.icon/>
                <span>${state.ticketNumber}</span>
            </div>
            <div.kanban-item-avatar title=state.contactTooltip>
                <if(state.avatar)>
                    <icon icon=state.avatar/>
                </if>
                <else>
                    <div.initials style=("background-color:" + state.userColor)>${state.initials}</div>
                </else>
            </div>
        </div>
        <div.extra-content>
            <if(state.expanded)>
                <div class="kanban-item-details">
                    <for|property| of=state.properties>
                        <object-property-label object=state.ticket property=property labelProvider=state.labelProvider/>
                    </for>
                </div>
            </if>
            <div.kanban-item-details-button on-click("expand")>
                Details
                <if(state.expanded)>
                    <span.kix-icon-nook-up/>
                </if>
                <else>
                    <span.kix-icon-nook-down/>
                </else>
            </div>
        </div>
    </div>
</if>
