<widget instanceId="article-attachment-widget">
    <@icon>
        <span.kix-icon-attachement/>
    </@icon>
    <@title>Anlagen</@title>
    <@content>
        <ticket-article-attachment-list article=input.article/>
    </@content>
</widget>
