<widget instanceId="article-attachment-widget" minimizable=false title="Anlagen" actions=state.actions type=64>
    <@icon>
        <span.kix-icon-attachement/>
    </@icon>
    <@content>
        <ticket-article-attachment-list article=input.article/>
    </@content>
</widget>
