<!--
<form-dropdown-tree nodes=state.nodes placeholder=(state.field.required ? "Bereich / Queue des Tickets zuordnen" : "")
selectedNode=state.currentNode required=state.field.required on-itemChanged('queueChanged') invalid=state.invalid/>
-->
<form-list nodes=state.nodes placeholder=(state.field.required ? "Bereich / Queue des Tickets zuordnen" : "")
    selectedNodes=[state.currentNode] required=state.field.required invalid=state.invalid/>
<form-list nodes=state.nodes placeholder=(state.field.required ? "Bereich / Queue des Tickets zuordnen" : "")
    selectedNodes=[state.currentNode] required=state.field.required invalid=state.invalid multiselect=true/>
