<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.admin-content>
    <if(state.template)>
        <${state.template}/>
    </if>
    <else>
        <div.admin-hint>
            <translation-string pattern="Translatable#This is the administration panel. Please select a module from the explorer."/>
        </div>
    </else>
</div>
