<if(!state.loading)>
    <if(component.column.showIcon && state.icons)>
        <for(icon in state.icons)>
            <icon icon=icon showUnknown=true title=state.displayValue/>
        </for>
    </if>
    <if(component.column.showIcon && state.icons && state.icons.length && component.column.showText)>&nbsp;</if>
    <if(component.column.showText)>
        <span title=state.displayValue>${state.displayValue}</span>
    </if>
</if>
