<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId="system-admin-console" title="Translatable#System: Console">
    <@content>
        <div.console>
            <div.console-command>
                <form-list
                    loadNodes=state.loadNodes
                    placeholder="Translatable#Choose a command"
                    readonly=state.run
                    on-nodesChanged("commandChanged")
                />
                <button.kix-button.button.button-without-text
                    type="button"
                    title=(state.translations["Translatable#Help"])
                    disabled=state.run
                    on-click("showCommandHelp", false)
                >
                    <span.kix-icon-question/>
                </button>
                <input.input-style
                    type="text"
                    value=state.parameter
                    disabled=state.run
                    on-keydown("keydown")
                    onChange("parameterChanged")
                >
                <button.kix-button.submit-button
                    type="button"
                    title=(state.translations["Translatable#Execute"])
                    disabled=!state.canRun || state.run
                    on-click("run")
                >
                    <span.kix-icon-check/>
                    <translation-string pattern="Translatable#Execute"/>
                </button>
            </div>
            <textarea.input-style.console-output readonly>${state.output}</textarea>
        </div>
    </@content>
</widget>
