<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    contextInstanceId=input.contextInstanceId
    instanceId="system-admin-console"
    title="Translatable#System: Console">
    <@content>
        <div class="console">
            <div class="console-command">
                <form-list
                    loadNodes=state.loadNodes
                    placeholder="Translatable#Choose a command"
                    readonly=state.run
                    on-nodesChanged("commandChanged")/>
                <button
                    type="button"
                    title=(state.translations["Translatable#Help"])
                    disabled=state.run
                    on-click("showCommandHelp", false)
                    class="kix-button button button-without-text">
                    <span class="kix-icon-question"/>
                </button>
                <input
                    type="text"
                    value=state.parameter
                    disabled=state.run
                    on-keydown("keydown")
                    onChange("parameterChanged")
                    class="input-style">
                <button
                    type="button"
                    title=(state.translations["Translatable#Execute"])
                    disabled=!state.canRun || state.run
                    on-click("run")
                    class="kix-button submit-button">
                    <span class="kix-icon-check"/>
                    <translation-string pattern="Translatable#Execute"/>
                </button>
            </div>
            <textarea
                readonly
                class="input-style console-output">${state.output}</textarea>
        </div>
    </@content>
</widget>
