<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.item && state.prepared)>
    <div class="input-group mt-3">
        <div class=[
            "input-group-text",
            {
                "col-sm-3":
                    state.item.input === "Text" ||
                    state.item.input === "TextArea",
                "col-sm-9": state.item.input === "ChecklistState",
            },
        ]>
            ${state.item.title}
        </div>
        <if(state.item.input === "Text")>
            <input
                type="text"
                value=(state.item.value)
                readonly=input.readonly
                disabled=input.readonly
                on-change("valueChanged")
                class="form-control"
            >
        </if>
        <else-if(state.item.input === "TextArea")>
            <textarea
                rows=5
                value=(state.item.value)
                readonly=input.readonly
                disabled=input.readonly
                on-change("valueChanged")
                class="form-control"
            >${state.item.value}</textarea>
        </else-if>
        <else>
            <div class=[
                "form-control p-0 border-0",
                {
                    dropdown: !input.readonly,
                },
            ]>
                <div
                    role=!input.readonly && "button"
                    id=`id_${state.dropdownId}`
                    data-bs-toggle=!input.readonly && "dropdown"
                    aria-expanded="false"
                    class="select-input-row"
                >
                    <div class="form-control select-input-container">
                        <ul class="list-group list-group-horizontal">
                            <if(state.selectedNode)>
                                <li class="list-group-item ps-2 pe-2 pt-0 pb-0">
                                    <icon
                                        icon=(state.selectedNode.icon)
                                        withoutStyle
                                        class="me-2"
                                    />
                                     ${state.selectedNode.label}
                                </li>
                            </if>
                        </ul>
                    </div>
                    <if(!input.readonly)>
                        <button
                            type="button"
                            class="btn btn-outline-secondary dropdown-toggle"
                        />
                    </if>
                </div>
                <if(!input.readonly)>
                    <div
                        aria-labelledby=`id_${state.dropdownId}`
                        class="select-input-list dropdown-menu w-100"
                    >
                        <tree-view
                            nodes=state.nodes
                            on-nodeSelected("nodeSelected")
                        />
                    </div>
                </if>
            </div>
        </else>
    </div>
    <span class="ps-2 pe-2">
        <i>${state.item.description}</i>
    </span>
    <if(Array.isArray(state.item.sub))>
        <div class="ms-4 mt-1">
            <for|subItem| of=(state.item.sub)>
                <checklist-form-item
                    item=subItem
                    readonly=input.readonly
                    on-itemValueChanged("itemValueChanged")
                />
            </for>
        </div>
    </if>
</if>
