<if(state.property && state.ticketId)>
    <include(component.getLabelComponent(state.property)) hasLabel=state.hasLabel hasText=state.hasText
        hasIcon=state.hasIcon ticketId=state.ticketId property=state.property value=state.value/>
</if>
