<if(state.show)>
    <div.dialog-main>
        <widget type=component.getWidgetType() isDialog=true minimizable=false title="Neues Objekt erstellen"/>
        <span.kix-icon-close.close-button on-click('closeDialog')/>
    </div>
</if>
