<if(state.show)>
    <div.dialog-main>
        <button on-click('closeDialog')>Schließen</button>
        <div.dialog-title>
            <h2>Dialog</h2>
        </div>
        <div.dialog-content>
            <include(state.dialogTemplate, state.dialogInput)/>
        </div>
    </div>
</if>
