<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<widget
    title=state.title
    instanceId=state.instanceId
    contentActions=state.contentActions>
    <@content>
        <div.criteria-container key="search-criteria-container">
            <if(state.manager)>
                <div.search-criteria>
                    <dynamic-form-field-container
                        manager=state.manager
                        key="search-criteria-dynamic-form"/>
                </div>
                <div.search-limit>
                    <span>
                        <translation-string pattern="Translatable#Limit:"/>
                    </span>
                    <input.input-style type="number" value=state.limit on-input("limitChanged")/>
                </div>
                <div.search-button-container>
                    <button.form-blank-cancel-button
                        type="button"
                        on-click("resetSearch")
                        title=state.translations["Translatable#Reset data"]>
                        <span.kix-icon-delete/>
                        <translation-string pattern="Translatable#Reset data"/>
                    </button>
                    <button.form-blank-submit-button
                        type="button"
                        on-click("search")
                        title=state.translations["Translatable#Start search"]
                        disabled=!state.canSearch>
                        <span.kix-icon-search/>
                        <translation-string pattern="Translatable#Start search" placeholders=[]/>
                    </button>
                </div>
            </if> 
            <loading-shield/>
        </div>
    </@content>
</widget>
