<!--
Copyright (C) 2006-2020 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(!state.loading)>
    <widget title=state.title instanceId=state.instanceId contentActions=state.contentActions>
        <@content>
            <div.criteria-container>
                <div.search-criteria-list>
                    <for|criteria| of=state.displayCriteria>
                        <div.search-criteria-list-item>
                            <div.key title=(criteria[0] + " (" + criteria[1] + ")")>${criteria[0]} (${criteria[1]}):</div>
                            <label-list labels=criteria[2] removeLabels=false/>
                        </div>
                    </for>
                </div>
            </div>
        </@content>
    </widget>
</if>
