<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.action-list-wrapper>
    <ul.action-list key="action-list">
        <if(state.prepared)>
            <for|element| of=state.listDefault>
                <li class={
                    inactive: !element.canRun()
                }>
                    <action action=element displayText=state.displayText/>
                </li>
            </for>
            <if(state.listExpansion && state.listExpansion.length > 0)>
                <li.list-button class=(state.showListExpansion ? "active" : "")>
                    <span.kix-icon-dots on-click("toggleListExpansion")/>
                </li>
            </if>
        </if>
    </ul>
    <if(state.showListExpansion)>
        <div.action-list-expansion-container>
            <ul.action-list-expansion>
                <for|element| of=state.listExpansion>
                    <li class={
                        inactive: !element.canRun()
                    }>
                        <action action=element displayText=true/>
                    </li>
                </for>
            </ul>
        </div>
    </if>
</div>
