<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<macro|
    { actions, icon, text, groupKey, dropstart, style, isExpansion },
| name="action-list-dropdown">
    <div
        key=groupKey
        class=[
            "btn-group",
            {
                dropstart: dropstart,
                "w-100": dropstart,
                "is-expansion": isExpansion,
            },
        ]
        role="group"
        style=style
    >
        <button
            type="button"
            class="btn d-flex align-items-center dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
        >
            <div class="action d-flex overflow-hidden">
                <icon
                    icon=icon
                    class={
                        "me-2": !isExpansion,
                    }
                />
                <if(text)>
                    <span class="text me-2 text-nowrap text-truncate">
                        ${text}
                    </span>
                </if>
            </div>
        </button>
        <ul class="dropdown-menu p-0" key=groupKey + "-list">
            <for|action| of=actions>
                <li
                    class=[
                        "list-group",
                        "list-group-item",
                        {
                            "p-0": action.actions,
                        },
                    ]
                    style=(
                        !action.actions && !action.canRun() ? "cursor:auto" : ""
                    )
                    key=action.key + "-list-element"
                >
                    <if(action.actions)>
                        <action-list-dropdown
                            actions=action.actions
                            icon=action.icon
                            text=action.text
                            groupKey=action.key
                            dropstart
                            key=action.key + "-macro"
                        />
                    </if>
                    <else>
                        <action action=action displayText/>
                    </else>
                </li>
            </for>
        </ul>
    </div>
</macro>

<macro|{ actionList }| name="action-list">
    <for|element| of=actionList>
        <!-- create dropdown -->
        <if(element.actions)>
            <action-list-dropdown
                actions=element.actions
                icon=element.icon
                text=(state.displayText ? element.text : undefined)
                groupKey=element.key
                key=element.key + "-macro"
            />
        </if>
        <!-- create a single action -->
        <else>
            <button
                key=element.key
                type="button"
                class="btn"
                style=(!element.canRun() ? "cursor:auto" : "")
            >
                <action action=element displayText=state.displayText/>
            </button>
        </else>
    </for>
</macro>

<div key="action-list-wrapper" class="action-list-wrapper w-100">
    <div
        key="action-list"
        class="d-flex justify-content-end action-list opacity-0"
        on-click("actionListClicked")
    >
        <div class="btn-group" role="group">
            <action-list actionList=state.listDefault/>
            <if(state.listExpansion && state.listExpansion.length > 0)>
                <action-list-dropdown
                    actions=state.listExpansion
                    icon="kix-icon-dots"
                    isExpansion
                    groupKey="action-list-expansion"
                    key="action-list-expansion-macro"
                />
            </if>
        </div>
    </div>
</div>
