<if(state.formField)>
    <input.input-style class={invalid: state.invalid} value=state.currentValue type="text" placeholder=input.placeholder
        required=input.required on-change('valueChanged') on-blur('focusLost')/>
</if>
