.object-info-overlay {
    z-index: 50;
    position: absolute;
    &.over-dialog {
        z-index: 250;
    }
    .kix-icon-close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: @primary-0;
        font-size: .75em;
    }
}