.object-info-overlay {
    z-index: 100;
    position: absolute;
    .kix-icon-close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: @primary-0;
        font-size: .75em;
    }
}