<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.prepared)>
    <widget
        instanceId=state.instanceId
        title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
        contentActions=state.actions
    >
        <@content>
            <if(state.notification)>
                <div.notification-recipients>
                    <for|property| of=state.properties>
                        <if(component.isLabelList(property))>
                            <object-property-label
                                object=state.notification
                                property=property
                                labelProvider=state.labelProvider
                                noValueTitle
                            >
                                <@value>
                                    <label-list
                                        labels=component.getLabelList(property)
                                        removeLabels=false
                                    />
                                </@value>
                            </object-property-label>
                        </if>
                        <else>
                            <object-property-label
                                object=state.notification
                                property=property
                                labelProvider=state.labelProvider
                            />
                        </else>
                    </for>
                </div>
            </if>
        </@content>
    </widget>
</if>
