<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<tr.toggle-row class={
    opened: state.row && input.open
}>
    <td colspan=input.columnLength>
        <if(input.open && !state.loading)>
            <div.content style=("width: " + state.width)>
                <ul.toggle-actions>
                    <for|action| of=state.actions>
                        <li>
                            <action action=action displayText=false/>
                        </li>
                    </for>
                </ul>
                <div.row-toggle-content-container
                    style={
                                        "min-height": component.calculateToggleContentMinHeight()
                                    }
                    key="row-toggle-content">
                    <div.row-toggle-content>
                        <${component.getToggleTemplate()} ...component.getToggleInput()/>
                    </div>
                </div>
            </div>
        </if>
    </td>
</tr>
