.edit-linked-objects-dialog-container {
    margin-left: 1rem;
    >.group-widget>.widget-header,
    >.group-widget>.widget-content {
        background-color: unset;
    }
    >.group-widget>.widget-content>.linkObjectsFilter {
        margin-bottom: @margin-small;
    }
}