<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.formId && state.prepared)>
    <div.system-settings-form>
        <main-form/>
        <div.button-container>
            <if(!state.completed)>
                <button.kix-button.form-button
                    type="button"
                    on-click("skip")
                    title=(state.translations["Translatable#Skip & Continue"])
                >
                    <span.kix-icon-arrow-outward/>
                    <translation-string pattern="Translatable#Skip & Continue"/>
                </button>
            </if>
            <button.kix-button.submit-button
                type="button"
                on-click("submit")
                title=(state.translations["Translatable#Save & Continue"])
            >
                <span.kix-icon-arrow-outward/>
                <translation-string pattern="Translatable#Save & Continue"/>
            </button>
        </div>
        <loading-shield shieldId="SETUP_SYSTEM_SETTINGS_SHIELD"/>
    </div>
</if>
