.tab-container {
    >.lane-widget {
        >.widget-content {
            .lane-widget {
                .widget();
                box-shadow: unset;

                .widget-content {
                    margin: 0;
                    border: 0;
                    box-shadow: unset;
                }
            }
        }
    }
}