<input list=state.dataListId type="text" on-change('valueChanged') value=state.value/>
<datalist id=state.dataListId>
    <for(user in state.users)>
        <option value=user.UserLogin/>
    </for>
</datalist>
