.overlay-dialog {
    position: fixed;
    left: 22rem;
    right: 22248rem;
    top: 12rem;
    bottom: 10rem;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 250;
}