.overlay-dialog {
    position: fixed;
    left: 22rem;
    right: 22rem;
    top: 12rem;
    bottom: 8rem;
    display: grid;
    justify-content: center;
    align-content: center;
    >.loading-shield {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: 0.2;
        >.loading-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            >.loading-spinner {
                width: 10em;
                height: 10em;
            }
        }
    }
}