<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<th.table-head-cell title=state.title style=("width:" + state.size + "px")>
    <if(state.column)>
        <div.table-head-cell-content
            style={
                height: input.height
            }
            class={
                "with-sortable": state.column.getColumnConfiguration().sortable,
                "filter-is-shown": state.filterIsShown,
                "filter-hovered": state.filterHovered
            }
            on-click("sort")>
            <span.icons>
                <if(
                    state.column.getColumnConfiguration().showColumnIcon &&
                    state.icon
                )>
                    <icon icon=state.icon showUnknown=false/>
                </if>
            </span>
            <div>
                <span.column-tilte-text>
                    <if(state.column.getColumnConfiguration().showColumnTitle)>${state.title}</if>
                </span>
                <if(state.column.getColumnConfiguration().sortable)>
                    <span.sortable class={
                        sorted: state.isSorted,
                        "with-text": state.column.getColumnConfiguration()
                            .showColumnTitle
                    }>
                        <span class=(
                            state.sortOrderDown
                                ? "kix-icon-sort-down"
                                : "kix-icon-sort-up"
                        )/>
                    </span>
                </if>
            </div>
            <if(state.column.getColumnConfiguration().filterable)>
                <column-filter
                    column=state.column
                    on-changeFilterShownState("changeFilterShownState")
                    on-filterHovered("columnFilterHovered")/>
            </if>
        </div>
        <if(state.column.getColumnConfiguration().resizable)>
            <div.move-point on-mousedown("mousedown")/>
        </if>
    </if>
</th>
