.form {
    padding-left: @margin-widget-content;
    .form-field {
        &:not(:last-child) {
            margin-bottom: @margin-small;
        }
        min-height: 2em;
        display: grid;
        grid-template-columns: 14.5rem 2rem auto max-content max-content;
        >.field-label {
            white-space: nowrap;
            font-weight: bold;
            margin-top: .25rem;
            display: grid;
            grid-template-columns: auto max-content;
            >span.label-text {
                .shorten-text;
                text-align: right;
                >.required-field {
                    &:after {
                        content: " ";
                    }
                }
            }
            &:after {
                content: ":"
            }
        }
        >.field-icon {
            margin-top: .25rem;
            margin-left: .25rem;
        }
        >.form-separator {
            grid-column: 3;
            width: 100%;
            background-color: @secondary-3;
            align-self: center;
            height: 1px;
        }
    }
    >.group-widget,
    >div>.group-widget {
        background-color: unset;
        >.widget-header {
            background-color: unset;
        }
        >.widget-content {
            background-color: unset;
            margin-left: 0;
        }
    }
}