.history-content {
    padding: .5em 2em 1em;
    .history-filter {
        margin-bottom: .5em;
        .header {
            font-weight: 600;
            display: inline-block;
            margin-right: 2em;
        }
        input[type=text] {
            border: 1px solid #bcbcbc;
            margin-right: .5em;
        }
        span[class^="kix-icon-"],
        span[class*=" kix-icon-"] {
            color: #5b5b5b;
            font-size: 1.25em;
            cursor: pointer;
        }
    }
    .history-container {
        overflow: auto;
        padding: 0 1.5em;
    }
}