<form-list nodes=state.nodes placeholder=(state.field.required ? "Verwendungsstatus" : "")
    selectedNodes=state.currentNodes required=state.field.required on-nodesChanged('deploymentStateChanged')
    invalid=state.invalid multiselect=state.multiselect/>
