.field-input {
    .dropdown {
        >div.input-style {
            position: relative;
            padding-right: @default-input-height;
            &.read-only {
                background-color: @secondary-4;
            }
            >input[type="text"].input-style {
                border: 0;
                margin-top: -1px;
                background: 0;
            }
            >.selected-item {
                height: .75em;
                margin-top: .5em;
                background-color: @secondary-5;
                border-radius: @border-radius;
                padding-left: 0.25em;
                padding-right: 0.25em;
                display: grid;
                grid-template-columns: 1.5em auto 1.5em;
                justify-content: center;
                align-content: center;
            }
            >.dropdown-button {
                background-color: @secondary-4;
                color: @secondary-2;
                width: @default-input-height;
                height: 100%;
                line-height: @default-input-height;
                text-align: center;
                border-radius: @border-radius;
                border-left: 1px solid @secondary-3;
                box-sizing: border-box;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        >.dropdown-list {
            position: absolute;
            top: 2em;
            left: 0;
            right: 0;
            max-height: 10em;
            overflow: auto;
            list-style: none;
            border: 1px solid @secondary-4;
            background-color: @secondary-2;
            .dropdown-item {
                display: grid;
                grid-template-columns: 2em auto;
                align-items: center;
                height: 2em;
                &.active {
                    background-color: @secondary-4;
                    font-weight: bold;
                }
            }
        }
    }
}