.dropdown {
    position: relative;
    display: grid;
    grid-template-columns: auto 2em;
    >.dropdown-button {
        background-color: @secondary-3;
        line-height: 2em;
        text-align: center;
    }
    >.dropdown-list {
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
        max-height: 10em;
        overflow: auto;
        list-style: none;
        border: 1px solid @secondary-4;
        background-color: @secondary-2;
    }
    >.selected-item {
        position: absolute;
        display: grid;
        background-color: #c6c6c6;
        padding-left: 0.25em;
        padding-right: 0.25em;
        top: 50%;
        transform: translateY(-50%);
        grid-template-columns: 1.5em auto 1.5em;
        justify-items: center;
        align-items: center;
        margin-left: 1em;
    }
}