.field-input {
    .dropdown {
        position: relative;
        >div.input-style {
            position: relative;
            padding: 0 @default-input-height 0 0;
            &.read-only {
                background-color: @secondary-4;
            }
            >input[type="text"].input-style {
                border: 0;
                margin-top: -1px;
                background: 0;
            }
            >.selected-item-container {
                display: inline-block;
                margin-left: @margin-small;
                >.selected-item {
                    height: 1.25rem;
                    margin-top: .125rem;
                    background-color: @secondary-5;
                    border-radius: @border-radius;
                    padding: 0 @margin-small;
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    grid-gap: @margin-small;
                    span:first-child.kix-icon* {
                        font-size: .875rem;
                        line-height: .5rem;
                    }
                    .kix-icon-close {
                        font-size: .75rem;
                    }
                }
            }
            >.dropdown-button {
                background-color: @secondary-4;
                color: @secondary-2;
                width: @default-input-height;
                height: 100%;
                line-height: @default-input-height;
                text-align: center;
                border-radius: @border-radius;
                border-left: 1px solid @secondary-3;
                box-sizing: border-box;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        >.dropdown-list {
            z-index: 1;
            position: absolute;
            top: @default-input-height;
            left: 0;
            right: 0;
            max-height: 10em;
            overflow: auto;
            list-style: none;
            border: 1px solid @secondary-4;
            background-color: @secondary-2;
            .dropdown-item {
                display: grid;
                grid-template-columns: 2em auto;
                align-items: center;
                height: 2em;
                &.active {
                    background-color: @secondary-4;
                    font-weight: bold;
                }
            }
        }
    }
}