.import-container {
    margin-left: 1.5rem;
    .import-attributes-container {
        .import-attributes {
            margin-left: @form-property-column + @form-property-hint-column;
        }
    }
    >.object-table {
        margin: 4rem 0 0 1rem;
        .object-table-head {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-gap: @margin-default;
            margin-bottom: @margin-small;
            align-items: center;
            >span:first-child {
                font-weight: bold;
                display: inline-block;
            }
        }
    }
    >.dialog-button-container {
        padding-right: 0;
        margin-left: 1rem;
    }
}