.tools-col {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    .static-tools,
    .dynamic-tools {
        >div {
            .color-theme-6;
            box-sizing: border-box;
            width: 32px;
            height: 32px;
            text-align: center;
            margin-bottom: 2px;
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
            box-shadow: @shadow;
            &.select-active {
                .color-theme-7;
            }
            &>span {
                .vertical-align;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .static-tools.config-mode {
        z-index: 100;
        position: relative;
    }
    .dynamic-tools {
        margin-top: 10em;
    }
    #content-settings-select,
    #information-select {
        .color-theme-8;
    }
}

.sidebar {
    float: right;
    height: 100%;
    padding-top: 77px;
    >div {
        box-sizing: border-box;
        width: 192px;
        margin-bottom: 1.5em;
        &:last-of-type {
            margin-bottom: 0;
        }
        .widget-header {
            .color-theme-1;
        }
        .widget-content {
            min-height: 160px;
        }
    }
}

// .sidebar-container {
//     .shadow-margin;
//     .clearfix;
//     overflow-x: hidden;
//     margin-right: 5px;
//     #default-sidebars {
//         min-height: 90px;
//     }
//     .sidebar-widget {
//         width: 250px;
//         margin-bottom: 20px;
//         margin-left: 50px;
//         padding: 5px;
//         overflow: hidden;
//         .widget-header {
//             .color-theme-1;
//         }
//         .widget-content {
//             min-height: 10em;
//         }
//     }
// }