<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId="system-admin-logfile-view" title=state.title>
    <@content>
        <div class="logFileView">
            <if(state.prepared)>
                <div class="parameters">
                    <label>
                        <span class="field">
                            ${component.getString("Log Level")}
                        </span>
                        <form-list
                            loadNodes=state.loadLogLevelNodes
                            multiselect
                            placeholder=component.getString("Filter Log Level")
                            readonly=state.run
                            on-nodesChanged("logLevelFilterChanged")
                        />
                    </label>
                    <label>
                        <span class="field">
                            ${component.getString("Tail Lines")}
                        </span>
                        <input
                            type="text"
                            pattern="[0-9]*"
                            value=state.tailCount
                            disabled=state.run
                            onChange("tailCountChanged")
                            class="form-control"
                        >
                    </label>
                    <label>
                        <span class="field">
                            ${component.getString("Refresh Interval(sec)")}
                        </span>
                        <input
                            type="text"
                            pattern="[0-9]*"
                            value=state.refreshInterval
                            disabled=state.run
                            onChange("refreshIntervalChanged")
                            class="form-control"
                        >
                    </label>
                    <label>
                        <span class="field">
                            ${component.getString("Wrap Lines")}
                        </span>
                        <form-list
                            loadNodes=state.loadWrapLinesNodes
                            placeholder="Translatable#Wrap Lines"
                            readonly=state.run
                            on-nodesChanged("wrapLinesChanged")
                        />
                    </label>
                    <label>
                        <span class="field">
                            ${component.getString("Filter")}
                        </span>
                        <input
                            type="text"
                            value=state.filter
                            disabled=state.run
                            on-keydown("keydown")
                            onChange("filterChanged")
                            class="form-control"
                        >
                    </label>
                </div>
            </if>
            <div class="content" no-update>
                <textarea key=state.editorId/>
            </div>
        </div>
    </@content>
</widget>
