<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(!state.loading)>
    <if(state.url)>
        <if(!state.isExternalUrl)>
            <a href=state.url on-click("linkClicked")>
                <if(input.content)>
                    <${input.content}/>
                </if>
            </a>
        </if>
        <else>
            <a href=state.url target="_blank">
                <if(input.content)>
                    <${input.content}/>
                </if>
            </a>
        </else>
    </if>
    <else-if(input.content)>
        <div on-click("linkClicked")>
            <${input.content}/>
        </div>
    </else-if>
</if>
