<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(
   state.prepared &&
   Array.isArray(state.visibleActions) &&
   state.visibleActions.length > 0
)>
   <div class="btn-group">
      <for|action| of=state.visibleActions>
         <button
            type="button"
            class="btn btn-sm btn-outline-secondary mt-1 d-flex align-items-center"
            on-click("actionClicked", action)
         >
            <icon icon=action.icon withoutStyle/>
            <translation-string pattern=action.text/>
         </button>
      </for>
   </div>
</if>
