<widget instanceId=state.instanceId icon="kix-icon-man-house" title=state.title>
    <@headerContent>
        <filter on-filter('filter')/>
    </@headerContent>
    <@content>
        <if(state.standardTable)>
            <standard-table standardTable=state.standardTable/>
        </if>
    </@content>
</widget>
