<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<tr class={
    "fist-column-fixed": component.firstColumnIsFixed()
} style=("height: " + component.getHeaderHeight())>
    <if(component.isSelectable())>
        <th.check>
            <input style=("height: " + component.getHeaderHeight()) type="checkbox" on-click("selectionChanged") key="allCheck"/>
        </th>
    </if>
    <for|column| of=state.columns>
        <table-head-cell height=component.getHeaderHeight() column=column/>
    </for>
    <th.column-spacer/>
    <if(component.isToggleable())>
        <th.toggle>
            <if(state.toggleAll)>
                <if(state.closeAll)>
                    <span.kix-icon-all-close on-click("toggleAll", false)/>
                </if>
                <else>
                    <span.kix-icon-all-open on-click("toggleAll", true)/>
                </else>
            </if>
        </th>
    </if>
</tr>
