<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.field && state.prepared)>
    <div class="set-attachment-rule-entry">
        <div>
            <span>${state.labelPatternFilename}:</span>
            <input
                class=[
                    "input-style",
                    {
                        invalid: state.invalid,
                    },
                ]
                value=state.currentPatternFilename
                type="text"
                required
                on-blur("focusLost")
                on-input("valueFilenameChanged")
            >
        </div>
        <div>
            <span>${state.labelPatternContentType}:</span>
            <input
                class=[
                    "input-style",
                    {
                        invalid: state.invalid,
                    },
                ]
                value=state.currentPatternContentType
                type="text"
                required
                on-blur("focusLost")
                on-input("valueContentTypeChanged")
            >
        </div>
        <div>
            <span>${state.labelPatternDisposition}:</span>
            <input
                class=[
                    "input-style",
                    {
                        invalid: state.invalid,
                    },
                ]
                value=state.currentPatternDisposition
                type="text"
                required
                on-blur("focusLost")
                on-input("valueDispositionChanged")
            >
        </div>
    </div>
</if>
