@primary0: #096392;
@primary1: #0A7CB3;
@primary2: #008DD2;
@primary3: #7CB6D7;
@primary4: #B6D6E8;

@secondary0: #5B5B5B;
@secondary1: #9E9E9E;
@secondary2: #C6C6C6;
@secondary3: #E3E3E3;
@secondary4: #ECECEC;
@secondary5: #F5F5F5;

@tertiary0: #82C826;
@tertiary1: #EF7F1A;
@tertiary2: #E31E24;
@tertiary3: #009846;
@tertiary4: #FFED00;

@black: #000;
@white: #FFF;

@primaryXYZ: blue; /* TODO: ask for color code - article widget */