// TODO: ggf. in die aufrufende Komponente? --> nicht immer gleiche Größe/Farbe
.overlay-info-icon {
    color: @secondary-0;
    font-size: 0.625rem;
    &.overlay-shown {
        color: @tertiary-1;
    }
}