<div.sidebar-area>
    <if(!state.loading && state.showSidebar)>
        <for|sidebar| of=state.sidebars>
            <div.sidebar>
                <${component.getSidebarTemplate(sidebar.instanceId)} ...{
                    instanceId: sidebar.instanceId,
                    minimizable: false,
                    contextType: state.contextType
                }/>
            </div>
        </for>
    </if>
</div>
