<widget instanceId=input.instanceId minimizable=false
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "Kunde") type=64>
    <@icon>
        <span.kix-icon-man/>
    </@icon>
    <@content>
        <if(state.customer)>
            <customer-info customer=state.customer/>
        </if>
    </@content>
    <@filter/>
    <@contentActions/>
</widget>
