<widget
    instanceId=input.instanceId
    minimizable=false
    contextType=state.contextType
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "Customer")
    icon=(state.widgetConfiguration && state.widgetConfiguration.icon ? state.widgetConfiguration.icon : "kix-icon-man")>
    <@content>
        <!-- <ticket-customer-info customerId=state.customerId groups=state.groups/> -->
        <h1>FIX ME!</h1>
    </@content>
</widget>
