<widget instanceId=input.instanceId>
    <@icon/>
    <@title>
        <if(state.widgetConfiguration)>${state.widgetConfiguration.title}</if>
    </@title>
    <@content>
        <if(state.customer)>
            <customer-info customer=state.customer/>
        </if>
    </@content>
    <@filter/>
    
    <@contentActions/>
</widget>
