<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.ci-category-explorer>
    <widget
        instanceId=state.instanceId
        title=(
            state.widgetConfiguration
                ? state.widgetConfiguration.title
                : "Translatable#Asset Classes"
        )>
        <@content>
            <if(state.nodes)>
                <filter
                    on-filter("filter")
                    key="asset-class-chooser-filter"
                    showFilterCount=false/>
                <tree
                    tree=state.nodes
                    activeNode=state.activeNode
                    filterValue=state.filterValue
                    on-nodeClicked("activeNodeChanged")/>
            </if>
        </@content>
    </widget>
</div>
