<!doctype html>
<html lang="de">
    <head>
        <title>KIX 2018</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/kix.ico"/>
        <lasso-head/>
    </head>
    <body>
        <_login logout=input.data.logout/>
        <script src="/static/thirdparty/polyfill-array.js"/>
        <script src="/static/thirdparty/bluebird.min.js"/>
        <script src="/static/thirdparty/socket.io.js"/>
        <lasso-body/>
    </body>
</html>
