<if(!state.loading && state.formId)>
    <widget instanceId="search-contact-dialog">
        <@icon>
            <span.kix-icon-ticket/>
        </@icon>
        <@content>
            <main-form formId=state.formId/>
        </@content>
    </widget>
</if>
<else>
    <loading-spinner/>
</else>
