<div.toast-content>
    <div.toast-icon>
        <icon icon=input.icon/>
    </div>
    <div.toast-text>
        <b title=(input.title || "")><translation-string pattern=(input.title || "")/></b>
        <p title=input.text>
            <translation-string pattern=input.text/>
        </p>
    </div>
</div>
