<div.toast-content>
    <div.toast-icon>
        <icon icon=input.icon/>
    </div>
    <div.toast-text>
        <b title=(input.title || "")>${(input.title || '')}</b>
        <p title=input.text>${input.text}</p>
    </div>
</div>
