<div.tab-bar>
    <ul.tab-list>
        <li.tab-entry on-click("openDialog", "ticket")>Ticket</li>
        <li.tab-entry>Config Item</li>
        <li.tab-entry>Service</li>
        <li.tab-entry>Kunde</li>
        <li.tab-entry>FAQ</li>
        <li.tab-entry>KPI/Bericht</li>
        <li.tab-entry>Termin</li>
    </ul>
</div>
<div.create-content/>
