.tab-bar {
    width: 100%;
    height: 64px;
}

.tab-list {
    list-style: none;
}

.tab-entry {
    float: left;
    color: #fff;
    border: 1px solid #000;
    background-color: #555;
    width: 150px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.tab-entry:hover {
    background-color: #ddd;
}

.create-content {
    border: 1px solid #000;
    height: 80%;
}