<div.linkable-objects-form-button-container>
    <button.form-blank-submit-button
        type="button"
        on-click("executeSearch")
        title=state.translation["Translatable#start search"]
        disabled=!state.canSearch>
        <span.kix-icon-search/>
        <translation-string pattern="Translatable#start search"/>
    </button>
</div>
