<div.linkable-objects-form-button-container>
    <button.form-blank-submit-button type="button" on-click("executeSearch") title="Suche starten"
        disabled=(!state.canSearch)>
        <span.kix-icon-search/>
        Suche starten
    </button>
</div>
