<!--
Copyright (C) 2006-2025 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div class="tabbar">
    <if(input.isMobile)>
        <div
            on-click("closeAllTabs")
            class=[
                "tab-closeall",
                {
                    blocked: state.blocked,
                },
            ]
        >
            <translation-string pattern="Close all open tabs"/>
            <span class="fa fa-times"/>
        </div>
    </if>
    <div
        on-click("scrollTabs", true)
        class=[
            "tab-scroll left",
            {
                blocked: state.blocked,
            },
        ]
    >
        <span class="fa fa-caret-left"/>
    </div>
    <div key="tabbar-tab-content" class="tab-content">
        <for|tab| of=state.contextTabs>
            <div
                draggable="true"
                key=tab.contextInstanceId
                active=tab.active
                title=tab.displayText
                on-click("tabClicked", tab)
                on-dblclick("tabDblClicked", tab)
                on-dragstart("drag", tab)
                on-dragover("dragOver", tab)
                on-drop("drop", tab)
                on-auxclick("closeTabWithMMB", tab)
                data-instanceid=tab.contextInstanceId
                data-contexttype=(
                    tab.contextDescriptor
                        ? tab.contextDescriptor.contextType
                        : ""
                )
                data-contextmode=(
                    tab.contextDescriptor
                        ? tab.contextDescriptor.contextMode
                        : ""
                )
                data-objectid=tab.objectid
                data-contextid=(
                    tab.contextDescriptor ? tab.contextDescriptor.contextId : ""
                )
                class=[
                    "tab",
                    {
                        blocked: state.blocked,
                        drag:
                            state.dragOverInstanceId === tab.contextInstanceId,
                    },
                ]
            >
                <div class="tab-icon-container">
                    <if(tab.refresh)>
                        <span
                            on-click("refreshTab", tab)
                            class="kix-icon-arrow-refresh"
                        />
                    </if>
                    <if(tab.pinned)>
                        <span class="fa fa-thumbtack"/>
                    </if>
                    <icon icon=tab.icon/>
                </div>
                <span class="display-text">
                    ${tab.displayText}
                </span>
                <if(!state.blocked && component.canClose())>
                    <span on-click("closeTab", tab) class="fa fa-times"/>
                </if>
            </div>
        </for>
    </div>
    <div
        on-click("scrollTabs", false)
        class=[
            "tab-scroll right",
            {
                blocked: state.blocked,
            },
        ]
    >
        <span class="fa fa-caret-right"/>
    </div>
    <if(!input.isMobile)>
        <div
            on-click("closeAllTabs")
            class=[
                "tab-closeall",
                {
                    blocked: state.blocked,
                },
            ]
        >
            <span class="fa fa-times"/>
        </div>
    </if>
</div>
