<!--
Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget
    contextInstanceId=input.contextInstanceId
    title=(state.translations["Translatable#Help, hints & tricks"])>
    <@content>
        <div class="help-and-info-widget">
            <div>
                <div class="header">
                    <img
                        alt=(state.translations["Translatable#Field Agent App"])
                        src=state.baseRoute +
                        "/static/img/release/kix_field_agent_app.png"
                        class="app-logo">
                    <h2>
                        <translation-string pattern="Translatable#Field Agent App"/>
                    </h2>
                </div>
                <p>
                    <translation-string pattern="Translatable#Technical Customer Service mit KIX - work order documentation, checklists, scheduling, offline information for maintenance and repairs."/>
                </p>
                <div class="app-links">
                    <a
                        href="https://apps.apple.com/de/app/kix-field-agent/id1489588005"
                        target="_blank">
                        <img
                            alt=(
                                state.translations[
                                    "Translatable#Field Agent App (iOS)"
                                ]
                            )
                            src=state.baseRoute +
                            "/static/img/release/" +
                            state.appleImg>
                    </a>
                    <a
                        href="https://play.google.com/store/apps/details?id=com.compl3te.fieldservices"
                        target="_blank">
                        <img
                            alt=(
                                state.translations[
                                    "Translatable#Field Agent App (Android)"
                                ]
                            )
                            src=state.baseRoute +
                            "/static/img/release/" +
                            state.googleImg>
                    </a>
                </div>
            </div>
            <div>
                <div class="header">
                    <img
                        alt=(state.translations["Translatable#Field Agent App"])
                        src=state.baseRoute +
                        "/static/img/release/community.svg"
                        class="app-logo">
                    <h2>
                        <translation-string pattern="Translatable#Community"/>
                    </h2>
                </div>
                <p>
                    <translation-string pattern="Translatable#Tips for getting started quickly with KIX can be found on the KIX YouTube channel. In the forum you can also exchange ideas with other KIX users."/>
                </p>
                <div class="link-list">
                    <a
                        href="https://www.youtube.com/watch?v=CqCNIvdhayo&list=PLyKz2PdXNlw3b13FZEPP9CcFMTFRvFQh-"
                        target="_blank"
                        class="link-entry">
                        <img
                            alt=(state.translations["Translatable#Youtube"])
                            src=state.baseRoute +
                            "/static/img/release/youtube.svg">
                        <span>
                            ${state.translations[
                                "Translatable#Quick Start Guide"
                            ]}
                        </span>
                    </a>
                    <a
                        href="https://forum.kixdesk.com/"
                        target="_blank"
                        class="link-entry">
                        <img
                            alt=(state.translations["Translatable#Forum"])
                            src=state.baseRoute +
                            "/static/img/release/forum.svg">
                        <span>
                            ${state.translations["Translatable#KIX Forum"]}
                        </span>
                    </a>
                </div>
            </div>

            <if(state.hasConfigAccess)>
                <div>
                    <div class="header">
                        <img
                            alt=(state.translations["Translatable#Manuals"])
                            src=state.baseRoute +
                            "/static/img/release/manual.svg"
                            class="app-logo">
                        <h2>
                            <translation-string pattern="Translatable#Manuals"/>
                        </h2>
                    </div>
                    <p>
                        <translation-string pattern="Translatable#For a more intensive introduction to the use and administration of KIX, you will find the latest manuals in the online documentation."/>
                    </p>
                    <div class="link-list">
                        <if(state.userManualLink)>
                            <a
                                href=state.userManualLink
                                target="_blank"
                                class="link-entry">
                                <img
                                    alt=(
                                        state.translations[
                                            "Translatable#User Manual"
                                        ]
                                    )
                                    src=state.baseRoute +
                                    "/static/img/release/manual-user.svg">
                                <span>
                                    ${state.translations[
                                        "Translatable#User Manual"
                                    ]}
                                </span>
                            </a>
                        </if>
                        <if(state.adminManualLink)>
                            <a
                                href=state.adminManualLink
                                target="_blank"
                                class="link-entry">
                                <img
                                    alt=(
                                        state.translations[
                                            "Translatable#Admin Manual"
                                        ]
                                    )
                                    src=state.baseRoute +
                                    "/static/img/release/manual-admin.svg">
                                <span>
                                    ${state.translations[
                                        "Translatable#Admin Manual"
                                    ]}
                                </span>
                            </a>
                        </if>

                        <if(state.selfServiceManualLink)>
                            <a
                                href=state.selfServiceManualLink
                                target="_blank"
                                class="link-entry">
                                <img
                                    alt=(
                                        state.translations[
                                            "Translatable#Self Service Manual"
                                        ]
                                    )
                                    src=state.baseRoute +
                                    "/static/img/release/selfserviceportal.svg">
                                <span>
                                    ${state.translations[
                                        "Translatable#Self Service Manual"
                                    ]}
                                </span>
                            </a>
                        </if>
                    </div>
                </div>
            </if>
        </div>
    </@content>
</widget>
