// default "css"
#kix-app {
    background: @secondary-5;
    color: @secondary-2;
    font-family: Carlito, Arial, Helvetica, sans-serif;
    font-size: @default-font-size;
    #mutable-content {
        height: 100%;
        margin-left: 150px;
        margin-bottom: 20px;
        #kix-sidebars {
            float: right;
        }
        #mutable-content-area {
            margin-right: 50px;
            min-width: 500px;
            overflow-x: hidden;
            #mutable-content-routing {
                .shadow-margin;
                margin-bottom: 18px;
                #kix-breadcrumb {
                    .height-0;
                    .color-theme-4;
                    width: 100%;
                    margin-bottom: 3px;
                    box-shadow: @shadow;
                    padding: 5px;
                    #kix-list-skimmer {
                        .color-theme-9;
                        float: right;
                    }
                }
                #kix-back {
                    .color-theme-9;
                    padding: 5px 10px;
                    box-shadow: @shadow;
                }
            }
            #kix-widgetbar-container {
                float: left;
                .shadow-margin;
            }
            #kix-content {
                float: left;
                .shadow-margin;
                width: 100%;
            }
        }
    }
    #footer {
        .clearfix;
        font-size: @default-font-size - 2;
        text-align: center;
    }
}