// uses colors.less and "exports" colors for background and font
.color_theme_0() {
    @bc_color:   @primary_0;
    background:  @bc_color;
    @font_color: @default_light_font_color;
    color:       @font_color;
}
.color_theme_1() {
    @bc_color:   @primary_1;
    background:  @bc_color;
    @font_color: @default_light_font_color;
    color:       @font_color;
}
.color_theme_2() {
    @bc_color:   @primary_2;
    background:  @bc_color;
    @font_color: @default_light_font_color;
    color:       @font_color;
}
.color_theme_3() {
    @bc_color:   @secondary_2;
    background:  @bc_color;
    @font_color: @secondary_0;
    color:       @font_color;
}
.color_theme_4() {
    @bc_color:   @secondary_6;
    background:  @bc_color;
    @font_color: @default_dark_font_color;
    color:       @font_color;
}
.color_theme_5() {
    @bc_color:   @tertiary_5;
    background:  @bc_color;
    @font_color: @default_light_font_color;
    color:       @font_color;
}

.vertical_align() {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

@default_font_size: 12px;

// default "css"
#kix_app {
    background: @secondary_5;
    color: @secondary_2;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: @default_font_size;
    #mutable_content {
        height: 100%;
        margin-left: 150px;
        margin-bottom: 20px;
        #kix_sidebars {
            float: right;
        }
        #mutable_content_area {
            margin-right: 50px;
            min-width: 500px;
            overflow-x: hidden;
            #mutable_content_routing {
                margin-bottom: 50px;
                #kix_breadcrumb {
                    background: @secondary_6;
                    color: @default_dark_font_color;
                    height: 50px;
                    width: 100%;
                    margin-bottom: 10px;
                }
                #kix_back {
                    background: @secondary_6;
                    padding: 5px 10px;
                }
            }
            #kix_widgetbar_container {
                float: left;
            }
            #kix_content {
                float: left;
            }
        }
    }
    #footer {
        .clear;
        font-size: @default_font_size - 2;
        text-align: center;
    }
}

.hidden {
    display: none;
}
.clear {
    clear: both;
}