@import "../colors.less";

.color_theme_0() {
    background: @primary_0;
    color: @default_ligth_font_color;
}
.color_theme_1() {
    background: @primary_1;
    color: @default_ligth_font_color;
}
.color_theme_2() {
    background: @primary_2;
    color: @default_ligth_font_color;
}
.color_theme_3() {
    background: @secondary_2;
    color: @secondary_0;
}
.color_theme_4() {
    background: @secondary_6;
    color: @default_dark_font_color;
}

.app_background() {
    background: @secondary_5;
    color: @secondary_2;
}
.breadcrumb() {
    background: @secondary_6;
    color: @default_dark_font_color;
}
.kix_back() {
    background: @secondary_6;
}