#header,
.dialog-header {
    .color-theme-0;
    margin-bottom: 2.5em;
    height: 87px;
    border-bottom: 6px solid @tertiary-0;
    & #kix-logo {
        background: @secondary-6;
        top: 10px;
        position: relative;
        padding: 3px 3px 3px 15px;
        width: 60px;
        height: 60px;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        & img {
            height: 60px;
        }
    }
}

.dialog-header {
    margin-bottom: 0;
}