#header {
    .color_theme_0;
    width: 100%;
    margin-bottom: 30px;
    & div:first-child {
        height: 87px;
        & #kix_logo {
            background: @secondary_6;
            top: 10px;
            position: relative;
            padding: 3px 3px 3px 15px;
            width: 60px;
            height: 60px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            & img {
                height: 60px;
            }
        }
    }
    & div:last-child {
        background: @tertiary_0;
        height: 6px;
    }
}