#menu {
    height: 100%;
    float: left;
    width: 10px;
    font-weight: bold;
    ul {
        .color_theme_0;
        margin: 0px;
        list-style: none;
        padding: 0px;
        padding-left: 3px;
        li {
            .color_theme_2;
            height: 50px;
            width: 80px;
            border-top: 1px solid lighten(@bc_color,10%);
            border-bottom: 1px solid darken(@bc_color,15%);
            &:first-child {
                border-top-right-radius: 5px;
            }
            &:last-child {
                border-bottom-right-radius: 5px;
            }
            &.active {
                .color_theme_0;
                width: 85px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-top: 1px solid lighten(@bc_color,10%);
                border-bottom: 1px solid darken(@bc_color,25%);
            }
            // TODO: should be removed or replaced with other link solution
            a {
                text-decoration: none;
                color: inherit;
                div {
                    .vertical_align;
                    text-align: center;
                }
            }
        }
        &#main_menu_extra {
            margin-top: 2px;
            .color_theme_5;
            li {
                .color_theme_1;
                border-top: 1px solid lighten(@bc_color,10%);
                border-bottom: 1px solid darken(@bc_color,15%);
            }
        }
    }
}