#menu {
    width: 100px;
    height: 100%;
    float: left;
    ul {
        .color_theme_2;
        margin: 0px;
        list-style: none;
        li {
            .color_theme_2;
            height: 50px;
            width: 80px;
            border: 1px solid black;
            // TODO: possible removeable
            a {
                text-decoration: none;
            }
        }
        li:active {
            .color_theme_0;
            border-top-right-radius: 50;
            border-bottom-right-radius: 50;
            width: 85px;
        }
        &#main_menu_extra {
            margin-top: 5px;
            li {
                .color_theme_1;
            }
        }
    }
}