.widget_header {
    .color_theme_3;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    font-size: @default_font_size * 2;
}

.widget_content {
    .color_theme_4;
    min-height: 14.9vh;
    padding: 2px;
}