.widget-header {
    .color-theme-3;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    font-size: @default-font-size * 2;
}

.widget-content {
    .color-theme-4;
    min-height: 14.9vh;
    padding: 2px;
}