<if(state.content)>
    <if(state.base64)>
        <img.svg-icon src=state.content title=input.title/>
    </if>
    <else>
        <span class=state.content title=input.title>
            <span.path1/>
            <span.path2/>
        </span>
    </else>
</if>
