<span.icon>
    <if(state.content)>
        <if(state.base64)>
            <img.svg-icon src=state.content title=input.title key=state.iconId alt=input.title/>
        </if>
        <else>
            <span class=state.content title=input.title key=state.iconId>
                <span.path1/>
                <span.path2/>
            </span>
        </else>
    </if>
</span>
