<span.quick-search-input>
    <input on-click('searchInputClicked') disabled=state.searching type="text" placeholder="| Schnellsuche"
        value=state.searchValue on-keyup('searchValueChanged')/>
    <span.kix-icon-search-quick title="Suchen" on-click('searchClicked')/>
</span>
