.quick-search-input {
    margin: 0;
    width: 19.5rem;
    >.filter {
        .font-size-normal;
        >input {
            height: @header-inputs-height;
            width: 17.5rem;
        }
        >span.icon {
            .icon-font-size-normal;
        }
    }
}