@default-widget-header-height: @margin-default;
@overlay-widget-header-height: 1.75rem;
@widget-header-grid-gap: .75rem;
.widget(@header-background: @secondary-2, @header-color: @secondary-0, @widget-header-height: @default-widget-header-height, @widget-header-action-separator-color: @secondary-1) {
    position: relative;
    box-sizing: border-box;
    box-shadow: @shadow-1;
    >.widget-header {
        background: @header-background;
        color: @header-color;
        box-sizing: border-box;
        padding: 0 .75em;
        height: @widget-header-height;
        white-space: nowrap;
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-gap: @widget-header-grid-gap;
        grid-template-rows: @widget-header-height;
        >.header-left {
            line-height: @widget-header-height;
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            grid-gap: @widget-header-grid-gap;
            &.with-icon {
                grid-template-columns: min-content;
                >[class^="kix-icon-"],
                >[class*=" kix-icon-"] {
                    line-height: @widget-header-height;
                    .icon-font-size-normal();
                }
                >span.icon {
                    >[class^="kix-icon-"],
                    >[class*=" kix-icon-"] {
                        line-height: @widget-header-height;
                        .icon-font-size-normal();
                    }
                }
            }
            >h2 {
                .shorten-text;
                display: inline;
                line-height: @widget-header-height;
                padding-top: .125rem;
                &.minimizable {
                    cursor: pointer;
                }
            }
        }
        >.header-right {
            justify-self: right;
            display: grid;
            grid-gap: @widget-header-grid-gap;
            grid-template-columns: 8fr 2fr;
            line-height: @widget-header-height;
            text-align: right;
            >.minimize-icon-wrapper,
            >.close-icon-wrapper {
                display: grid;
                align-content: center;
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    .icon-font-size-normal;
                }
            }
            >.action-list-wrapper {
                >.action-list {
                    height: @widget-header-height;
                    >li {
                        color: @header-color;
                    }
                }
                .action-list-expansion-container {
                    background-color: @header-background;
                    .action-list-expansion {
                        color: @header-color;
                        li {
                            border-top: 1px solid @widget-header-action-separator-color;
                        }
                    }
                }
            }
        }
        >input[type=text] {
            margin-top: 6px;
        }
    }
    >.widget-content {
        background: @secondary-6;
        color: @default-dark-font-color;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        >div.content-actions {
            background-color: @secondary-3;
            color: @secondary-0;
            border-bottom-left-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
            margin-bottom: 1.5em;
            .action-list-expansion-container {
                background-color: @secondary-3;
                color: @secondary-0;
                .action-list-expansion {
                    li {
                        border-top: 1px solid @secondary-2;
                    }
                }
            }
        }
        >ul.content-actions {
            list-style: none;
            position: absolute;
            width: 2em;
            right: -2em;
            top: 0;
            li {
                border: 1px solid @primary-2;
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
                border-left: 0 none;
                margin: 2px 0 2px 1px;
                height: 2em;
                color: @primary-2;
                background-color: @secondary-6;
                text-align: center;
                box-sizing: border-box;
                box-shadow: @shadow-1;
                display: grid;
                align-content: center;
                cursor: pointer;
                &:first-of-type {
                    margin-top: .5em;
                }
                &:last-of-type {
                    margin-bottom: .5em;
                }
                label {
                    display: none;
                }
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    font-size: 1.25em;
                }
            }
        }
    }
}

.container-draggable .widget .widget-header .header-left h2 {
    & [class^="kix-icon-"],
    & [class*=" kix-icon-"] {
        display: none;
    }
}

.content-widget {
    .widget();
}

.lane-tab-widget {
    .widget();
    box-shadow: unset;
}

.sidebar-widget {
    .widget(@primary-2, @default-light-font-color, @widget-header-action-separator-color: @secondary-6);
    .widget-header {
        .action-list-wrapper {
            ul.action-list,
            .action-list-expansion-container>ul.action-list-expansion {
                >li {
                    &.inactive {
                        color: @primary-1;
                    }
                    &:hover:not(.list-button):not(.inactive) {
                        color: @primary-5;
                    }
                }
            }
        }
    }
    >.widget-content {
        min-height: 160px;
        padding: 1em;
        overflow-x: auto;
    }
}

.explorer-widget {
    .widget();
    width: @explorer-width;
    height: 100%;
    background-color: @secondary-6;
    >.widget-header {
        padding: 0 .875rem;
        >.header-left {
            grid-gap: 0.875rem;
        }
    }
    >.widget-content {
        overflow: auto;
        padding: 1rem .875rem;
        max-height: 43rem - @default-widget-header-height;
        >span.show-all {
            display: inline-block;
            margin-bottom: 2rem;
            cursor: pointer;
            &:hover {
                color: @primary-0;
            }
            &.active {
                color: @primary-0;
                font-weight: bold;
            }
        }
    }
}

.lane-widget {
    .widget(@primary-2, @secondary-6, 1.75em);
    margin-bottom: .75em;
    box-shadow: unset;
    >.widget-header {
        padding-left: @margin-default + 1rem;
        border-radius: @border-radius;
        box-shadow: @shadow-1;
        >.header-left {
            >[class^="kix-icon-"],
            >[class*=" kix-icon-"] {
                .font-size-normal();
            }
            >h2 {
                .font-size-normal();
                margin-bottom: 0;
                font-weight: bold;
                padding-top: 1px;
            }
        }
    }
    >.widget-content {
        margin: 0 @margin-default;
        padding: @margin-small 2em;
        border: 1px solid @primary-2;
        border-top: 0;
        background-color: @secondary-6;
        min-height: 10em;
        box-shadow: @shadow-1;
    }
    &.minimized {
        margin-bottom: .25em;
        >.widget-header {
            padding-left: 1em;
            margin-left: @margin-default;
            color: @secondary-0;
            background-color: @secondary-3;
        }
        >.widget-content {
            display: none;
        }
    }
}

.group-widget {
    .widget(@secondary-6);
    margin-bottom: @margin-small;
    overflow: unset;
    box-shadow: unset;
    >.widget-header {
        padding: 0;
        >.header-left {
            >[class^="kix-icon-"],
            >[class*=" kix-icon-"] {
                .font-size-normal();
            }
            >h2 {
                .font-size-normal();
                color: @secondary-7;
                font-weight: bold;
            }
        }
    }
    >.widget-content {
        border: 0;
        padding: 0;
        margin-left: 1.5em;
        min-height: auto;
    }
    &.minimized {
        >.widget-header {
            border-bottom: 1px solid @secondary-2;
            >.header-left {
                >[class^="kix-icon-"],
                >[class*=" kix-icon-"] {
                    .font-size-normal();
                }
                >h2 {
                    .font-size-normal();
                    color: @secondary-7;
                    font-weight: bold;
                }
            }
        }
    }
}

.dialog-widget {
    .widget(@primary-3, @secondary-6);
    .full-size();
    >.widget-content {
        .full-size();
        top: @default-widget-header-height;
        border: 3px solid @primary-3;
        border-top: none;
        padding: @margin-middle @margin-default;
        >.kix-footer {
            margin: 0;
            height: @margin-middle + .25rem;
            >div:first-child {
                padding-left: 0;
            }
            >div:last-child {
                padding-right: 0;
            }
        }
    }
}

.overlay-dialog-widget {
    .widget(@primary-0, @secondary-6, @overlay-widget-header-height);
    .full-size();
    >.widget-content {
        .full-size();
        top: @overlay-widget-header-height;
        border: 2px solid @primary-0;
        padding: @margin-default (@margin-default + 1rem);
        overflow-y: auto;
        overflow-x: hidden;
    }
}