.widget(@header-background: @secondary-2, @header-color: @secondary-0, @widget-header-height: 2.25em) {
    position: relative;
    border-radius: @border-radius;
    box-sizing: border-box;
    >.widget-header {
        background: @header-background;
        color: @header-color;
        box-sizing: border-box;
        padding: 0 .75em;
        height: @widget-header-height;
        border-top-right-radius: @border-radius;
        border-top-left-radius: @border-radius;
        overflow: hidden;
        white-space: nowrap;
        >.header-left {
            line-height: @widget-header-height;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            >[class^="kix-icon-"],
            >[class*=" kix-icon-"] {
                margin-right: .75em;
                font-size: @h3-font-size;
            }
            >h3 {
                display: inline;
                &.minimizable {
                    cursor: pointer;
                }
            }
            max-width: 60%;
        }
        >.header-right {
            float: right;
            line-height: @widget-header-height;
            text-align: right;
            width: 35%;
            >.minimize-icon-wrapper {
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    vertical-align: middle;
                    display: inline-block;
                    width: 2em;
                    height: 2em;
                    line-height: 2em;
                    text-align: center;
                    cursor: pointer;
                }
            }
            >.action-list-wrapper {
                display: inline-block;
            }
        }
        >input[type=text] {
            margin-top: 6px;
        }
    }
    >.widget-content {
        background: @secondary-6;
        color: @default-dark-font-color;
        position: relative;
        border-bottom-right-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        box-sizing: border-box;
        height: 100%;
        >div.content-actions {
            background-color: @secondary-3;
            color: @secondary-0;
            border-bottom-left-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
            margin-bottom: 1.5em;
            .action-list-expansion-container {
                background-color: @secondary-3;
                color: @secondary-0;
                .action-list-expansion {
                    li {
                        border-top: 1px solid @secondary-2;
                    }
                }
            }
        }
        >ul.content-actions {
            list-style: none;
            position: absolute;
            float: right;
            width: 2em;
            right: -2em;
            top: 0;
            li {
                border: 1px solid @primary-2;
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
                border-left: 0 none;
                margin: 2px 0 2px 1px;
                height: 2em;
                color: @primary-2;
                background-color: @secondary-6;
                text-align: center;
                box-sizing: border-box;
                padding-top: 3px;
                cursor: pointer;
                &:first-of-type {
                    margin-top: .5em;
                }
                &:last-of-type {
                    margin-bottom: .5em;
                }
                label {
                    display: none;
                }
                [class^="kix-icon-"],
                [class*=" kix-icon-"] {
                    font-size: 1.25em;
                }
            }
        }
    }
}

.container-draggable .widget .widget-header .header-left h3 {
    & [class^="kix-icon-"],
    & [class*=" kix-icon-"] {
        display: none;
    }
}

.content-widget,
.lane-tab-widget {
    .widget();
}

.overlay-widget {
    @overlay-widget-header-height: 1.75em;
    .widget(@tertiary-1, @secondary-6, @overlay-widget-header-height);
    width: @default-widget-width;
    height: @default-widget-height;
    >.widget-header {
        >.header-right {
            >.action-list-wrapper {
                >.action-list-expansion-container {
                    background-color: @tertiary-1;
                    color: @secondary-6;
                    top: @overlay-widget-header-height;
                }
            }
        }
    }
    >.widget-content {
        .font-size-small();
        border: 2px solid @tertiary-1;
        background-color: @secondary-6;
        overflow: auto;
        padding: @margin-widget-content;
        height: @default-widget-height - @overlay-widget-header-height;
    }
}

.sidebar-widget {
    .widget(@primary-2, @default-light-font-color);
    >.widget-content {
        min-height: 160px;
        padding: 1em;
        overflow-x: auto;
    }
}

.explorer-widget {
    .widget();
    width: @explorer-width;
    &.widget-content {
        height: unset;
        min-height: @explorer-width;
        max-height: 400px;
        overflow: auto;
        padding: 1.25em .75em 1.25em .5em;
    }
}

.lane-widget {
    .widget(@primary-2, @secondary-6, 2em);
    margin-bottom: .75em;
    >.widget-header {
        padding-left: @margin-default;
        border-radius: @border-radius;
        >.header-left {
            line-height: 2em;
            >[class^="kix-icon-"],
            >[class*=" kix-icon-"] {
                .font-size-normal();
            }
            >h3 {
                .font-size-normal();
                margin-bottom: 0;
                font-weight: bold;
                padding-top: 1px;
            }
        }
        >.header-right {
            line-height: 2em;
        }
    }
    >.widget-content {
        margin: 0 2.25em;
        padding: @margin-small @margin-widget-content*2;
        border: 1px solid @primary-2;
        border-top: 0;
        background-color: @secondary-6;
        min-height: 10em;
        >.tab-content {
            margin: @margin-small 0;
            .widget-content {
                .content-actions {
                    right: -4em;
                }
            }
        }
    }
    &.minimized {
        margin-bottom: .25em;
        >.widget-header {
            padding-left: .5em;
            margin-left: 1.75em;
            color: @secondary-0;
            background-color: @secondary-3;
            >.header-left {
                line-height: 2em;
            }
            >.header-right {
                line-height: 2em;
            }
        }
        >.widget-content {
            display: none;
        }
    }
}

.group-widget {
    .widget(@secondary-6);
    margin-bottom: @margin-small;
    >.widget-header {
        padding: 0;
        >.header-left {
            >[class^="kix-icon-"],
            >[class*=" kix-icon-"] {
                .font-size-normal();
            }
            >h3 {
                .font-size-normal();
                color: @secondary-7;
                font-weight: bold;
            }
        }
    }
    >.widget-content {
        border: 0;
        padding: 0;
        margin-left: 1.5em;
        min-height: auto;
        background-color: @secondary-6;
    }
    &.minimized {
        >.widget-header {
            border-bottom: 1px solid @secondary-2;
            >.header-left {
                >[class^="kix-icon-"],
                >[class*=" kix-icon-"] {
                    .font-size-normal();
                }
                >h3 {
                    .font-size-normal();
                    color: @secondary-7;
                    font-weight: bold;
                }
            }
        }
    }
}

.dialog-widget {
    .widget(@primary-0, @secondary-6);
}