.size1of3 .widget {
    height: 192px;
    min-width: 192px;
    overflow: hidden;
}

.size1of1 .widget-content {
    height: auto;
    min-height: 150px;
}

.container-draggable .widget .widget-header .header-left h3 {
    & [class^="kix-icon-"],
    & [class*=" kix-icon-"] {
        display: none;
    }
}

.config-mode.group-widget .widget .widget-header {
    color: @config-color;
    background-color: @secondary-0;
    .header-right span {
        z-index: 1;
        position: relative;
    }
}

.content-widget {
    .widget();
}

.sidebar-widget {
    .widget();
    .widget-header {
        background: @primary-2;
        color: @default-light-font-color;
    }
    .widget-content {
        min-height: 160px;
        padding: .5em;
    }
}

.explorer-widget {
    .widget();
    width: @explorer-width;
    .widget-content {
        height: unset;
        min-height: @explorer-width;
        max-height: 400px;
        overflow: auto;
        padding: 1.25em .75em 1.25em .5em;
    }
}

.lane-widget {
    .widget();
    margin-bottom: .75em;
    .widget-header {
        padding: 0 0.5em 0 2.25em;
        color: @secondary-6;
        background-color: @primary-2;
        border-radius: @border-radius;
        height: 2em;
        .header-left {
            line-height: 2em;
            h3 {
                .font-size-normal();
                margin-bottom: 0;
                font-weight: 600;
                padding-top: 1px;
            }
        }
        .header-right {
            line-height: 2em;
        }
    }
    .widget-content {
        margin: 0 2.25em;
        border: 1px solid @primary-2;
        border-top: 0;
        background-color: @secondary-6;
        overflow: visible;
        min-height: 10em;
        .widget {
            .widget-header {
                padding: 0 0.5em 0 0.5em;
            }
        }
    }
    &.minimized {
        margin-bottom: .25em;
        .widget-header {
            padding-left: 0.5em;
            margin-left: 1.75em;
            color: @secondary-0;
            background-color: @secondary-3;
            .header-left {
                line-height: 2em;
            }
            .header-right {
                line-height: 2em;
            }
        }
        .widget-content {
            display: none;
        }
    }
}

.lane-tab-widget {
    .widget();
}

.group-widget {
    .widget();
    margin: 0 0 .5em;
    &.minimized .widget-header {
        margin-left: 0;
        border-bottom: 1px solid @secondary-2;
        border-radius: 0;
    }
    .widget-header {
        background-color: @secondary-6;
        color: @secondary-7;
    }
    .widget-content {
        border: 0;
        padding: 0;
        min-height: auto;
        .description-attachments {
            float: right;
            max-height: 105px;
            min-width: 250px;
            width: 20%;
            padding: 0 1em;
            box-sizing: border-box;
            ul {
                padding-left: 1em;
                list-style-type: none;
                li {
                    height: 1.5em;
                    line-height: 1.5em;
                    vertical-align: middle;
                }
                img {
                    margin-right: 5px;
                }
            }
        }
        .description-text-wrapper {
            margin-right: 20%;
        }
    }
}