<if(state.contact)>
    <for|properties| of=state.properties>
        <customer-label object=state.contact property=attributeTuple[0] labelProvider=state.labelProvider/>
    </for>
</if>
<else-if(state.error)>
    <span.error>${state.error}</span>
</else-if>
<else>
    <span>
        <translation-string pattern="Translatable#No contact available"/>
    </span>
</else>
