<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<div.button-bar key="buttonbar">
    <span on-click("selectAll")>
        <input.select-all-Checkbox type="checkbox" key="selectAllCheckbox"/>
        <translation-string pattern="Translatable#Select all"/>
    </span>
    <button.kix-button.submit-button
        type="button"
        on-click("submit")
        title=state.translations["Translatable#Submit"]>
        <span.kix-icon-check/>
        <translation-string pattern="Translatable#Submit"/>
    </button>
</div>
