<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<div.tab-container>
    <widget
        instanceId="tab-widget"
        minimizable=state.minimizable
        contentActions=state.contentActions
        title=state.activeTabTitle>
        <@headercontent>
            <if(state.prepared)>
                <ul.tab-list>
                    <for|tab| of=state.tabWidgets>
                        <li
                            title=component.getTitle(tab)
                            class={
                                active: component.isActiveTab(tab.instanceId)
                            }
                            on-click("tabClicked", tab)>
                            <if(component.getIcon(tab))>
                                <icon icon=component.getIcon(tab) showUnknown=false/>
                            </if>
                            <span class={
                                "no-icon": !component.getIcon(tab)
                            }>${component.getTitle(tab)}</span>
                        </li>
                    </for>
                </ul>
            </if>
        </@headercontent>
        <@content>
            <div.tab-sidebar-grid class={
                "has-sidebar": state.hasSidebars,
                "show-sidebar": state.showSidebar
            }>
                <div.tab-content>
                    <if(state.activeTab)>
                        <${component.getWidgetTemplate()} ...{
                            instanceId: state.activeTab.instanceId
                        }/>
                    </if>
                </div>
                <if(state.hasSidebars)>
                    <if(state.showSidebar)>
                        <sidebar contextType=state.contextType/>
                    </if>
                </if>
            </div>
        </@content>
    </widget>
</div>
