<button on-click('openSearchDialog')>Suche bearbeiten</button>
<p>
    Ticketattribute
    <select size=6 multiple on-change('ticketPropertiesChanged')>
        <for(property in state.ticketProperties)>
            <option value=property[0] selected=component.isPropertySelected(property[0])>${property[0]}</option>
        </for>
    </select>
</p>
<router-outlet id="ticket-search"/>
