<!--
Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId=state.instanceId title=(state.widgetConfiguration ? state.widgetConfiguration.title : "")
    contentActions=state.actions>
    <@content>
        <if(state.ciClass)>
            <div.config-item-class-info>
                <div.information-list>
                    <div>
                        <object-property-label object=state.ciClass property="Name" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="ICON" labelProvider=state.labelProvider showText=false/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="Comment" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="ValidID" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="CreateTime" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="CreateBy" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="ChangeTime" labelProvider=state.labelProvider/>
                    </div>
                    <div>
                        <object-property-label object=state.ciClass property="ChangeBy" labelProvider=state.labelProvider/>
                    </div>
                </div>
            </div>
        </if>
    </@content>
</widget>
