<!--
Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<widget instanceId=input.instanceId title="Translatable#Legend" icon="kix-icon-legend">
    <@content>
        <if(state.show)>
            <div.legend>
                <div.legend-item.yellow/>
                <span>
                    <translation-string pattern="Translatable#Changed"/>
                </span>
                <div.legend-item.red/>
                <span>
                    <translation-string pattern="Translatable#Deleted"/>
                </span>
                <div.legend-item.green/>
                <span>
                    <translation-string pattern="Translatable#New"/>
                </span>
                <div.legend-item.gray/>
                <span>
                    <translation-string pattern="Translatable#Not available (not any more or not yet)"/>
                </span>
            </div>
        </if>
    </@content>
</widget>
