<!--
Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->
<p>
    <translation-string pattern=input.text/>
</p>
<if(state.decision)>
    <div.confirm-decision>
        <input type="checkbox" checked=state.decisionChecked on-click("toggleDecision")/>
        <span on-click("toggleDecision")>
            <translation-string pattern=state.decision[1]/>
        </span>
    </div>
</if>
<if(state.hasButtons)>
    <div.confirm-overlay-buttons>
        <button.cancel-button
            key="confirm-cancel-button"
            type="button"
            on-click("closeOverlay", false)
            title=component.getButtonLabel()>
            <span.kix-icon-close/>
            <translation-string pattern=component.getButtonLabel()/>
        </button>
        <button.submit-button
            key="confirm-submit-button"
            type="button"
            on-click("closeOverlay", true)
            title=component.getButtonLabel(true)>
            <span.kix-icon-check/>
            <translation-string pattern=component.getButtonLabel(true)/>
        </button>
    </div>
</if>
