.tab-container {
    >.lane-widget {
        >.widget-header {
            padding-left: @margin-default;
            >.header-left {
                padding-left: 1px;
                >.tab-list {
                    list-style: none;
                    margin-top: .25em;
                    >li {
                        background-color: @primary-4;
                        color: @primary-0;
                        border-top-left-radius: @border-radius;
                        border-top-right-radius: @border-radius;
                        margin-right: .5em;
                        padding: 0 .75em;
                        font-weight: bold;
                        height: 1.5em;
                        line-height: unset;
                        min-width: 13em;
                        box-sizing: border-box;
                        float: left;
                        cursor: pointer;
                        &.active {
                            background-color: @secondary-6;
                        }
                        &:hover {
                            &:not(.active) {
                                background-color: lighten(@primary-4, 20%);
                            }
                            color: lighten(@primary-0, 20%);
                        }
                        >[class^="kix-icon-"],
                        >[class*=" kix-icon-"] {
                            margin-right: @margin-small;
                        }
                    }
                }
            }
        }
        &.minimized {
            >.widget-header {
                >.header-left {
                    >.tab-list {
                        display: none;
                    }
                }
            }
        }
        &:not(.minimized) {
            >.widget-header {
                >.header-left {
                    >h2 {
                        display: none;
                    }
                }
            }
        }
        >.widget-content {
            >div {
                .dialog-widget & {
                    &.tab-sidebar-grid {
                        display: grid;
                        grid-template-columns: auto max-content max-content;
                        grid-column-gap: @margin-default;
                        .site-menu-wrapper {
                            width: 2.25rem
                        }
                    }
                }
                >.tab-content {
                    >.lane-tab-widget {
                        display: unset;
                        >.widget-header {
                            display: none;
                        }
                        >.widget-content {
                            background-color: unset;
                            >ul.content-actions {
                                right: -4rem;
                                >li {
                                    box-shadow: @shadow-1;
                                }
                                >li:first-of-type {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}