<header.clearfix>
    <img#logo alt="KIX Professional 2018" src="static/img/kixpro-logo.png"/>
    <h1>KIX Professional 2018</h1>
    <nav>
        <ul>
            <li>
                <a href="/auth?logout">
                    <span.kix-icon.icon-dummy.icon-menu title="Logout"/>
                </a>
            </li>
        </ul>
    </nav>
</header>
