@import "./../../static/less/theme.less";
#header {
    .header;
    width: 100%;
    margin-bottom: 30px;
}
#header_content {
    height: 90px;
}
#kix_logo {
    background: @secondary_6;
    top: 11px;
    position: relative;
    padding-left: 20px;
    width: 1px;
}
#kix_logo div {
    background: @secondary_6;
    padding: 4px;
    width: 60px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    line-height: 0;
}
#kix_logo div img {
    height: 60px;
}
#header_bottomline {
    .header_line;
    height: 5px;
}