@import "./../../static/less/theme.less";
#header {
    .header;
    width: 100%;
    margin-bottom: 30px;
}
#header #header_content {
    height: 80px;
}
#header #header_bottomline {
    .header_line;
    height: 5px;
}