.wrapper {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background: @secondary-5;
    color: @secondary-2;
    > header {
        .color-theme-0;
        margin-bottom: 2em;
        height: 80px;
        border-bottom: 6px solid @tertiary-0;
        box-sizing: border-box;
        #logo {
            position: relative;
            background-color: @secondary-6;
            top: 9px;
            padding: 2px 2px 2px 14px;
            width: 52px;
            height: 52px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
        }
        h1 {
            display: none;
            margin-left: 1em;
        }
        nav {
            float: right;
            margin: 1.5em 1em 0 0;
            li {
                display: inline-block;
                margin: 0 .5em;

                &:last-oft-type {
                    margin-right: 0;
                }
            }
            .dropdown {
                position: relative;
                min-width: 300px;
                ul {
                    position: absolute;
                    z-index: 2;
                    li {
                        position: relative;
                        display: none;
                        &:first-of-type {
                            display: block;
                            input {
                                background-color: #fff;
                            }
                        }
                        input {
                            padding-left: 2em;
                            border-color: #fff;
                            border-radius: 3px;
                            height: 1.5em;
                            background-color: #f5f5f5;
                            
                        }
                        span.kix-icon {
                            position: absolute;
                            left: 5px;
                            top: 4px;
                        }
                    }
                }
            }
        }
    }
}