<widget
    instanceId=state.instanceId
    title=(state.widgetConfiguration ? state.widgetConfiguration.title : "Translatable#Assigned Roles")
    contentActions=state.actions>
    <@content>
        <if(state.table)>
            <standard-table-NEW table=state.table/>
        </if>
    </@content>
</widget>
