<form-list
    nodes=state.nodes
    placeholder=state.placeholder
    selectedNodes=state.currentNodes
    required=state.field.required
    on-focusLost("focusLost")
    on-nodesChanged("categoryChanged")
    invalid=state.invalid
    multiselect=state.multiselect
    readonly=state.field.readonly/>
