<div#kix_app>
    <kix-header/>
    <kix-menu frontendSocketUrl=data.frontendSocketUrl/>
    <div#mutable_content>
        <kix-sidebar/>
        <div#mutable_content_area>
            <div#mutable_content_routing>
                <kix-breadcrumb/>
                <kix-back/>
            </div>
            <div style="background:black;height:1px;width:100%"/>
            <kix-widgetbar/>
            <kix-content template=data.contentTemplate/>
        </div>
    </div>
    <kix-footer/>
</div>
