.wrapper > section {
    margin: 0 50px 0 50px;
    > .content {
        // float: left;
        // margin-left: 50px;
        // width: 100%;
    }
    > #sidebar + .content {
        margin-right: 290px;
    }
    > header {
        padding: 5px;
        margin-bottom: .75em;
    }
}