.wrapper > section {
    margin: 0 72px 0 104px;
    > .content {
        > header {
            padding: 0 5px;
            margin-bottom: 1em;
        }
    }
    > .sidebar + .content {
        margin-right: 232px;
    }
}