@import "./../../static/theme.less";
#kixapp {
    .app_background;
}
#mutable_content {
    height: 100%;
    margin-left: 150px;
    margin-bottom: 20px;
}
#mutable_content_routing {
    margin-bottom: 50px;
}
#mutable_content_area {
    margin-right: 200px;    
}