<!--
Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
--
This software comes with ABSOLUTELY NO WARRANTY. For details, see
the enclosed file LICENSE for license information (GPL3). If you
did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
--
-->

<if(state.show)>
    <div.image-viewer-container on-click("preventPropagation")>
        <div.image-shield/>
        <div.image-viewer>
            <div.image-viewer-header>
                <div.image-title>${state.image ? state.image.title : ""}</div>
                <div.image-viewer-close on-click("close")>
                    <span.kix-icon-close/>
                </div>
            </div>
            <div.image-container>
                <div.previous-image
                    on-click("previousImage")
                    title=(state.translations["Translatable#Previous Image"])
                >
                    <span.kix-icon-circle-prior/>
                </div>
                <div.image>
                    <if(state.image)>
                        <a
                            href=(state.image.content)
                            download=(state.image.title)
                            title=(
                                state.translations["Translatable#Download"] +
                                " (" +
                                state.image.title +
                                ")"
                            )
                        >
                            <img
                                alt=(state.image.title)
                                src=(state.image.content)
                            >
                        </a>
                    </if>
                </div>
                <div.next-image
                    on-click("nextImage")
                    title=(state.translations["Translatable#Next Image"])
                >
                    <span.kix-icon-circle-next/>
                </div>
            </div>
        </div>
        <div.markdown-container/>
    </div>
</if>
