.form-search-value {
    display: grid;
    grid-template-columns: 3rem minmax(10rem, 30em) minmax(10rem, 30em) minmax(10rem, auto) 3rem;
    align-items: center;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
    >.remove-value {
        cursor: pointer;
    }
}