.form-search-value {
    display: grid;
    grid-template-columns: 4rem 15rem 15rem minmax(10rem, auto) 3rem;
    align-items: center;
    grid-column-gap: 0.5rem;
    margin-bottom: @margin-small;
    >.remove-value {
        cursor: pointer;
    }
}