<div.attachment>
    <span.attachment-icon>
        <icon object="Filetype" objectId=state.extension/>
    </span>
    <span.attachment-link class=(state.progress ? "inactive-link" : "") on-click('download')>
        ${state.attachment.Filename}
    </span>
    <span.file-size>(${state.attachment.Filesize})</span>
</div>
