<icon object="Filetype" objectId=state.extension/>
<span.attachment-link class=(state.progress ? "inactive-link" : "") on-click('download')>
    ${state.attachment.Filename}
</span>
<span>(${state.attachment.Filesize})</span>
