.attachment {
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1.5em auto auto;
    .attachment-link {
        color: @primary-0;
        cursor: pointer;
        white-space: nowrap;
    }
    .inactive-link {
        color: @secondary-0;
        cursor: none;
    }
    .file-size {
        white-space: nowrap;
    }
}