.object-info-overlay-icon {
    color: @secondary-0;
    font-size: 0.625rem;
    &.overlay-shown {
        color: @tertiary-1;
    }
}

// TODO: Großteil der Angaben hinfällig (!important), wenn Overlay nicht innerhalb einer "Lane" wäre
.object-info-overlay {
    position: absolute;
    left: 45%;
    .widget {
        .widget-header {
            display: block !important;
            height: 2rem !important;
            background-color: @tertiary-1 !important;
            color: @secondary-6 !important;
            border-bottom-right-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            .header-left {
                display: block !important;
                h3 {
                    font-weight: 400 !important;
                    font-size: 1rem !important;
                    padding: 0 !important;
                    line-height: 2.25rem !important;
                }
            }
        }
        .widget-content {
            border: 1px solid @tertiary-1 !important;
            background-color: @secondary-6 !important;
            font-weight: normal !important;
        }
    }
    .kix-icon-close {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 0.5rem;
    }
}